@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Light.woff") format("woff")
  font-weight: 100
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-LightOblique.woff") format("woff")
  font-weight: 100
  font-style: italic

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Book.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-BookOblique.woff") format("woff")
  font-weight: 300
  font-style: italic

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Roman.woff") format("woff")
  font-weight: 400
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Oblique.woff") format("woff")
  font-weight: 400
  font-style: italic

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Medium.woff") format("woff")
  font-weight: 500
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-MediumOblique.woff") format("woff")
  font-weight: 500
  font-style: italic

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Heavy.woff") format("woff")
  font-weight: 700
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-HeavyOblique.woff") format("woff")
  font-weight: 700
  font-style: italic

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-Black.woff") format("woff")
  font-weight: 900
  font-style: normal

@font-face 
  font-family: "AvenirLTStd"
  src: url("../fonts/AvenirLTStd-BlackOblique.woff") format("woff")
  font-weight: 900
  font-style: italic