.text-center
  text-align: center

.mobile-hidden
  @media screen and ( max-width: 768px )
    display: none

.tablet-hidden
  @media screen and ( min-width: 768px ) and ( max-width: 1280 px)
    display: none

.desktop-hidden
  @media screen and ( min-width: 1280px )
    display: none

.block-scroll
  height: 100%
  overflow: hidden