@import '../helpers/variables'
@import "~nouislider/distribute/nouislider.css"

.filters__form
  display: flex
  align-items: center
  justify-content: space-between

.filter__column
  &:first-child
    flex: 3

  &:nth-child(2)
    flex: 3
    margin: 0 40px

  &:last-child
    flex: 1

.filter__keyword
  border: 1px solid white
  background-color: rgba(white, 0)
  color: white
  outline: none
  border-radius: 5px
  font-size: 1rem
  font-weight: 100
  padding: 0 15px
  height: 36px
  width: calc(100% - 32px)

  &::placeholder
    color: white

.filter__submit
  background-color: rgba(white, .25)
  border: none
  border-radius: 5px
  color: white
  padding: 0 15px
  font-size: 1rem
  font-weight: 100
  height: 38px
  width: 100%
  transition: all .25s ease-out
  cursor: pointer

  &:hover
    background-color: white
    color: $darkBlue

// Range Slider Style Customization
.noUi-horizontal
  height: 2px
  border: none

  .noUi-handle
    width: 20px
    height: 20px
    border-radius: 10px
    outline: none
    top: 50%
    transform: translateY(-50%)

    &:before, &:after
      display: none

.noUi-connect
  background: $red

.noUi-tooltip
  background-color: white
  border-radius: 30px
  padding: 5px 5px 3px
  line-height: 1
  font-size: .75rem

html:not([dir="rtl"])
  .noUi-horizontal
    .noUi-handle
      right: -10px

// Event Styles
.events-list
  margin-bottom: 190px

.event
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  border-bottom: 1px solid rgba(white, .75)
  margin-bottom: 32px
  padding-bottom: 16px
  &:last-child
    border-bottom-color: transparent
    margin-bottom: 0

.event__meta
  display: flex
  flex: 0 1 auto
  margin-right: 48px

.event__preview
  background-color: rgba(white, .25)
  border-radius: 5px
  width: 110px
  height: 110px
  margin-right: 24px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden

  img
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto

.event__dates
  display: flex
  height: 110px

.date__wrap
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  border: 1px solid white
  padding: 10px
  border-radius: 5px
  font-weight: 900
  line-height: 1
  &--single
    width: 140px

.date__day
  font-size: 2rem

.date__month
  font-size: 1.25rem
  color: $red
  margin-bottom: 5px

.date__deivder
  width: 10px
  position: relative
  margin: 0 5px

  & svg
    stroke: $red
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    height: auto

.event__content
  position: relative
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start
  min-height: 110px
  line-height: 1.4
  &--expanded
    .event__expand-btn
      svg
        stroke: $red
        transform: rotate(-90deg)
    .event__description
      max-height: 99em
      transition: max-height .5s ease-in-out

.event__content__header
  display: flex
  flex-direction: column
  align-items: flex-start

.event__expand-btn
  position: absolute
  right: 0
  width: 48px
  height: 48px
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  border-radius: 4px
  border: none
  background-color: transparent
  &:hover
    background-color: rgba(white, 0.1)
  svg
    width: 16px
    height: 16px
    stroke: white
    transform: rotate(90deg)
    pointer-events: none
    transition: transform 200ms

.event__type
  background-color: $red
  border-radius: 5px
  padding: 2px 10px 0
  font-size: 1rem
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 8px

.event__place
  font-size: 1.125rem

.event__name
  margin-top: 15px
  font-size: 1.5rem
  font-weight: 900
  width: 100%

.event__description
  display: block
  max-height: 0px
  overflow: hidden
  transition: max-height .5s cubic-bezier(0, 1, 0, 1)
  will-change: max-height
  p
    margin: 0

@media screen and ( min-width: 1440px )
  .event
    &__meta
      margin-right: 72px
      margin-bottom: 48px

@media (max-width: 768px)
  .event
    &__meta
      margin-right: 24px
      margin-bottom: 24px
    &__name
      font-size: 1.125rem

@media (max-width: 425px)
  .filters
    margin-top: 50px

  .filters__form
    flex-direction: column

  .filter__column
    flex: 1
    width: 100%

    &:nth-child(2)
      flex: 3
      margin: 30px 0 20px

  .event
    flex-direction: column
    &__meta
      justify-content: space-between
      width: 100%
