.contacts
  margin-top: 36px

  @media screen and ( min-width: 1440px )
    margin-top: 64px

  &__section
    margin-bottom: 36px

  &__title
    font-size: 24px
    font-weight: bold
    margin-bottom: 16px

    @media screen and ( min-width: 768px )
      font-size: 36px

  &__info
    margin: 0
    font-size: 18px

    @media screen and ( min-width: 768px )
      font-size: 24px

    a
      color: white

      &:hover
        color: red

  &__copyright
    font-size: 12px

    @media screen and ( min-width: 768px )
      font-size: 16px

    @media screen and ( min-width: 1440px )
      font-size: 18px