@import '../helpers/variables'
@import '../components/directories-list'

.directories-content-wrapper
  width: 80%

.sports-list
  column-count: 3
  column-gap: 30px

  &__item
    a
      text-decoration: none
      display: inline-flex
      align-items: center
      color: white
      margin-bottom: 20px

      &:hover
        color: $red
      
        svg
          fill: $red

    &-icon
      width: 25px
      height: 25px

      svg
        fill: white
        max-width: 100%
        max-height: 100%

    &-title
      font-weight: 900
      margin-left: 10px

@media (max-width: 425px)
  .sports-list
    column-count: 2