@import '../helpers/variables'
@import '../components/directories-list'
@import '../components/countries-list'

.directories-content-wrapper
  width: 90%
  margin-top: 20px

.committee-list
  &__item
    &-details
      margin-bottom: 20px
      display: flex

    &-image
      max-width: 140px
      width: 100%
      margin-right: 20px

      img
        max-width: 100%
        max-height: 100%

    &-text
      flex: 1

    &-title
      font-size: 1.25rem
      font-weight: 900
      margin-bottom: 15px
      text-decoration: none

      a
        text-decoration: none
        color: white

        &:hover
          color: $red

.contact
  &__row
    display: flex
    margin-bottom: 10px

  &__label
    width: 140px

  &__value
    flex: 1

    a
      color: white

      &:hover
        color: $red

@media (max-width: 1028px)
  .directories-content-wrapper
    width: 100%

@media (max-width: 425px)
  .committee-list
    &__item
      margin-bottom: 50px

      &-details
        display: block

      &-image
        margin-right: 0
        margin-bottom: 15px
        max-width: 100%
        max-height: 100%

        a
          display: block

        img
          width: 100%
          height: auto

  .sports-list
    column-count: 2

  .contact
    &__row
      flex-direction: column

    &__label
      font-weight: 900