@import '../helpers/variables'
@import '../components/directories-list'
@import '../components/members-list'

.directories-content-wrapper
  width: 80%

.filters__form
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 50px

.filter__column
  &:first-child
    margin-right: 40px
    flex: 3

  &:last-child
    flex: 1

.filter__keyword
  border: 1px solid white
  background-color: rgba(white, 0)
  color: white
  outline: none
  border-radius: 5px
  font-size: 1rem
  font-weight: 100
  padding: 0 15px
  height: 36px
  width: calc(100% - 32px)

  &::placeholder
    color: white

.filter__submit
  background-color: rgba(white, .25)
  border: none
  border-radius: 5px
  color: white
  padding: 0 15px
  font-size: 1rem
  font-weight: 100
  height: 38px
  width: 100%
  transition: all .25s ease-out
  cursor: pointer

  &:hover
    background-color: white
    color: $darkBlue

@media (max-width: 1024px)
  .directories-content-wrapper
    width: 100%

@media (max-width: 425px)
  .filter__column
    &:first-child
      margin-right: 20px