@import '../helpers/variables'
@import '../components/os-theme-round-light'

.header__logo
  opacity: 0
  visibility: hidden

.content section
  margin-bottom: 0
  position: relative

.games-timeline__categories
  display: flex
  position: absolute
  top: 60px
  z-index: 1
  width: 92vw
  padding: 0 30px 0 30px

  li
    width: 20%
    text-align: center
    a
      color: rgba(255, 255, 255, 0.5)
      font-size: 14px
      font-weight: 900
      transition: all .25s ease-in-out
      text-decoration: none

    &:hover
      a
        color: white

    &:nth-child(3)
      a
        color: white

.games-timeline
  position: relative
  overflow: hidden
  height: 100vh

  & > .tns-outer > button
    display: none

  > #tns1-ow > .tns-liveregion.tns-visually-hidden
    display: none
  > #tns2-ow > .tns-liveregion.tns-visually-hidden
    display: none
  .tns-controls
    position: absolute
    bottom: 1.6%
    transform: translate(4%, -50%)
    width: 90%
    display: flex
    justify-content: space-between
    outline: none
    z-index: 1
    display: none

    & button
      width: 38px
      height: 38px
      border-radius: 50%
      border: none
      background-color: white
      transition: background-color .25s ease-out
      outline: none
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
      margin: 0
      padding: 2px 0 0
      position: relative
      z-index: 2
      cursor: pointer

      &:disabled
        background-color: #d9d9d9
        cursor: default
        pointer-events: none

      & img
        width: 9px

      &:hover,
      &:active
        background-color: $red

  &:after
    content: ''
    width: 100%
    border-bottom: 1px solid #fff
    position: absolute
    bottom: 63px
    left: 0
    z-index: -1

.slide__wrap
  position: relative
  overflow: hidden

.slide__bg
  height: 105vh
  width: 110vw
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  opacity: .2
  transform: translate3d(-5%, -5%, 0)
  transition: all .9s ease-out

.slider-item
  display: inline-block
  opacity: 0
  transition: opacity 1s linear
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

  &.tns-slide-active
    opacity: 1
    left: 0
  &:hover
    .game-item
      &:after
        background-color: white

    .game-image
      & img
        transform: scale(1.1)

    .game-year
      letter-spacing: .25rem
      color: white
  .game-item
    position: absolute
    top: 45%
    transform: translateY(-50%)
    overflow: hidden
    display: flex
    align-items: center
    width: 100vw
    text-decoration: none
  .game-image
    width: 40%
    transform: translateX(-2000px)
    transition: all 1s ease-out

    & img
      max-width: 100%
      height: auto
      transition: all .25s ease-out
  .game-content
    width: 56%
    margin-left: 0
  .game-title__year
    font-size: 76px
    font-weight: 900
    line-height: 91px
    color: $red
    opacity: 0
    display: none
    transform: translate(-500px, 600px)
    transition: all .6s ease-in
  .game-title
    font-size: 50px
    line-height: 60px
    font-weight: 900
    color: $red
    opacity: 0
    transform: translateX(-1200px)
    transition: all .7s ease-in
  .game-city
    font-size: 50px
    line-height: 60px
    font-weight: 700
    color: white
    opacity: 0
    transform: translateX(-1200px)
    transition: all .9s ease-in
  .game-descr
    max-width: 500px
    color: white
    opacity: 0
    transform: translateX(-1200px)
    transition: all .9s ease-in
    p
      margin: 0
  .game-more-link
    display: block
    width: 140px
    margin-top: 15px
    padding: 5px 15px
    text-decoration: none
    color: white
    text-align: center
    background: $red
    border-radius: 5px
    cursor: pointer
    opacity: 0
    transform: translateX(-1200px)
    transition: all .9s ease-in

.slider-item.tns-item.tns-slide-active
  display: inline-block
  & .game-image
    opacity: 1
    transform: translateX(200px)
  & .game-title
    opacity: 1
    transform: translateX(200px)
  & .game-city
    opacity: 1
    transform: translateX(200px)
  & .game-descr
    opacity: 1
    transform: translateX(200px)
  & .game-title__year
    opacity: 1
    transform: translate(200px, 0)
  & .game-more-link
    opacity: 1
    transform: translate(200px, 0)

.timeline-slider
  padding-bottom: 100px
.timeline-nav
  position: absolute
  bottom: 6%
  z-index: 2
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  display: flex
  transform: translate(4%, 0)
  width: 92%
  margin: 0 auto

  & > *
    justify-self: center
    align-self: center

  & .timeline-nav__item:last-child
    margin-right: 0

    & > li[data-slide="current"]tns-slide-active--first
    &::after
      background-color: $red
      width: 30px
      height: 30px
      bottom: 2px

  .timeline-nav__item
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    width: 20%
    text-align: center
    transition: all 0.25 ease-out
    cursor: pointer
    outline: none
    &::after
      content: ''
      display: block
      height: 18px
      width: 18px
      border-radius: 50%
      background: white
      position: absolute
      bottom: 10px
      left: 50%
      transform: translateX(-50%)
      transition: background-color .25s ease-out

    &:hover
      .game-nav__year
        color: $red
      &::after
        background-color: $red
      .game-nav__year
        letter-spacing: .25rem
      .game-nav__city
        letter-spacing: .25rem
  .timeline-nav__item.tns-nav-active
    transition: all 0.25 ease-out
    &::after
      background-color: $red
      width: 30px
      height: 30px
      bottom: 2px
    .game-nav__city
      display: none
    .game-nav__year
      opacity: 0

  .game-nav__year
    margin-bottom: 20px
    font-size: 1.5rem
    font-weight: 700
    line-height: 48px
    color: white
    transition: all .25s ease-out
  .game-nav__city
    width: 90px
    margin-bottom: -20px
    color: $red
    font-weight: 700
    transition: all .25s ease-out

@media (max-width: 1024px)
  .games-timeline__categories
    li
      font-size: 14px
@media (max-width: 768px)
  .games-timeline__categories
    padding: 0 20px
    top: 46px
    li
      font-size: 13px
  .games-timeline
    &::after
      bottom: 64px
  .slider-item
    .game-title__year
      font-size: 60px
    .game-title
      font-size: 45px
    .game-content
      width: 53%
    .game-descr
      width: 90%
  .slider-item.tns-item.tns-slide-active
    & .game-image
      transform: translateX(20px)
    & .game-title
      transform: translateX(20px)
    & .game-city
      transform: translateX(20px)
    & .game-descr
      transform: translateX(20px)
    & .game-title__year
      transform: translateX(20px)
    & .game-more-link
      transform: translateX(20px)
@media (max-width: 425px)
  .games-timeline__categories
    display: none
  .slider-item
    .game-image
      width: 70%
  .games-timeline
    &::after
      bottom: 32px
  .content section
    margin-bottom: 0
  .games-timeline .tns-controls
    display: none
    bottom: 36.5px
  .games-timeline .tns-controls
    & button
      width: 25px
      height: 25px

      & img
        width: 5px
  .slider-item
    .game-item
      flex-direction: column
    .game-content
      width: 95%
      & > div
        display: flex
        align-items: center
    .game-city
      font-size: 40px
    .game-title__year
      margin-right: 20px
      font-size: 40px
      line-height: 35px

    .game-title
      font-size: 24px
      line-height: 30px
  .timeline-nav
    margin-top: 15px
    bottom: 2%
    .timeline-nav__item.tns-nav-active
      &::after
        width: 24px
        height: 24px
        bottom: 7px
    .game-nav__year
      font-size: 1.125rem
    .game-nav__city
      display: none

@media (max-width: 320px)
  .games-timeline
    padding-bottom: 0px
    &::after
      bottom: 18px
  .games-timeline .tns-controls
    display: none
  .timeline-nav
    bottom: 0
    .game-nav__year
      font-size: 14px
  .slider-item
    .game-image
      width: 67%
  .slider-item
    .game-item
      padding-bottom: 0
      padding-top: 35px

.jello
  animation-name: jello
  transform-origin: center
.rollIn
  animation-name: rollIn
  transform-origin: center
.rollOut
  animation-name: rollOut
  transform-origin: center

@keyframes jello
  from,
  11.1%,
  to
    transform: translate3d(0, 0, 0)

  22.2%
    transform: skewX(-12.5deg) skewY(-12.5deg)

  33.3%
    transform: skewX(6.25deg) skewY(6.25deg)

  44.4%
    transform: skewX(-3.125deg) skewY(-3.125deg)

  55.5%
    transform: skewX(1.5625deg) skewY(1.5625deg)

  66.6%
    transform: skewX(-0.78125deg) skewY(-0.78125deg)

  77.7%
    transform: skewX(0.390625deg) skewY(0.390625deg)

  88.8%
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)

@keyframes rollIn
  from
    transform: translateX(-700px)
  to
    transform: translateX(0)
@keyframes rollOut
  from
    transform: translateX(0)
  to
    transform: translateX(3000px)