@import '../helpers/variables'
@import '../components/news-preview'
@import '../components/gallery-slider'
@import '../components/countries-list'
@import '../components/download-files'
@import '../components/marks-list'

.details-row
  display: flex
  flex-wrap: wrap
  margin-bottom: 20px

  & a
    color: white
    &:hover
      color: red

.detail-label
  text-transform: uppercase
  width: 195px
  margin-right: 100px

.sports-list
  column-count: 3
  column-gap: 50px

.sport-type
  margin-bottom: 30px
  column-break-inside: avoid
  page-break-inside: avoid

.sport__name
  display: flex
  align-items: flex-end
  text-transform: uppercase
  font-size: 1.375rem
  font-weight: 900
  margin-bottom: 15px

  & > a
    line-height: 1
    text-decoration: none
    color: $red
    transition: opacity .25s ease-out

    &:hover
      opacity: .5

.sport__discipline
  display: flex
  align-items: flex-end
  position: relative
  text-decoration: none
  color: white
  margin-bottom: 15px

.discipline__short-name
  font-size: .675rem
  font-weight: 900
  width: 30px
  text-align: left
  margin-right: 15px
  &.hidden
    visibility: hidden

.discipline__name
  font-size: 1.375rem
  transition: color .25s ease-out
  flex: 1
  line-height: 1

  &:hover
    color: $red

@media (max-width: 768px)
  .sports-list
    column-count: 2

@media (max-width: 425px)
  .details-row
    display: block

  .detail-label
    color: $red

  .sport-type
    margin-right: 0

  .sports-list
    column-count: 1