@import "~@glidejs/glide/src/assets/sass/glide.core"
@import '../helpers/variables'

.header__logo
  opacity: 0
  visibility: hidden


.glide__slide
  .game-item
    position: absolute
    top: 50%
    left: 0
    transform: translate(0, -50%)
    overflow: hidden
    display: flex
    align-items: center
    width: 100vw
    text-decoration: none
    .game-image
      width: 50%
      transition: all 0.35s ease-out
      transform: translateX(-1000px)

      & img
        max-width: 100%
        height: auto
    .game-content
      width: 50%
      text-align: left
    .game-title__year
      font-size: 76px
      font-weight: 900
      color: $red
      line-height: 91px
      color: $red
      opacity: 1
      display: block
      transition: all .1s ease-in
      transform: translateX(-1000px)
    .game-title
      font-size: 50px
      line-height: 60px
      font-weight: 900
      color: $red
      opacity: 1
      transition: all .15s ease-in
      transform: translateX(-1000px)
    .game-city
      font-size: 50px
      line-height: 60px
      font-weight: 700
      color: white
      opacity: 1
      transition: all .2s ease-in
      transform: translateX(-1000px)
    .game-descr
      max-width: 500px
      margin-right: 260px
      color: white
      opacity: 1
      transition: all .25s ease-in
      transform: translateX(-1000px)
      p
        margin: 0
    .game-more-link
      display: inline-block
      width: 140px
      margin-top: 15px
      padding: 5px 15px
      text-decoration: none
      color: white
      text-align: center
      background: $red
      border-radius: 5px
      cursor: pointer
      opacity: 1
      transition: all .3s ease-in
      transform: translateX(-1000px)

.glide__slide--active
  .game-item
    .game-image
      transform: translateX(100px)
    .game-title
      transform: translateX(100px)
    .game-title__year
      transform: translateX(100px)
    .game-descr
      transform: translateX(100px)
    .game-city
      transform: translateX(100px)
    .game-more-link
      transform: translateX(100px)

.games-timeline__categories
  display: flex
  position: absolute
  top: 60px
  z-index: 1
  width: 92vw
  padding: 0 30px 0 30px

  li
    width: 20%
    text-align: center
    a
      color: rgba(255, 255, 255, 0.5)
      font-size: 14px
      font-weight: 900
      transition: all .25s ease-in-out
      text-decoration: none

    &:hover
      a
        color: white

    &:nth-child(3)
      a
        color: white

.timeline__main-slider
  .slide__content
    height: 100vh
    position: relative

  .slide__bg
    background-size: cover
    background-position: center
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    max-width: 100%
    opacity: .2

.timeline__footer
  position: absolute
  bottom: 20px
  left: 0
  z-index: 1
  width: 100%

.timeline__nav-slider
  position: relative

  &:after
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: -1
    width: 100%
    border-bottom: 1px solid white

  .slide__content
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    line-height: 1
    cursor: pointer
        
    &:hover
      .slide__dot
        &:before
          background-color: $red
          transition: all .25s ease-out
      .slide__year
        letter-spacing: .2rem
        color: $red
      .slide__place
        letter-spacing: .2rem
        transition: all .25s ease-out

  .slide__year
    height: 24px
    font-size: 24px
    font-weight: 900
    transition: all .25s ease-out

  .slide__dot
    height: 20px
    width: 20px
    // background-color: rgba(white, .5)
    // border-radius: 50%
    margin: 10px 5px
    // transition: all .25s ease-out
    position: relative

    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      transition: all .5s ease-out
      cursor: pointer

    &:before
      height: 20px
      width: 20px
      background-color: white
      opacity: 1

    &:after
      height: 0
      width: 0
      background-color: $red
      opacity: 0

  .slide__place
    font-size: 1.5rem
    font-weight: 700
    color: $red
    height: 26px
    transition: all .25s ease-out

  .glide__slide--active
    height: 100%

    .slide__year
      opacity: 0
      visibility: hidden

    .slide__dot
      &:before
        height: 0
        width: 0
        opacity: 1

      &:after
        width: 30px
        height: 30px
        opacity: 1

    .slide__place
      opacity: 0
      visibility: hidden