@import '../helpers/variables'
@import '../components/entry-slider'
@import '../components/title-with-link'
@import '../components/news-preview'
@import '../components/gallery-slider'

// Scroll Pointer Styles
.scroll-pointer
  position: absolute
  left: 50%
  bottom: 50px
  transform: translateX(-50%)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.pointer__text
  font-size: 1rem
  margin-bottom: 10px

.pointer__icon
  width: 40px
  height: 40px
  transform: rotate(90deg)
  display: flex
  align-items: center
  justify-content: center

  & svg
    max-width: 100%
    max-height: 100%

.banner-slider__container
  position: relative

  .slider
    &__item-wrap
      position: relative
      background-color: $darkBlue
      display: block
      text-decoration: none

    &__item-wrap:hover &__title
      color: $red !important

    &__img
      overflow: hidden
      opacity: .8

      img
        max-width: 100%
        width: 100%
        height: auto

    &__txt
      position: absolute
      top: 0
      right: 0
      width: 50%
      height: 100%
      padding: 0 100px
      display: flex
      flex-direction: column
      justify-content: center
      background: linear-gradient(to right, rgba(#fff, 0), rgba($darkBlue, .5), rgba($darkBlue, .75))

    &__title
      font-size: 3rem
      font-weight: 900
      line-height: 1
      margin-bottom: 20px
      color: #fff

    &__description
      font-size: 1.125rem
      color: #fff

  .tns-controls
    position: absolute
    top: 50%
    left: 40px
    width: calc(100% - 80px)
    display: flex
    justify-content: space-between
    outline: none

    & button
      width: 44px
      height: 44px
      border-radius: 22px
      border: none
      background-color: rgba(#fff, .5)
      transition: background-color .25s ease-out
      outline: none
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
      margin: 0
      padding: 2px 0 0
      position: relative
      z-index: 1
      transform: translateY(-50%)

      &:hover
        background-color: white

      .banner-arrow
        width: 8px
        height: 8px
        border-top: 2px solid $darkBlue
        border-right: 2px solid $darkBlue

        &.banner--prev
          transform: rotate(-135deg) translate(-15%, 20%)

        &.banner--next
          transform: rotate(45deg) translateX(-15%)

// Timeline & Events slider
.game-timeline, .event-timeline
  position: relative

  &:after
    content: ''
    width: 100%
    border-bottom: 1px solid rgba(white, .25)
    position: absolute
    bottom: 9px
    left: 0
    z-index: -1

  .tns-controls
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-between
    outline: none

    & button
      width: 38px
      height: 38px
      border-radius: 19px
      border: none
      background-color: #324868
      transition: background-color .25s ease-out
      outline: none
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
      margin: 0
      padding: 2px 0 0
      position: relative
      z-index: 1

      &:disabled
        opacity: .85
        cursor: default

      &:not(:disabled):hover
        background-color: white

        .timeline-arrow
          border-color: $darkBlue

      &:first-child
        transform: translate(-50%, 9px)

      &:last-child
        transform: translate(50%, 9px)

      .timeline-arrow
        width: 8px
        height: 8px
        border-top: 1px solid white
        border-right: 1px solid white

        &.timeline--prev
          transform: rotate(-135deg) translate(-15%, 20%)

        &.timeline--next
          transform: rotate(45deg) translateX(-15%)

  .slider-item
    .item-wrap
      display: flex
      flex-direction: column
      align-items: center
      text-decoration: none
      padding-bottom: 18px
      position: relative
      z-index: 2

      &:after
        content: ''
        display: block
        height: 18px
        width: 18px
        border-radius: 11px
        background-color: #324868
        position: absolute
        bottom: 1px
        left: 50%
        transform: translateX(-50%)
        transition: background-color .25s ease-out

    .game-emblem
      text-decoration: none
      width: 80%
      height: 24vh
      display: flex
      align-items: center
      justify-content: center

      & img
        max-width: 100%
        max-height: 100%
        transition: transform .25s ease-out

    .event-name
      color: #fff
      text-align: center
      font-weight: 900
      margin-top: 10px
      height: 48px

    .event-place
      color: #fff
      text-align: center
      font-size: .875rem
      background-color: $red
      border-radius: 10px
      padding: 0 15px
      margin-top: 10px

    .game-year
      color: rgba(white, .5)
      font-size: 1.5rem
      font-weight: 900
      margin-top: 30px
      transition: all .25s ease-out
      text-align: center
      display: inline-block

      &.event-date
        margin-top: 10px
        font-size: 1rem

    &:hover
      .item-wrap
        &:after
          background-color: white

      .game-emblem
        & img
          transform: scale(1.1)

      .game-year
        letter-spacing: .25rem
        color: white

.sponsors-row
  display: flex
  align-items: center
  margin-bottom: 30px

.sponsorf-of
  font-size: 1.5rem
  font-weight: 900
  margin-right: 50px
  width: 150px

.sponsor-emblem
  width: 140px
  height: 140px
  display: flex
  align-items: center
  justify-content: center

  img
    max-width: 100%
    max-height: 100%

.sponsors-list
  max-width: calc(100% - 200px)
  flex: 1

  .slider__wrap
    position: relative
    max-width: calc(100% - 120px)
    width: 100%
    margin: 0 auto

  .item-wrap
    display: flex
    align-items: center
    justify-content: center

  .tns-controls
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)
    width: 100%
    display: flex
    justify-content: space-between
    outline: none

    & button
      width: 38px
      height: 38px
      border-radius: 19px
      border: none
      background-color: #324868
      transition: background-color .25s ease-out
      outline: none
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
      margin: 0
      padding: 2px 0 0
      position: relative
      z-index: 1

      &:disabled
        opacity: .85
        cursor: default

      &:not(:disabled):hover
        background-color: white

        .sponsor-arrow
          border-color: $darkBlue

      &:first-child
        transform: translateX(-100%)

      &:last-child
        transform: translateX(100%)

      .sponsor-arrow
        width: 8px
        height: 8px
        border-top: 1px solid white
        border-right: 1px solid white

        &.sponsor--prev
          transform: rotate(-135deg) translate(-15%, 20%)

        &.sponsor--next
          transform: rotate(45deg) translateX(-15%)

@media (min-width: 1441px)
  .sponsor-emblem
    width: 180px
    height: 180px

@media (max-width: 1024px)
  .slider-item
    .game-emblem
      height: 16vh

  .sponsor-emblem
    width: 120px
    height: 120px

@media (max-width: 768px)
  .section__title-link
    display: none

  .banner-slider__container
    .slider
      &__txt
        width: 65%
        padding: 0 80px

      &__title
        font-size: 2rem
        margin-bottom: 10px

    .tns-controls
      left: 30px
      width: calc(100% - 60px)

  .sponsor-emblem
    width: 100px
    height: 100px

@media (max-width: 425px)
  .scroll-pointer
    bottom: 10px

  .pointer__text
    font-size: .875rem
    margin-bottom: 5px

  .pointer__icon
    width: 30px
    height: 30px

  .banner-slider__container
    .slider
      &__img
        display: flex
        justify-content: center

        img
          max-width: initial
          height: 320px
          width: auto

      &__txt
        width: 90%
        padding: 0 40px 0 20px
        justify-content: flex-end
        padding-bottom: 10px

      &__title
        font-size: 1.5rem

    .tns-controls
      left: 15px
      width: calc(100% - 30px)

      & button
        width: 28px
        height: 28px
        border-radius: 14px

  .game-timeline
    .tns-controls
      & button
        width: 30px
        height: 30px

        &:first-child
          transform: translate(-50%, 6px)

        &:last-child
          transform: translate(50%, 6px)

  .slider-item
    .game-emblem
      height: 25vh

    .game-year
      margin-top: 20px

  .sponsors-list
    max-width: 100%

  .sponsors-row
    flex-direction: column
    align-items: flex-start
    justify-content: center

    .slider__wrap
      max-width: calc(100% - 80px)

  .sponsorf-of
    margin-right: 0
    margin-bottom: 15px

  .sponsor-emblem
    width: 80px
    height: 80px