@import '~glightbox/dist/css/glightbox.css'
@import '../helpers/variables'

.page-emblem
  display: flex
  justify-content: center

  &__wrap
    height: 280px
    width: 280px
    background-color: rgba(white, .5)
    display: flex
    align-items: center
    justify-content: center
    padding: 20px
    border-radius: 10px

  img
    max-height: 100%
    max-width: 100%

.mark-list
  display: flex
  flex-wrap: wrap

  &__categories
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 30px 0

  &__category
    display: inline-block
    padding: 5px 15px
    margin: 5px 10px
    background-color: rgba(white, .75)
    text-decoration: none
    color: $darkBlue
    border-radius: 5px
    transition: all .25s linear

    &:hover
      background-color: white

    &-active
      background-color: $red
      color: white

.mark-wrap
  display: flex
  justify-content: center
  max-width: calc(100% / 6 - 20px)
  width: 100%
  margin: 0 10px 30px
  background-color: white
  border-radius: 10px
  padding: 10px

  & img
    max-width: 90%
    width: 100%
    height: auto

.gslide
  &-inner-content
    max-width: 50%
    background-color: white
    border-radius: 10px
    max-height: 90vh
    overflow: auto

  &-media
    box-shadow: none !important

  &-image
    max-width: 400px
    max-height: 400px
    background-color: white
    border-radius: 10px
    padding: 10px

    img
      max-width: 100%
      max-height: 100%
      width: auto
      height: auto

  &-description
    background-color: rgba(white, 0)
    color: $darkBlue
    max-width: 100% !important
    max-height: 100% !important

  &-desc
    *
      max-width: 100% !important
      float: none !important
      padding: 0 !important

  &-title
    color: $red !important
    font-size: 1.5rem !important
    font-weight: 900 !important

@media (max-width: 768px)
  .glightbox-container
    .ginner-container
      height: auto

  .gslide
    &-description
      position: static !important
      padding: 0 !important
      background: rgba(white, 0) !important

    &-desc
      color: $darkBlue !important

@media (max-width: 425px)
  .page-emblem
    img
      max-height: 220px
      max-width: 220px

  .mark-list
    justify-content: space-between

    &__categories
      justify-content: space-between

    &__category
      width: calc(50% - 10px)
      margin: 10px 0

  .mark-wrap
    max-width: calc(50% - 10px)
    margin: 10px 0

  .gslide
    &-inner-content
      max-width: 90%

    &-image
      max-width: 200px
      max-height: 200px

    &-desc
      font-family: AvenirLTStd !important
