@import '~glightbox/dist/css/glightbox.css'
@import '../helpers/variables'

.medal-table
  &__container
    line-height: 1.2

  &__header &__col
    background-color: rgba(#fff, .35)
    font-weight: 900
    padding: 5px 15px
    border-right: none

  &__footer
    background-color: rgba(#fff, .5)
    font-weight: 900

  &__row
    display: flex

  &__body &__row
    transition: .25s

    &:hover
      background-color: rgba(#fff, .1)

  &__col
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    width: 10%
    padding: 10px 15px
    margin-left: 3px
    border-left: 1px solid rgba(#fff, .25)

    &:first-child
      margin-left: 0
      border-left: none

    &.col__label
      flex: 1
      width: auto

  &__country
    &:nth-child(even)
      background-color: rgba(#fff, .2)

    &-totals
      cursor: pointer

  &__sports
    display: none

    &.shown
      display: block

    &-places
      display: none

  &__sport-wrap
    background-color: rgba(#fff, .3)
    border-bottom: 1px solid rgba(#fff, .5)

    &:last-child
      border-bottom: none

    &__totals
      cursor: pointer

  &__places
    display: none

    &.shown
      display: block

  &__place-wrap
    background-color: rgba(#fff, .2)
    border-bottom: 1px solid rgba(#fff, .5)

    &:last-child
      border-bottom: none

.medal
  display: flex
  width: 24px

  &.belt
    width: 30px

  svg
    max-width: 100%
    max-height: 100%

.country
  &-flag
    width: 25px
    height: 25px
    background-size: cover
    background-position: center
    border-radius: 15px
    margin-right: 10px

  &-name
    flex: 1
    text-align: left
    text-transform: uppercase

.sport-name
  flex: 1
  text-align: left
  margin-left: 35px

.place-of
  flex: 1
  text-align: left
  margin-left: 50px

@media screen and ( max-width: 425px )
  .medal-table
    &__container
      font-size: 14px

    &__col
      width: 16%
      margin-left: 0
      border-left: none
      padding: 10px

      &.col__label
        justify-content: flex-start

      &.col__total-rank
        width: 24%

    &__header &__col
      padding: 10px
      text-align: left
      font-size: 12px

    &__header
      .col
        &__place
          display: none

        &__total-rank
          text-align: center

    &__country-totals
      .col
        &__place
          display: none

    &__sports-places
      display: block

      .medal
        margin-right: 5px

    &__sport-wrap__totals
      .col
        &__place, &__total-rank
          display: none

    &__places
      .col
        &__rank, &__place, &__total, &__total-rank
          display: none

        &--filled
          display: flex

  .country
    &-flag
      display: none

  .sport-name, .place-of
    margin-left: 0
