@import '../helpers/variables'

.member-extended
  &__photo
    width: 100%
    max-width: 320px
    margin: 0 auto
    img
      width: 100%
  &__meta
    display: flex
    flex-direction: column
    align-items: center
    font-size: 16px
    margin-bottom: 32px
  &__name
    text-align: center
    a
      color: white
      text-decoration: none
      &:hover
        color: $red

@media screen and ( max-width: 731px ) and (orientation: landscape)
  .member-extended
    &__photo
      max-width: 200px
      margin-right: 24px
    &__name

@media screen and ( min-width: 425px )
  .member-extended
    &__photo
      float: left
      margin-right: 24px

    &__title
      font-size: 28px
      align-self: flex-start
      text-align: left
    &__description-section
      margin-bottom: 24px

@media screen and ( min-width: 1024px )
  .member-extended
    &__meta
      flex-direction: row
      font-size: 18px
    &__name
      margin-right: 8px

@media screen and ( min-width: 1280px )
  .member-extended
    &__meta
      flex-direction: row
      font-size: 22px
    &__name
      margin-right: 8px

@media screen and ( min-width: 1440px )
  .member-extended
    p
      font-size: 18px
    &__meta
      font-size: 24px

@media screen and ( min-width: 1920px )
  .member-extended
    p
      font-size: 22px
    &__meta
      font-size: 32px
