@import '../helpers/variables'

.member
  display: flex
  flex-direction: column

  &__photo
    width: 320px
    height: 420px
    align-self: center
    img
      width: 100%

  &__title
    font-size: 24px
    margin-bottom: 32px
    align-self: center
    text-align: center

  &__description-section
    margin-bottom: 16px

  &__description-title
    font-weight: bold

  &__description-title,
  &__description-text,
    display: block
    font-size: 20px
    color: white

a.member__description-text
  text-decoration: none
  &:hover
    color: $red

.member__description-text
  a
    color: $red
    transition: opacity .25s linear

    &:hover
      opacity: .75

@media screen and ( max-width: 731px ) and (orientation: landscape)
  .member
    flex-direction: row
    justify-content: flex-start
    &__photo
      width: 200px
      height: 300px
      margin-right: 24px
      align-self: flex-start
    &__title
      text-align: left

@media screen and ( min-width: 768px )
  .member
    flex-direction: row
    justify-content: flex-start
    &__photo
      width: 220px
      height: 320px
      margin-right: 48px
      align-self: flex-start
    &__title
      font-size: 28px
      align-self: flex-start
      text-align: left
    &__description-section
      margin-bottom: 24px

@media screen and ( min-width: 1440px )
  .member
    flex-direction: row
    justify-content: flex-start
    &__photo
      margin-right: 48px
      align-self: flex-start
    &__title
      font-size: 36px
      align-self: flex-start
      text-align: left
    &__description-section
      margin-bottom: 32px
    &__description-title,
    &__description-text
      font-size: 24px
