@import '~basiclightbox/src/styles/main'
@import "../helpers/variables"
@import '~tiny-slider/src/tiny-slider'
@import '../components/os-theme-round-light'
@import '../components/plyr'

.multimedia__tab-links
  display: flex
  font-weight: 900
  font-size: 2rem
  margin-bottom: 30px

.tab-link
  text-decoration: none
  color: rgba(#fff, .5)
  display: inline-flex
  position: relative
  margin-right: 50px

  &:not(&--active):hover
    color: #fff

  &--active
    color: $red

    &:after
      content: ''
      height: 4px
      width: 100%
      position: absolute
      bottom: 0
      left: 0
      background-color: #fff

.album-title
  color: #fff
  font-size: 1.75rem
  font-weight: 900
  margin-bottom: 20px

  a
    text-decoration: none
    color: inherit

    &:hover
      opacity: .75

.album-sections
  font-weight: 900
  font-size: 1.5rem

  .parent-link
    color: $red !important
    margin-right: 10px

  span
    color: rgba(#fff, .75)

.multimedia-main-slider__wrap
  position: relative

  .tns-controls
    button
      position: absolute
      top: 50%
      z-index: 1
      transform: translateY(-50%)
      background-color: rgba(white, .5)
      border: none
      width: 30px
      height: 30px
      border-radius: 50%
      content: '' !important
      display: flex
      align-items: center
      justify-content: center
      outline: none

      &:first-child
        left: 0
        transform: translateX(-200%)

      &:last-child
        right: 0
        transform: translateX(200%)

      svg
        max-width: 50%
        max-height: 50%

.item
  &__wrap
    background-color: rgba($darkBlue, .8)
    max-width: 100%
    height: 460px
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

    img
      max-height: 100%
      height: 100%
      width: auto

  &__video
    position: relative

    &:hover
      &:after
        background-color: rgba(black, .75)
        transform: translate(-50%, -50%) scale(1.1)

    &:after
      content: ''
      display: block
      width: 100px
      height: 100px
      border-radius: 50px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background-color: rgba(black, .5)
      background-image: url(../../images/play-button.svg)
      background-repeat: no-repeat
      background-position: center
      background-size: 75%
      transition: all .25s ease-out

// Custom Nav Styles
.slider__custom-nav
  padding-bottom: 25px
  margin-top: 30px
  margin-bottom: 100px

.custom-nav-wrap
  white-space: nowrap

.custom-nav__item
  width: 140px
  height: 100px
  border: 3px solid rgba(white, 0)
  outline: none
  display: inline-flex
  align-items: center
  justify-content: center
  overflow: hidden

  &.tns-nav-active
    border-color: $red

  img
    height: 100%
    width: auto

  video
    height: 100%
    width: 100%

// Categories Styles
.multimedia__category-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 100px

.multimedia__category
  text-decoration: none
  width: calc((100% - 1px) / 3 - 30px)
  text-align: center
  margin: 0 15px 50px

  &:hover
    .category__image
      opacity: .75

    .category__name
      color: $red

.multimedia__category--active
  .category__name
    color: $red

.category__image
  transition: opacity .25s ease-out
  height: 200px
  background-size: cover
  background-position: center

.category__name
  color: white
  font-size: 1.5rem
  font-weight: 900
  transition: color .25s ease-out

@media (max-width: 1024px)
  .item
    &__video
      max-width: calc(100vw - 200px)

@media (max-width: 768px)
  .multimedia-main-slider__wrap
    .tns-controls
      button
        &:first-child
          transform: translateX(-125%)

        &:last-child
          transform: translateX(125%)

  .item
    &__video
      max-width: calc(100vw - 100px)

  .multimedia__category
    width: calc(100% / 2 - 30px)

@media (max-width: 425px)
  .multimedia-main-slider__wrap
    .tns-controls
      display: none

  .item
    &__wrap
      height: 200px

    &__video
      max-width: calc(100vw - 40px)

  .custom-nav__item
    width: 100px
    height: 80px

  .multimedia__category
    width: 100%
    margin: 0 0 50px