@import '~tiny-slider/src/tiny-slider'
@import "~@glidejs/glide/src/assets/sass/glide.core"
@import '../helpers/variables'

.multimedia__tab-links
  display: flex
  font-weight: 900
  font-size: 2rem
  margin-bottom: 30px

.tab-link
  text-decoration: none
  color: rgba(#fff, .5)
  display: inline-flex
  position: relative
  margin-right: 50px

  &:not(&--active):hover
    color: #fff

  &--active
    color: $red

    &:after
      content: ''
      height: 4px
      width: 100%
      position: absolute
      bottom: 0
      left: 0
      background-color: #fff

// Multimedia Slider
.multimedia-slider__wrap
  position: relative

  .tns-controls
    button
      position: absolute
      top: 50%
      z-index: 1
      transform: translateY(-50%)
      background-color: rgba(white, .5)
      border: none
      width: 30px
      height: 30px
      border-radius: 50%
      content: '' !important
      display: flex
      align-items: center
      justify-content: center
      outline: none

      &:first-child
        left: calc(100vw / 6)
        transform: translateX(-200%)

      &:last-child
        right: calc(100vw / 6)
        transform: translateX(200%)

      svg
        max-width: 50%
        max-height: 50%

.item__wrap
  width: calc(100vw / 6 * 4)
  position: relative

.tns-slide-current
  .item__image
    width: 85%

  .item__content
    opacity: 1
    visibility: visible

.item__image
  width: 100%
  height: 540px
  display: flex
  align-items: center
  overflow: hidden
  transition: width .25s linear

  img
    height: 100%

.item__content
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  width: 100%
  height: 100%
  border: 3px solid white
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-end
  padding: 80px 100px
  opacity: 0
  visibility: hidden
  transition: all .25s linear

.item__text
  width: 220px

.game__name
  color: white
  text-decoration: none
  display: block
  font-size: 2rem
  font-weight: 900
  line-height: 1.2

.game__category
  display: block
  color: $red
  text-decoration: none
  margin-bottom: 10px
  font-size: 1.125rem
  font-weight: 900

.game__description
  text-decoration: none
  color: white

.item__link
  text-decoration: none
  color: $red
  font-size: 1.25rem
  font-weight: 900

  span
    margin-right: 10px

.multimedia-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 100px

.multimedia__link-wrap
  text-decoration: none
  display: flex
  align-items: center
  width: calc(100% / 3 - 41px)
  border-radius: 5px
  transition: all .25s ease-out
  margin: 0 20px 10px
  padding: 5px

  &:hover
    background-color: rgba(white, .25)

.multimedia__preview
  width: 90px
  height: 110px
  display: flex
  align-items: center
  justify-content: center

  img
    max-width: 100%
    max-height: 100%
    width: 90%

.multimedia__text
  flex: 1
  font-weight: 900
  margin-left: 10px

.multimedia__name
  color: white
  font-size: 1.25rem

.multimedia__type
  color: $red
  font-size: 1rem

@media (max-width: 1024px)
  .multimedia-slider__wrap
    .tns-controls
      button
        &:first-child
          left: calc(100vw / 18)
          transform: translateX(0%)

        &:last-child
          right: calc(100vw / 18)
          transform: translateX(0%)

  .item__wrap
    width: calc(100vw - 200px)

  .item__image
    height: 440px

  .item__content
    // top: 30px
    // width: calc(100% - 30px)
    // height: calc(100% - 60px)
    padding: 40px

  .multimedia__link-wrap
    width: calc(100% / 2 - 40px)

@media (max-width: 768px)
  .item__image
    height: 320px

  .item__content
    // top: 30px
    // width: calc(100% - 30px)
    // height: calc(100% - 60px)
    padding: 30px

  .item__text
    width: 200px

  .game__name
    font-size: 1.5rem

  .item__link
    font-size: 1rem

@media (max-width: 425px)
  .section-title
    margin-bottom: 30px

  .multimedia-slider__wrap
    .tns-controls
      display: none

  .item__wrap
    width: calc(100vw - 40px)

  .tns-slide-current
    .item__image
      width: 100%

  .item__image
    height: 320px

  .item__content
    // right: 20px
    // top: 20px
    // width: calc(100% - 40px)
    // height: calc(100% - 40px)
    padding: 20px
    align-items: flex-start
    justify-content: flex-end
    text-shadow: 1px 1px 0 $darkBlue

  .item__text
    width: 200px

  .game__name
    font-size: 1.5rem

  .game__category
    font-size: 1rem

  .item__link
    font-size: .875rem
    margin-top: 10px

  .multimedia__link-wrap
    width: 100%
    margin: 0 0 10px