@import '../helpers/variables'
@import '../components/gallery-slider'

.content__img
  display: inline-block

  img
    max-width: 100%

.content__img-caption
  text-align: center
  color: rgba(white, .7)
  font-size: .875rem
  margin-bottom: 15px

h2.section-title.section-title--mini.section-title--white
  margin-top: 50px

.content--right-floated
  .section-title
    margin-bottom: 50px

.share-on__links
  display: flex
  align-items: center
  margin-top: 50px

.share-on__button
  margin-left: 20px

  &:hover
    svg
      fill: red

  a
    text-decoration: none
    color: white
    width: 24px
    height: 24px
    display: flex
    align-items: center
    justify-content: center

  svg
    fill: white
    max-width: 100%
    max-height: 100%

@import '../components/news-preview'

@media (max-width: 425px)
  h2.section-title.section-title--mini.section-title--white
    margin-top: 30px

  .content--right-floated
    .section-title
      margin-bottom: 30px