@import '../helpers/variables'
@import '../components/news-preview'

.section-title
  margin-bottom: 20px

.news__category-list
  display: flex
  flex-wrap: wrap

.category
  &__link
    text-transform: uppercase
    font-size: 1rem
    font-weight: 700
    padding-right: 20px
    width: 25%
    margin-top: 35px

    a
      transition: color .15s ease-out
      color: white
      text-decoration: none

  &__active a, a:hover
    color: $red

@media (max-width: 1024px)
  .category__link
    font-size: 1rem

@media (max-width: 425px)
  .section-title
    margin-bottom: 20px

  .category__link
    width: 50%
    margin-top: 20px

    &:first-child, &:nth-child(2)
      margin-top: 0