@import '../helpers/variables'
@import '../components/title-with-link'

.section-title
  margin-bottom: 30px
  width: 100%

.section__details
  display: flex
  flex-wrap: wrap

.details
  &-title
    font-size: 2.5rem
    width: 100%
    order: 1

  &-image
    order: 3
    height: 180px
    width: 180px
    margin-left: 50px

    img
      max-height: 100%
      max-width: 100%

.noc-country-details
  width: 60%
  order: 2

.details-row
  display: flex
  margin-bottom: 15px

  a
    color: white
    transition: color .25s linear

    &:hover
      color: $red

  img
    height: 120px
    width: auto

.detail
  &-label
    text-transform: uppercase
    width: 160px
    margin-right: 80px

  &-value
    width: calc(100% - 240px)

.section__sports
  & img
    max-width: 50%
    width: 100%
    float: left
    margin-right: 20px
    margin-bottom: 10px

@import '../components/news-preview'

@media (max-width: 425px)
  .section-title
    margin-bottom: 20px

  .details
    &-row
      align-items: center

    &-title
      font-size: 1.5rem

    &-image
      order: 2
      margin-left: 0
      margin-bottom: 15px
      width: 100%
      height: auto
      text-align: center

  .noc-country-details
    order: 3
    width: 100%

  .detail
    &-label
      font-size: .75rem
      font-weight: 900
      opacity: .5
      margin-right: 20px
      width: 35%

    &-value
      width: calc(65% - 20px)

  .section__sports
    & img
      max-width: 100%
      float: none
      margin-right: 0
      margin-bottom: 20px