@import '../helpers/variables'
@import '../components/countries-list'

.country-info
  display: flex
  justify-content: space-between

  a
    color: white

    &:hover
      color: $red

  &__map
    flex: 1
    width: 100%
    min-height: 430px

    svg
      width: 100%
      fill: white
      opacity: 0.5
      & path
        transition: fill 200ms
        &[data-inactive]
          fill: red
      & path:hover:not([data-inactive]),
      & path.selected
        cursor: pointer
        fill: $red
        stroke: rgba(255, 255, 255, 0.5)

  &__item
    width: 40%
    margin: 0 30px

  &__title
    margin-bottom: 15px
    font-size: 2rem
    font-weight: 900
    vertical-align: middle

  &__flag
    display: inline
    line-height: 1.5

    img
      height: 20px

.committee-name
  font-size: 1.25rem
  margin-bottom: 25px

.info__content
  display: flex
  margin-bottom: 10px

  &-label
    width: 50%
    padding-right: 20px
    text-transform: uppercase

  &-value
    width: 100%
    flex: 1

    div
      display: flex

    img
      max-height: 100px
      max-width: 100px

@media (max-width: 1240px)
  .info__content
    &-label
      width: 40%

@media (max-width: 768px)
  .country-info
    display: none

    &__map
      display: none
