@import '../helpers/variables'

.not-found
  &__wrapper
    background-image: url(../../images/not-found-bg.jpg)
    background-size: cover
    background-position: center
    width: 100vw
    height: 100vh
    max-width: 100%
    max-height: 100%
    display: flex
    align-items: center

  &__body
    display: flex
    justify-content: space-between
    width: 100%

  &__text-content
    margin-right: 80px

  &__first-text
    color: $red
    font-size: 60px
    font-weight: 900
    line-height: 1.2

  &__second-text
    color: white
    font-size: 28px

  &__links
    display: flex
    align-items: center
    font-size: 20px
    margin-top: 40px

  &__home
    background-color: $red
    border-radius: 5px
    padding: 10px 30px
    color: white
    margin-right: 40px
    text-decoration: none
    cursor: pointer

  &__back
    color: rgba(white, .75)
    cursor: pointer

  &__img-content
    flex: 1

    img
      max-width: 100%
      max-height: 100%

@media screen and (max-width: 425px)
  .not-found
    &__body
      flex-direction: column
      transform: translateY(10%)

    &__first-text
      font-size: 30px

    &__second-text
      font-size: 20px

    &__links
      font-size: 16px
      margin-top: 20px
      margin-bottom: 40px

    &__home
      padding: 5px 15px
      margin-right: 30px