@import '../helpers/variables'

.magazines-list
  display: flex
  flex-wrap: wrap
  margin-top: 50px

.magazines-wrap
  max-width: calc(100% / 4 - 30px)
  width: 100%
  margin: 0 15px 30px
  text-decoration: none
  color: white
  font-size: 1.25rem
  transition: color .25s linear

  &:hover
    color: $red

    .magazine-image
      img
        transform: scale(.9)

.magazine-image
  background-size: cover
  background-position: center
  height: 280px
  display: flex
  align-items: center
  justify-content: center
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: 100%
    height: 100%
    background-color: rgba($darkBlue, .85)

  & img
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    position: relative
    z-index: 1
    transition: transform .25s linear

@media (max-width: 425px)
  .magazines-wrap
    max-width: 80%
    margin-left: auto
    margin-right: auto