@import '../helpers/variables'
@import '../components/title-with-link'
@import '../components/news-preview'
@import '../components/gallery-slider'
@import '../components/download-files'

.sports-committee__list
  column-count: 2

.committee__link
  margin: 0 40px 15px 0
  text-transform: uppercase
  font-size: 1.25rem

  &:last-child
    margin-bottom: 0

  & a
    text-decoration: none
    color: white
    transition: color .15s ease-out

    &:hover
      color: $red

.noc-countries-list
  column-count: 3

.noc-country
  margin-bottom: 20px
  margin-right: 20px

  & > a
    text-decoration: none
    color: white
    font-size: 1.375rem
    transition: color .25s ease-out

    &:hover
      color: $red

.table
  &__list
    font-size: 1.25rem
    font-weight: 600
    color: white

  &__row
    display: flex
    margin-bottom: 15px

  &__col
    flex: 1
    padding-right: 30px

    &:first-child
      flex: 2

    &:last-child
      padding-right: 0

  &__link
    text-decoration: none
    color: white
    transition: color .25s linear

    &:hover
      color: $red

@media (max-width: 768px)
  .noc-countries-list
    column-count: 2
    padding-right: 20px

@media (max-width: 425px)
  .sports-committee__list
    column-count: 1
    margin-bottom: 100px

  .committee__link
    margin-right: 0
    margin-bottom: 15px

  .noc-countries-list
    column-count: 1

  .table
    &__list
      font-size: 1rem

    &__row
      flex-direction: column

      &:not(:last-child)
        border-bottom: 1px solid rgba(white, .5)
        padding-bottom: 15px

    &__col
      padding-right: 0

      &:first-child
        flex: 1
        font-size: 1.125rem

    &__link
      color: $red