@import '../helpers/variables'

.section-title.section-title--white.section-title--center
  margin-bottom: 50px

.oca__logo
  max-width: 140px
  width: 100%
  margin: 0 auto 40px

.content
  & img
    max-width: 100%
    margin: 0 auto

.organisation-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 50px

.organisation__link
  text-align: center
  font-size: 1.125rem
  font-weight: 700
  width: 25%
  margin-bottom: 50px
  padding: 0 10px

  & a
    text-decoration: none
    color: white
    transition: color .15s ease-out

    &:hover
      color: $red

.oca-detail__item
  display: flex
  flex-direction: column
  margin-bottom: 50px

  &:last-child
    margin-bottom: 0

  &:nth-child(odd)
    align-items: flex-start
    text-align: left
    padding-right: 40px

  &:nth-child(even)
    align-items: flex-end
    text-align: right
    padding-left: 40px

  & a
    text-decoration: none
    color: $red

.item__description
  max-width: 100%

.item__link
  color: $red
  margin-top: 30px
  text-transform: uppercase

.sports-committee__list
  column-count: 2
  margin-top: 90px

.committee__link
  margin: 0 40px 40px 0
  text-transform: uppercase
  font-size: 1.375rem

  &:last-child
    margin-bottom: 0

  & a
    text-decoration: none
    color: white
    transition: color .15s ease-out

    &:hover
      color: $red

@media (max-width: 768px)
  .section-title.section-title--white.section-title--center
    margin-bottom: 40px

  .oca__logo
    display: none

  .organisation-list
    margin-top: 40px

  .organisation__link
    width: 40%
    margin-bottom: 30px

    &:last-child
      margin-bottom: 0

  .oca-detail__item
    margin-bottom: 40px

  .section-description
    text-align: left

  .content
    & img
      margin-top: 40px

@media (max-width: 425px)
  .content
    & img
      max-width: 100%

  .oca-detail__item
    &:nth-child(odd)
      padding-right: 0px

    &:nth-child(even)
      padding-left: 0px

  .organisation__link
    width: 100%
    margin-bottom: 40px
    text-align: left

  .sports-committee__list
    column-count: 1
    margin-bottom: 100px

  .committee__link
    margin-right: 0
    margin-bottom: 30px