@import "../helpers/_variables"

.games
  &__category
    display: flex
    padding-bottom: 50px
    margin-bottom: 50px
    border-bottom: 1px solid #fff

  &__img
    width: 300px
    height: 300px
    margin-right: 50px
    text-decoration: none

    img
      max-width: 100%
      max-height: 100%

  &__content
    flex: 1
    display: flex
    flex-direction: column
    align-items: flex-start

  &__title
    font-size: 2.25rem
    font-weight: 900
    text-decoration: none
    text-transform: uppercase
    color: #fff
    margin-bottom: 10px

    &:hover
      color: $red

  &__description
    flex: 1

  &__link
    text-decoration: none
    margin-top: auto
    background-color: $red
    color: #fff
    border-radius: 5px
    padding: 5px 50px
    display: inline-flex
    margin-top: 20px

    &:hover
      opacity: .75

@media screen and ( max-width: 768px )
  .games
    &__img
      width: 200px
      height: 200px

    &__title
      font-size: 1.5rem

@media screen and ( max-width: 425px )
  .games
    &__category
      flex-direction: column

    &__img
      margin-right: 0
      margin-bottom: 10px
      width: auto
      height: auto