@import '../components/countries-list'
@import '../components/news-preview'

.games-list
  .section-title
    font-size: 2rem

    &--mini
      font-size: 1.5rem

@media screen and (max-width: 425px)
  .games-list
    .section-title
      font-size: 1.5rem

      &--mini
        font-size: 1.375rem !important
