@import '../components/countries-list'

.details-container
  width: 60%
  order: 2

.details-row
  display: flex
  margin-bottom: 15px

  a
    color: white
    transition: color .25s linear

    &:hover
      color: $red

  img
    height: 120px
    width: auto

.detail
  &-label
    text-transform: uppercase
    width: 200px
    margin-right: 80px

  &-value
    width: calc(100% - 280px)

// Medal table Styles
.medal-table
  &__container
    line-height: 1.2

  &__header &__col
    background-color: rgba(#fff, .35)
    font-weight: 900
    padding: 5px 15px
    border-right: none

  &__footer
    background-color: rgba(#fff, .5)
    font-weight: 900

  &__row
    display: flex

  &__body &__row
    transition: .25s

    &:hover
      background-color: rgba(#fff, .1)

  &__col
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    width: 10%
    padding: 10px 15px
    margin-left: 3px
    border-left: 1px solid rgba(#fff, .25)

    &:first-child
      margin-left: 0
      border-left: none

    &.col__label
      flex: 1
      width: auto

  &__country
    &:nth-child(even)
      background-color: rgba(#fff, .2)

.medal
  display: flex
  width: 24px

  &.belt
    width: 30px

  svg
    max-width: 100%
    max-height: 100%

.country
  &-flag
    width: 25px
    height: 25px
    background-size: cover
    background-position: center
    border-radius: 15px
    margin-right: 10px

  &-name
    flex: 1
    text-align: left
    text-transform: uppercase
// Medal table Styles

.mark__categories-list
  display: flex

.mark__category
  display: flex
  flex-direction: column
  align-items: center
  text-decoration: none
  padding: 15px  10px
  border-radius: 20px
  width: 25%

  &:hover
    background-color: rgba(white, .15)

.category__image
  margin-bottom: 20px
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

  & img
    max-width: 80%
    max-height: 200px

.category__text
  margin-top: auto

.category__name
  color: white
  font-size: 1.375rem

  &:after
    content: 'details...'
    color: $red
    font-size: .875rem
    font-weight: 900
    display: block

@media (max-width: 768px)
  .mark__categories-list
    flex-wrap: wrap

  .mark__category
    width: 33.333%

  .category__image
    & img
      max-width: 90%

@media (max-width: 425px)
  .details-container
    order: 3
    width: 100%

  .detail
    &-label
      font-size: .75rem
      font-weight: 900
      opacity: .5
      margin-right: 20px
      width: 45%

    &-value
      width: calc(65% - 20px)

  .section__sports
    & img
      max-width: 100%
      float: none
      margin-right: 0
      margin-bottom: 20px

  // Medal table Styles
  .medal-table
    &__container
      font-size: 14px

    &__col
      width: 16%
      margin-left: 0
      border-left: none
      padding: 10px

      &.col__label
        justify-content: flex-start

      &.col__total-rank
        width: 24%

    &__header &__col
      padding: 10px
      text-align: left
      font-size: 12px

    &__header
      .col
        &__place
          display: none

        &__total-rank
          text-align: center

    &__country-totals
      .col
        &__place
          display: none

  .country
    &-flag
      display: none
  // Medal table Styles

  .mark__category
    width: 50%

  .category__image
    & img
      max-width: 100%