@import '../helpers/variables'
@import '../components/gallery-slider'
@import '../components/_desktop-photo-slider'
@import '../components/__sports-list-mobile'
@import '../components/download-files'
@import '../components/marks-list'

@mixin list-mobile
  flex-direction: column
  margin-bottom: 16px

@mixin list-item-mobile
  width: 100%
  font-size: 24px
  &::before
    content: '–'
    margin-right: 8px

.photo-slider__wrap
  display: none

.sports-content-wrapper
  display: flex

.tabs
  flex: 1
  max-width: 1024px
  width: 100%
  &__body
    overflow: hidden

.tabs__header
  margin-bottom: 30px
  transition: all .3s
  & .tab__toggles-list
    padding: 12px
  &.fixed
    position: fixed
    top: 0
    left: 0
    right: 0
    background: $darkBlue
    padding: 10px 0
    z-index: 1
    & .tab__toggles-list
      padding: 0

.tab__content
  clear: both

.tab__toggles-list
  white-space: nowrap

.tab__toggle
  display: inline-block
  margin-right: 18px
  text-transform: uppercase
  font-size: .875rem
  font-weight: 700
  line-height: 1.35
  cursor: pointer
  transition: box-shadow .25s ease-out
  white-space: nowrap
  box-shadow: inset 0 -0.175em transparent, inset 0 -0.2em transparent

  &:hover,
  &--active
    box-shadow: inset 0 -0.175em $red

.sports__title
  font-size: 3rem
  font-weight: 900
  line-height: 1
  color: white
  margin-bottom: 15px

.sports__title.football__title--mobile
  display: none

.sports__title.news-title
  display: none

.sports__image
  margin-bottom: 24px
  background-size: cover
  background-repeat: no-repeat
  background-position: center
  width: 100%
  height: 200px
  @media screen and ( min-width: 1280px )
    float: left
    max-width: 400px
    height: 400px
    margin-right: 24px
    margin-bottom: 0
  img
    width: 100%
    height: 100%

.tab__content.news
  & .news-list
    display: block
    > div
      width: 100%
      margin-bottom: 40px

.sports__title.links-title
  display: none

.sports__title.federation-title
  display: none

.sports__title.photos-title
  display: none

.federation-list
  & li
    display: flex
    margin-bottom: 60px
    & a
      &:hover ~ div .federation__title a
        color: $red
    & img
      display: block
      width: 146px
      height: 146px
      margin-right: 30px

.federation__title
  margin-bottom: 20px
  font-size: 2rem
  line-height: 1

  & a
    color: white
    text-decoration: none
    transition: color .15s ease-out

    &:hover
      color: $red

.link__item
  margin-bottom: 20px

.link__title
  font-size: 36px
  font-weight: 900
  margin-bottom: 17px
  a
    text-decoration: none
    color: white
    &:hover
      color: red

.link__description
  p
    margin-bottom: 4px
  a
    color: $red

.members-list
  margin-top: 23px

  & li
    margin-bottom: 40px

    & span
      margin-right: 50px
      font-size: 25px

      &:nth-child(2)
        color: $red

.disciplines
  &__list
    display: flex
    flex-wrap: wrap
    margin-bottom: 16px
    &:hover
      opacity: 1
  &__list-item
    width: 30%
    opacity: 0.5
    font-weight: bold
    cursor: pointer
    &--active
      opacity: 1
  &__item
    &-title
      font-size: 36px
      font-weight: 900
      margin-bottom: 17px
      color: $red

    &-events-list
      display: flex
      margin-top: 23px
      flex-wrap: wrap
      &-item
        width: 32%
        margin-bottom: 40px
        & ol
          list-style-type: decimal
          padding-left: 16px
        & h2
          text-transform: uppercase
          font-weight: bold
          margin-bottom: 16px
        & p
          margin-bottom: 10px

@import '../components/sports-list'
@import '../components/news-preview'

@media (max-width: 1600px)
  .tabs
    flex: none
    max-width: 782px
    width: 80%
  .link__description.hidden::before
    right: 30%
@media (max-width: 1024px)
  .tabs
    flex: none
    max-width: 782px
    width: 70%
  .link__description.hidden::before
    right: 0%
    bottom: 9%
    height: 10px

@media (max-width: 768px)
  .sports-content-wrapper
    padding-bottom: 100px

  .tabs
    flex: 1
    width: 100%
  .tab__content.about.mix
    & > img
      width: auto
      height: auto
    & div
      order: 1
      margin-left: 0

  .tab__content.photos .photo-slider__wrap
    margin: 0 -3%
  .tab__content.federations
    padding-bottom: 70px

  .photo-slider__wrap
    display: block
    margin: 0 -10%

  .section-title
    text-align: center

  .tabs__header
    display: none

  .sports-content-wrapper
    display: block

  .tab__content
    margin-top: 30px

    & > img
      max-width: 100%
      float: none
      margin-right: 0
      margin-bottom: 15px
      order: 1
      object-fit: cover

    .sports__title
      color: $red
      font-size: 3.5rem

    .sports__title.football__title
      display: none

    .sports__title.football__title--mobile
      display: block

    .federation__title--mobile
      font-size: 1.5rem

    .related-link__title--mobile
      font-size: 1.5rem

  .content.content--right-floated
    margin-right: auto
    margin-left: auto

  .tab__content
    display: flex
    flex-direction: column

  .tab__content-description
    order: 2

  .link
    &__item
      margin-bottom: 0

    &__title
      font-weight: normal
      margin-bottom: 0
      @include list-item-mobile

    &__description
      display: none

  .disciplines
    &__list
      @include list-mobile

      &-item
        @include list-item-mobile

    &__item-title,
    &__item-events-list
      display: none

  .federation-list
    .federation__title
      margin-bottom: 0
      a
        @include list-item-mobile

    & li
      margin-bottom: 0

      img, .federation__excerpt
        display: none

  .discipline__content
    display: none

  .sports__title.news-title
    display: block
  .sports__title.federation-title
    display: block

  .sports__title.links-title
    display: block

  .sports__title.photos-title
    display: block

  .about__content-wrap
    width: 100%

  .events

@media (max-width: 425px)
  .tab__content .sports__title
    font-size: 2.2rem