@import "~@glidejs/glide/src/assets/sass/glide.core"
@import '../helpers/variables'
@import '../components/os-theme-round-light'

.timeline__header
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  z-index: 2
  display: flex
  align-items: center
  overflow: hidden
  padding: 0 40px
  mask-image: linear-gradient(rgba(white, 0) 0%, black 25%, black 75%, rgba(white, 0) 100%)

  .games__categories
    width: 100%
    height: 40vh

  .games__category-link
    text-decoration: none
    color: white
    text-transform: uppercase
    text-align: center
    font-size: 1rem
    font-weight: 900
    opacity: .5
    transition: opacity .25s linear
    width: calc(100vw / 6)
    display: block
    text-align: right
    margin: 15px 30px 15px 0

    &:not(&--active):hover
      opacity: 1

    &--active
      color: $red
      opacity: 1

      span
        position: relative

        &:after
          content: ''
          display: block
          position: absolute
          top: calc(50% - 1px)
          right: 0
          width: 14px
          height: 1px
          background-color: white
          transform: translateX(calc(100% + 6px))

    &--parent-category
      color: $red
      font-size: .875rem
      font-weight: 400

.timeline__body
  height: 100vh
  max-height: 100%

.timeline__main-slider
  .slide__content
    height: 100vh
    max-height: 100%
    position: relative
    direction: ltr
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden

  .slide__bg
    background-size: cover
    background-position: center
    position: absolute
    top: 0
    left: 0
    z-index: -1
    height: 100vh
    width: 100vw
    max-height: 100%
    max-width: 100%
    opacity: .15

  .slide__img, .slide__text
    max-width: calc(1920px / 2)
    width: calc(100% / 6 * 2)
    position: absolute
    top: 50%
    transform: translateY(-50%)
    display: flex
    align-items: flex-start
    justify-content: center

  .slide__img
    left: calc(100% / 6 - (100% / 6 / 2))
    align-items: center
    transform: translate(-50vw, -50%)
    transition: transform .35s ease-out
    transition-delay: .25s
    max-height: 60vh
    height: 100%

    img
      max-width: 90%
      max-height: 90%
      width: auto
      height: auto

  .slide__text
    left: calc(100% / 6 * 3 - (100% / 6 / 2))
    flex-direction: column
    font-weight: 900
    perspective: 1000px

  .text__game
    &-year
      color: white
      font-size: 4rem
      line-height: 1
      margin-bottom: 10px
      transform: translate(3vw, 54vh) scale(.4)
      perspective: 1000px
      transition: all .5s ease-out
      transition-delay: .1s
      visibility: hidden
      opacity: 0

    &-type, &-place, &-description, &-link
      transform: translateX(-85vw)
      perspective: 1000px
      transition: transform .35s ease-out

    &-type
      color: $red
      font-size: 2rem
      transition-delay: .05s

    &-place
      color: white
      font-size: 2rem
      transition-delay: .1s

    &-description
      font-weight: 100
      max-width: 100%
      transition-delay: .15s

    &-link
      text-decoration: none
      display: inline-block
      background-color: $red
      color: white
      font-size: 1.125rem
      font-weight: 100
      border-radius: 5px
      padding: 2px 30px 1px
      width: 160px
      text-align: center
      margin-top: 20px
      transition: all .25s ease-out

      &:hover
        letter-spacing: .25rem

  .glide__slide--active
    .slide__img
      transform: translate(0, -50%)

    .text__game
      &-year
        color: $red
        transform: translate(0, 0) scale(1)
        visibility: visible
        opacity: 1

      &-type, &-place, &-description, &-link
        transform: translateX(0)

.timeline__footer
  position: absolute
  bottom: 20px
  left: 0
  z-index: 1
  width: 100%

.timeline__nav-slider
  position: relative

  &:after
    content: ''
    position: absolute
    top: 50%
    left: 0
    z-index: -1
    width: 100%
    border-bottom: 1px solid rgba(white, .25)

  .glide__slide
    text-align: center

    &:not(.glide__slide--active)
      .slide__dot
        &:hover
          &:before, &:after
            opacity: 1

          &:before
            width: 22px
            height: 22px

          &:after
            width: 8px
            height: 8px

          & ~ div
            letter-spacing: .25rem

  .slide__content
    display: inline-flex
    flex-direction: column
    align-items: center
    line-height: 1

  .slide__year
    height: 18px
    font-size: 1.5rem
    font-weight: 900
    transition: all .25s ease-out
    order: 1

  .slide__dot
    height: 20px
    width: 20px
    margin: 15px 5px
    position: relative
    cursor: pointer
    order: 2

    &:before, &:after
      content: ''
      display: block
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      transition: all .25s ease-out

    &:before
      height: 20px
      width: 20px
      background-color: white

    &:after
      height: 0
      width: 0
      background-color: $red
      opacity: 0

  .slide__place
    font-size: 1rem
    color: $red
    height: 18px
    transition: all .25s ease-out
    order: 3
    transform: translateY(-4px)

  .glide__slide--active
    height: 100%

    .slide__year
      opacity: 0
      visibility: hidden

    .slide__dot
      cursor: default

      &:before, &:after
        transition: all .75s ease-out
        opacity: 1

      &:before
        height: 0
        width: 0

      &:after
        width: 30px
        height: 30px

    .slide__place
      opacity: 0
      visibility: hidden

@media (max-width: 1024px)
  .timeline__header
    top: 150px
    max-width: 100%
    height: auto
    border-bottom: 1px solid rgba(white, .5)
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%)
    transform: translateY(0)

    .games__categories
      width: 100%
      height: auto

    .games__categories-wrap
      display: flex

    .games__category-link
      min-width: 160px
      width: 160px
      text-align: center

      &--active
        position: relative

        span
          display: block
          position: static

          &:after
            top: auto
            bottom: -15px
            width: 100%
            height: 2px
            background-color: $red
            transform: translateX(0)

    .os-scrollbar
      display: none

  .timeline__main-slider
    .slide__img, .slide__text
      width: calc(50% - 80px)

    .slide__img
      left: 40px

    .slide__text
      left: auto
      right: 40px

@media (max-width: 768px)
  .timeline__header
    top: 120px

  .timeline__main-slider
    .slide__img, .slide__text
      width: calc(50% - 60px)

    .slide__img
      left: 30px

    .slide__text
      right: 30px

@media (max-width: 425px)
  .timeline__header
    top: 100px
    padding: 0

    .games__category-link
      font-size: .75rem
      margin: 5px 15px
      min-width: 150px

      &:last-child
        margin-right: 0

      &--active
        span
          &:after
            bottom: -5px

  .timeline__main-slider
    .slide__content
      display: inline-flex
      flex-direction: column
      justify-content: flex-start
      padding-top: 25vh
      max-height: 100%
      overflow: hidden
      width: 100%

    .slide__bg
      height: 100%

    .slide__img, .slide__text
      position: static
      width: calc(100% - 40px)
      margin: 0 auto
      transform: translateY(-0%)

    .slide__img
      max-height: 35vh
      flex: 1

      img
        height: 100%

    .slide__text
      margin-bottom: 10px

    .text__game
      &-year
        display: none

      &-type
        font-size: 1.25rem
        line-height: 1

      &-place
        font-size: 1rem

      &-description
        font-size: .875rem

      &-link
        font-size: .875rem
        margin-top: 10px
        width: auto
        padding: 2px 20px 1px

    .glide__slide--active
      .slide__img
        transform: translate(0, 0)

  .timeline__footer
    bottom: 0

  .timeline__nav-slider
    &:after
      top: 54%

    .slide__dot
      margin: 8px
      height: 15px
      width: 15px

      &:before
        height: 15px
        width: 15px

    .slide__year
      font-size: 1.125rem
      height: 12px

    .slide__place
      height: 10px
      transform: translateY(0)
      opacity: 0
      visibility: hidden

    .glide__slide--active
      .slide__dot
        &:after
          width: 20px
          height: 20px

      .slide__year
        opacity: 1
        visibility: visible
        color: $red

@media (max-width: 350px)
  .timeline__header
    top: 80px
