mixin countriesList(columns=1, flags=true)
  - var countries = require('../../js/countries.json')
  ul.country-list(class=`country-list__columns-${columns}` data-aos="fade-up")
    each val, key in countries
      li(data-country-id=`${key}`).country-list__item
        a(href="/noc-inner.html").country-list__item-link
          if flags
            .country-list__item-flag(style=`background-image: url(${require('../../images/Kyrgyzstan_kg.png')})`)
          .country-list__item-name= val.name