- var directoriesList = require('../../js/directories.json')

.timeline__header
  .games__categories
    .games__categories-wrap
      each val in directoriesList
        a(href="#").games__category-link(class= val === "Members" && "games__category-link--active ")
          span= val
