include ../svg/documents

section
  h1.section-title Downloads

  .downloads__list
    .downloads__item
      a(href="#" download)
        .downloads__item-icon
          +pdfIcon
        .downloads__item-name Lorem ipsum dolos sit amen

    .downloads__item
      a(href="#" download)
        .downloads__item-icon
          +docIcon
        .downloads__item-name Lorem ipsum dolos sit amen

    .downloads__item
      a(href="#" download)
        .downloads__item-icon
          +pptIcon
        .downloads__item-name Lorem ipsum dolos sit amen

    .downloads__item
      a(href="#" download)
        .downloads__item-icon
          +xlsIcon
        .downloads__item-name Lorem ipsum dolos sit amen