- var lottieRunnerData = require('../../js/lottie-runner-data.json');
- var lottieKarateData = require('../../js/lottie-karate-data.json');
- var lottieTennismanData = require('../../js/lottie-tennisman-data.json');
- var lottieBasketballData = require('../../js/lottie-basketball-data.json');
- var lottieJudoData = require('../../js/lottie-judo-data.json');
- var lottieJumperData = require('../../js/lottie-jumper-data.json');

.entry-slider
  .glide__track(data-glide-el="track")
    .glide__slides
      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/runner_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Ever Onward
            .slide__description OCA helps to develop sport, culture and education of Asian youth
          .lottie__area(data-index="0" data-lottie=JSON.stringify(lottieRunnerData))
            .lottie__content

      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/karate_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Excellence
            .slide__description The important thing is not winning, but taking part, making progress and enjoying the healthy combination of body, will and mind
          .lottie__area(data-index="1" data-lottie=JSON.stringify(lottieKarateData))
            .lottie__content

      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/tennisman_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Respect
            .slide__description Respect for yourself and your body, for other people, for rules and regulations, for sport and for the environment.
          .lottie__area(data-index="2" data-lottie=JSON.stringify(lottieTennismanData))
            .lottie__content

      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/basketball_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Friendship
            .slide__description Encourages us to see sport as an instrument for mutual understanding between people all over the world.
          .lottie__area(data-index="3" data-lottie=JSON.stringify(lottieBasketballData))
            .lottie__content

      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/judo_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Fair Play
            .slide__description Playing fair in sport can lead to the development and reinforcement if fair play behavior in one's community and in one's life.
          .lottie__area(data-index="4" data-lottie=JSON.stringify(lottieJudoData))
            .lottie__content
      
      .glide__slide
        .slide__content
          .slide__bg(style=`background-image: url(${require('../../images/lottie/jumper_img.jpg')})`)
          a(href="#").slide__text
            .slide__title Faster, Higher, Stronger
            .slide__description The Olympic “Citius, Altius, Fortius” motto is a call to scale the heights, broaden horizons, reset standards, beat the clock, and better the best.
          .lottie__area(data-index="5" data-lottie=JSON.stringify(lottieJumperData))
            .lottie__content
