mixin gallerySlider
  .photo-slider__wrap
    .photo-slider
      .slider__item
        .item__wrap
          +IMG('slide-img.jpg').tns-lazy-img(data-src=require('../../images/slide-img.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2018
      .slider__item
        .item__wrap
          +IMG('oca-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/oca-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2020
      .slider__item
        .item__wrap
          +IMG('noc-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/noc-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2022
      .slider__item
        .item__wrap
          +IMG('news-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/news-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2024
      .slider__item
        .item__wrap
          +IMG('games-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/games-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2026
      .slider__item
        .item__wrap
          +IMG('sports-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/sports-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2028
      .slider__item
        .item__wrap
          +IMG('calendar-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/calendar-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2030
      .slider__item
        .item__wrap
          +IMG('slide-img.jpg').tns-lazy-img(data-src=require('../../images/slide-img.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2032
      .slider__item
        .item__wrap
          +IMG('multimedia-nav-bg.jpg').tns-lazy-img(data-src=require('../../images/multimedia-nav-bg.jpg'))
          a(href="#").item__text
            .game__type Asian Summer Games
            .game__address Jakarta - Palembang 2034