include helpers
include ../svg/oca-logo

header.header
  a(href="/").header__logo
    +IMG('oca-logo.png')

    //- .logo__text
    //-   span Olympic
    //-   span Council
    //-   span of Asia

  .nav-toggle
    .nav-toggle__text Menu
    .nav-toggle__icon
      span
      span
      span