mixin IMG(name)
  img(src=require(`../../images/${name}`) alt= name)&attributes(attributes)

mixin SVG(name, viewBox)
  svg(xmlns="http://www.w3.org/2000/svg" viewBox= viewBox)
    use(xlink:href=`${require(`../../images/${name}.svg`)}#${name}`)

mixin ContentTop(url)
  .content-top(style=`background-image: url(../images/${url})`)
