include ../svg/social-network-logos
include social-network-links

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title= `OCA » ${htmlWebpackPlugin.options.title}`

    link(rel="icon" type="image/png" href=require("../../images/favicon-32x32.png") sizes="32x32")
    link(rel="icon" type="image/png" href=require("../../images/favicon-96x96.png") sizes="96x96")
    link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.commonStyle.css}`)
    block styles

  body.body
    +socialNetworkLinks(aos="fade-right").left-fixed

    #wrapper
      include header

      main
        block content

      include footer
    include navigation

    script(src=`${htmlWebpackPlugin.files.chunks.common.entry}`)
    block scripts

    //- The core Firebase JS SDK is always required and must be listed first
    script(src="https://www.gstatic.com/firebasejs/7.4.0/firebase-app.js")

    //- TODO: Add SDKs for Firebase products that you want to use https://firebase.google.com/docs/web/setup#available-libraries
    script.
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyBJJ0Zt9gA7g5xNFLeSHDdJXkEmCCMhq1s",
        authDomain: "oca-internal.firebaseapp.com",
        databaseURL: "https://oca-internal.firebaseio.com",
        projectId: "oca-internal",
        storageBucket: "oca-internal.appspot.com",
        messagingSenderId: "406642648730",
        appId: "1:406642648730:web:dc59f3d771b8db38c2a123"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);