.mark__categories-list
  a(href="/marks.html" data-aos="zoom-in").mark__category
    .category__image
      +IMG('marks_2.png')
    .category__text
      .category__name Emblem

  a(href="/marks.html" data-aos="zoom-in").mark__category
    .category__image
      +IMG('marks_1.png')
    .category__text
      .category__name Mascot

  a(href="/marks.html" data-aos="zoom-in").mark__category
    .category__image
      +IMG('marks_2.png')
    .category__text
      .category__name Emblem

  a(href="/marks.html" data-aos="zoom-in").mark__category
    .category__image
      +IMG('marks_1.png')
    .category__text
      .category__name Mascot