.members-list
  a(href="#").member
    .member__avatar(style="background-image: url(../../images/member.png)")
    .member__info
      .member__name HH Maharadhiraj Yadavindra SIGH
      .member__role President - Executive board members
  
  a(href="#").member
    .member__avatar(style="background-image: url(../../images/member.png)")
    .member__info
      .member__name HH Maharadhiraj Yadavindra SIGH
      .member__role President - Executive board members
  
  a(href="#").member
    .member__avatar(style="background-image: url(../../images/member.png)")
    .member__info
      .member__name HH Maharadhiraj Yadavindra SIGH
      .member__role President - Executive board members
  
  a(href="#").member
    .member__avatar(style="background-image: url(../../images/member.png)")
    .member__info
      .member__name HH Maharadhiraj Yadavindra SIGH
      .member__role President - Executive board members