include ../svg/social-network-logos
include social-network-links

.navigation(tabindex=0)
  .navigation__backdrop
  .navigation__close
    .nav-toggle.nav-toggle--active
      .nav-toggle__icon
        span
        span
        span

  .navigation__drawer
    .navigation__drawer-content
      .navigation__background
      nav.nav
        ul.nav__list
          each val in ["Home", "OCA", "NOC", "Games", "Sports", "Olympicgames", "News", "Multimedia", "Calendar", "Contacts"]
            li.nav__item
              a(href=`${val === 'Home' ? '/' : val.toLowerCase() + ".html"}` data-bg=require(`../../images/${val.toLowerCase()}-nav-bg.jpg`)).nav__link= val

        .nav__footer
          +socialNetworkLinks.inside-nav

          .copyright-text Olympic Council of Asia © OCA 2018 
            span - 
            | All rights reserved