mixin newsPreview
  .news__preview(class=attributes.class data-aos="fade-left")
    .preview__left
      a(href="/news-inner.html" style=`background-image: url(${require('../../images/Olympic_Council_of_Asia_meets_Aziza_Sbaity_Aziza_Banner.png')})`).news__image
        +IMG('news-another-ratio.jpg')
    .preview__right
      .news__title
        a(href="/news-inner.html") Lorem ipsum
      .news__excerpt
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore.
        if(attributes.class === 'news__preview--single')
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore.
      .news__date 07.08.2019