.pagination
  .pagination__links
    a(href="#").pagination__link.pagination__prev-wrap
      .pagination__element.pagination__prev Prev
    .pagination__numerics
      a(href="#").pagination__link 
        .pagination__element 1
      a(href="#").pagination__link 
        .pagination__element 2
      .pagination__link.pagination__active 
        .pagination__element 3
      a(href="#").pagination__link 
        .pagination__element 4
      .pagination__dots 
        .pagination__element ...
      a(href="#").pagination__link 
        .pagination__element 9999
    a(href="#").pagination__link.pagination__next-wrap
      .pagination__element.pagination__next Next