mixin socialNetworkLinks
  .social-networks__links(class=attributes.class)
    .social-network__link(data-aos=attributes.aos)
      a(href="https://www.facebook.com/AsianGamesOCA/" target="_blank")
        +facebookLogo
    .social-network__link(data-aos=attributes.aos data-aos-delay="100")
      a(href="https://twitter.com/AsianGamesOCA/" target="_blank")
        +twitterLogo
    .social-network__link(data-aos=attributes.aos data-aos-delay="200")
      a(href="https://www.youtube.com/user/ocasianumber1" target="_blank")
        +youtubeLogo
    .social-network__link(data-aos=attributes.aos data-aos-delay="300")
      a(href="https://www.instagram.com/AsianGamesOCA/" target="_blank")
        +instagramLogo