mixin sportsListMobileSlider
  .sports-list-mobile-slider__wrap
    .sports-list-mobile-slider
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +veloLogo
        span Velo
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +veloLogo
        span Velo
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +volleyballLogo
        span Volleyball
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +footballLogo
        span Football
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +danceLogo
        span Dance
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +karateLogo
        span Karate
      .sports-mobile-slider__item(style="width: 80px; height: 80px; outline: none")
        +karateLogo
        span Karate
