mixin sportsSlider
  .desktop-photo-slider.mobile-hidden
    .desktop-photo-slider__container
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')
      .desktop-photo-slider__item
        .desktop-photo-slider__image
          +IMG('sports-slider-img.jpg')

    .desktop-photo-slider__thumbnails-container
      .desktop-photo-slider__thumbnails
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')
        .desktop-photo-slider__thumbnail
          +IMG('sports-slider-img.jpg')