mixin sportsListMobile
  - var sportsList = require('../../js/sports-mobile.json')
  .sports-list-mobile__container
    .sports-list-mobile__tooltip
    .sports-list-mobile
      each val, index in sportsList
        - var letter = val.name.charAt(0).toUpperCase()
        .sports-list-mobile__item-wrapper
          a.sports-list-mobile__item(href="#")(data-letter=`${letter}`)
            img(src=`../../images/${val.icon}.svg`)
          p.sports-list-mobile__item-title= val.name
