- var sportsList = require('../../js/sports.json')

.sport-list__wrapper
  .sports-list
    each val, index in sportsList
      .list__group
        .group__letter= index
        .group__list
          ul
            each item in val
              li.list__item(class= item === "Football" && "list-item--active")
                a(href="#").list-item__link(class= item === "Football" && "list-item__link--active")= item
