extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.administrationStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h3.section-title Administration

      h3.section-title.section-title--small.section-title--white Mission
      p The mission of the OCA is to promote Olympism and to lead the Asian Olympic Movement, according to the Olympic Charter and OCA Constitution, the role of the administration is the:
      ul
        li preparation, implementation and follow-up of decisions taken by the OCA General Assembly, Executive Board and President
        li preparation and follow-up of the work of all committees; permanent liaison with the IF/AFs, Asian NOCs and AGOCs
        li coordination of preparation for all Asian Games
        li organisation and preparation of any other Asian events
        li advice to candidate cities for the Asian Games
        li relations with many international governmental and non-governmental organisations dealing with, in particular, sport, education and culture in Asia

    section
      h3.section-title.section-title--small.section-title--white OCA Staff Members

      include ../components/members-list