extends ../components/layout
include ../components/helpers
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.calendarStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.calendar.entry}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title Calendar

      .filters
        form.filters__form
          .filter__column
            input(type="hidden" name="year-from").filter__year-from
            input(type="hidden" name="year-to").filter__year-to
            .filter__year-range

          .filter__column
            input(type="text" placeholder="Keyword").filter__keyword

          .filter__column
            button(type="submit").filter__submit Search

    section
      .events-list
        .event(data-aos="fade-up")
          .event__meta
            .event__preview
              +IMG('game-timeline-item-1.png')

            .event__dates
              .date__wrap.date__wrap--single.date__start
                .date__day 27
                .date__month Sep
                .date__year 2019

          .event__content
            .event__content__header
              button.event__expand-btn
                +rightArrow
              .event__type Meeting
              .event__place Doha / Katar
            .event__name Olympic Solidarity/OCA Regional Forum for West, Central and South Asian NOCs
            .event__description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sequi soluta facilis ex eveniet, excepturi necessitatibus ea vero, corrupti minima facere, earum blanditiis commodi! Dignissimos veritatis sapiente reprehenderit, hic mollitia vel est dicta optio? Dignissimos ratione nam rem ducimus natus sapiente eum? Deleniti, dicta. Tenetur, in quasi? Voluptatem, odio est aut iusto velit consequuntur quidem excepturi ut doloribus dolores cupiditate dignissimos autem vitae a eligendi id facere magnam animi explicabo repellendus deserunt. Esse, ipsa repellendus ipsum odit deserunt sequi fugiat iusto magnam enim, eos sunt, laborum quisquam! Ratione officiis quaerat ducimus ut quasi rem? Consectetur error maxime unde delectus autem.

        .event(data-aos="fade-up")
          .event__meta
            .event__preview
              +IMG('game-timeline-item-2.png')

            .event__dates
              .date__wrap.date__start
                .date__day 27
                .date__month Sep
                .date__year 2019

              .date__deivder
                +rightArrow

              .date__wrap.date__end
                .date__day 06
                .date__month Oct
                .date__year 2019

          .event__content
            .event__content__header
              button.event__expand-btn
                +rightArrow
              .event__type Games
              .event__place Doha / Katar
            .event__name Olympic Solidarity/OCA Regional Forum for East and South East Asian NOCs
            .event__description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsa.

        .event(data-aos="fade-up")
          .event__meta
            .event__preview
              +IMG('game-timeline-item-3.png')

            .event__dates
              .date__wrap.date__start
                .date__day 27
                .date__month Sep
                .date__year 2019

              .date__deivder
                +rightArrow

              .date__wrap.date__end
                .date__day 06
                .date__month Oct
                .date__year 2019

          .event__content
            .event__content__header
              button.event__expand-btn
                +rightArrow
              .event__type WORLD PRESS
              .event__place Tokyo / Japan
            .event__name Tokyo 2020 World Press Briefing
            .event__description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsa.

        .event(data-aos="fade-up")
          .event__meta
            .event__preview
              +IMG('game-timeline-item-4.png')

            .event__dates
              .date__wrap.date__start
                .date__day 27
                .date__month Sep
                .date__year 2019

              .date__deivder
                +rightArrow

              .date__wrap.date__end
                .date__day 06
                .date__month Oct
                .date__year 2019

          .event__content
            .event__content__header
              button.event__expand-btn
                +rightArrow
              .event__type Games
              .event__place Doha / Katar
            .event__name Olympic Solidarity/OCA Regional Forum for East and South East Asian NOCs
            .event__description
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsa.
