extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.contactsStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content(data-aos="fade-up" data-aos-once="true")
    h1.section-title Contacts
    section.contacts
      h2.contacts__title Olympic Council of Asia

      section.contacts__section
        p.contacts__info P.O. Box 6706 Hawalli
        p.contacts__info Zip Code 32042, Kuwait

      section.contacts__section
        p.contacts__info Tel.: +965 22274277 / 88 / 99
        p.contacts__info Fax: +965 22274280 / 90
        p.contacts__info Email: 
          a(href="mailto:info@ocasia.org") info@ocasia.org

      section.contacts__section
        p.contacts__info Disclaimer
        p.contacts__copyright Olympic Council of Asia © OCA 2019 - All rights reserved




