extends ../components/layout
include ../components/helpers
include ../svg/sports

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.directorySportsStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.directory.entry}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content.content--fullwidth
    section
      include ../components/directories-list

  .content
    section
      h1.section-title Asian Sports Federations
      
      - var sportsList = require('../../js/sports-mobile.json')
      .sports-list
        - var count = 1
        each val, index in sportsList
          .sports-list__item
            a(href="#")
              .sports-list__item-icon(data-aos="fade-right")
                if count % 2
                  +veloIcon()
                else
                  +volleyballIcon()
                - count++
              .sports-list__item-title(data-aos="fade-left")= val.name
              
    section
      include ../components/pagination
