extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.directoryMembersStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.directory.entry}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content.content--fullwidth
    section
      include ../components/directories-list

  .content
    section
      h1.section-title Members
      
      .directories-content-wrapper
        .filters
          form.filters__form
            .filter__column
              input(type="text" placeholder="Search for member").filter__keyword

            .filter__column
              button(type="submit").filter__submit Search

        include ../components/members-list
              
      include ../components/pagination
