extends ../components/layout
include ../components/helpers
include ../svg/sports
include ../components/countries-list

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.directoryCommitteesStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.directory.entry}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content.content--fullwidth
    section
      include ../components/directories-list

  .content
    .directories-content-wrapper
      section
        h1.section-title Asian Game Organising Committees

        .committee-list
          .committee-list__item
            .committee-list__item-details
              .committee-list__item-image
                a(href="#")
                  +IMG('committee-logo.jpg')
              .committee-list_item-text
                .committee-list__item-title
                  a(href="#") Haiyang Asian beach games organizing committee
                .committee-list__item-contacts
                  .contact__row
                    .contact__label Address
                    .contact__value Haixin Middle Road, Haiyang, China. Zip Code: 265100mpics.com
                  .contact__row
                    .contact__label Email
                    .contact__value
                      a(href="mailto: abgoc@haiyang2012.cn") abgoc@haiyang2012.cn
                  .contact__row
                    .contact__label Website
                    .contact__value
                      a(href="http://www.haiyang2012.com/en/") http://www.haiyang2012.com/en/

                .committee-list__item-description
                  .committee-list__item-title Description
                  p 3rd Asian Beach Games
          
          .committee-list__item
            .committee-list__item-details
              .committee-list__item-image
                a(href="#")
                  +IMG('committee-logo.jpg')
              .committee-list_item-text
                .committee-list__item-title
                  a(href="#") Haiyang Asian beach games organizing committee
                .committee-list__item-contacts
                  .contact__row
                    .contact__label Address
                    .contact__value Haixin Middle Road, Haiyang, China. Zip Code: 265100mpics.com
                  .contact__row
                    .contact__label Email
                    .contact__value
                      a(href="mailto: abgoc@haiyang2012.cn") abgoc@haiyang2012.cn
                  .contact__row
                    .contact__label Website
                    .contact__value
                      a(href="http://www.haiyang2012.com/en/") http://www.haiyang2012.com/en/

                .committee-list__item-description
                  .committee-list__item-title Description
                  p 3rd Asian Beach Games
                
      section
        include ../components/pagination

      section
        +countriesList(2, false)
