//- extends ../components/layout
//- include ../components/helpers
//- include ../svg/arrows

//- block styles
//-   link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.gamesTimelineStyle.css}`)

//- block scripts
//-   script(src=`${htmlWebpackPlugin.files.chunks.gamesTimeline.entry}`)

//- block content
//-   .content.content--fullwidth
//-     section
//-       - var gamesCategories = ["ASIAN SUMMER GAMES", "ASIAN WINTER GAMES", "ASIAN INDOOR & MARTIAL ARTS GAMES", "ASIAN YOUTH GAMES", "ASIAN BEACH GAMES"]
//-       ul.games-timeline__categories
//-         each val in gamesCategories
//-           li
//-             a(href="#")= val
     
       
//-       .games-timeline
//-         .games-timeline-slider
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2014
//-                     .game-title Asian Games
//-                   .game-city Japan
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2016
//-                     .game-title Asian Games
//-                   .game-city Vietnam
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2018
//-                     .game-title Asian Games
//-                   .game-city Jakarta
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2020
//-                     .game-title Asian Games
//-                   .game-city Jakarta
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2022
//-                     .game-title Asian Games
//-                   .game-city Japan
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2024
//-                     .game-title Asian Games
//-                   .game-city Hangzhou
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
//-           .slider-item
//-             .slide__wrap
//-               .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
//-               .game-item
//-                 .game-image
//-                   +IMG("2018-timeline.png")
//-                 .game-content
//-                   div
//-                     .game-title__year 2026
//-                     .game-title Asian Games
//-                   .game-city Hangzhou
//-                   .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
//-                   a(href="/games.html").game-more-link More
                  
//-         ul.timeline-nav
//-           li.timeline-nav__item
//-             .game-nav__year 2014
//-             .game-nav__city Japan
//-           li.timeline-nav__item
//-             .game-nav__year 2016
//-             .game-nav__city Vietnam
//-           li.timeline-nav__item
//-             .game-nav__year 2018
//-             .game-nav__city Jakarta
//-           li.timeline-nav__item
//-             .game-nav__year 2020
//-             .game-nav__city Jakarta
//-           li.timeline-nav__item
//-             .game-nav__year 2022
//-             .game-nav__city Hangzhou
//-           li.timeline-nav__item
//-             .game-nav__year 2024
//-             .game-nav__city Hangzhou
            
extends ../components/layout
include ../components/helpers
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.gamesTimelineStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.gamesTimeline.entry}`)

block content
  .content.content--fullwidth
    - var gamesCategories = ["ASIAN SUMMER GAMES", "ASIAN WINTER GAMES", "ASIAN INDOOR & MARTIAL ARTS GAMES", "ASIAN YOUTH GAMES", "ASIAN BEACH GAMES"]
      ul.games-timeline__categories
        each val in gamesCategories
          li
            a(href="#")= val
    .timeline__main-slider
      .glide__track(data-glide-el="track")
        .glide__slides
          .glide__slide(slide-index=0)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2014
                    .game-title Asian Games
                  .game-city Vietnam
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")
          .glide__slide(slide-index=1)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2016
                    .game-title Asian Games
                  .game-city Vietnam
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")
          .glide__slide(slide-index=2)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2018
                    .game-title Asian Games
                  .game-city Jakarta
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")
          .glide__slide(slide-index=3)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2020
                    .game-title Asian Games
                  .game-city Jakarta
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")
          .glide__slide(slide-index=4)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2022
                    .game-title Asian Games
                  .game-city Hangzhou
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")
          .glide__slide(slide-index=5)
            .slide__content
              .slide__bg(style=`background-image: url(${require('../../images/games-timeline-bg-1.jpg')})`)
              .game-item
                .game-content
                  div
                    .game-title__year 2024
                    .game-title Asian Games
                  .game-city Hangzhou
                  .game-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                  a(href="/games.html").game-more-link More
                .game-image
                  +IMG("2018-timeline.png")

    .timeline__footer
      .timeline__nav-slider
        .glide__track(data-glide-el="track")
          .glide__slides
            .glide__slide(slide-index=0)
              .slide__content
                .slide__year 2014
                .slide__dot
                .slide__place Japan
            .glide__slide(slide-index=1)
              .slide__content
                .slide__year 2016
                .slide__dot
                .slide__place Vietnam
            .glide__slide(slide-index=2)
              .slide__content
                .slide__year 2018
                .slide__dot
                .slide__place Jakarta
            .glide__slide(slide-index=3)
              .slide__content
                .slide__year 2020
                .slide__dot
                .slide__place Jakarta
            .glide__slide(slide-index=4)
              .slide__content
                .slide__year 2022
                .slide__dot
                .slide__place Hangzhou
            .glide__slide(slide-index=5)
              .slide__content
                .slide__year 2024
                .slide__dot
                .slide__place Hangzhou