extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../components/gallery-slider
include ../components/countries-list

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.gamesStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.games.entry}`)

block content
  include ../components/loader
  +ContentTop('content-top-bg.jpg')
  .content
    section.section__about
      h1.section-title Jacarta - Palembang 2018
      p The United Arab Emirates meaning United Country in the Middle East and sharing borders with Oman and Saudi Arabia, the  U.A.E. is a federation consisting of seven emirates: Ajman, Dubai, Fujairah, Ras al-Khaimah, Sharjah, Umm al-Quwain and the largest Abu Dhabi which contains the capital city and accounts for 87% of the total U.A.E. landmass.
      p One of the most famous geographical features of the federation is the Palm Islands in Dubai.
      p They are the largest land reclamation projects in the world and are being created from sand dredged from the bottom of the Persian Gulf. Palm Jumeriah was the first to have residents located on the peninsula.
      p Palm Jebel Ali will likely become a large draw for the tourist industry in 2012 when Busch Entertainment Corporation opens the first of four theme parks including a SeaWorld and Busch Gardens.

    section.section__details
      .game-details
        .details-row
          .detail-label(data-aos="fade-up") Opening Ceremony
          .detail-value(data-aos="fade-up") 18 Aug 2018

        .details-row
          .detail-label(data-aos="fade-up") Closing Ceremony
          .detail-value(data-aos="fade-up") 02 Sep 2018

        .details-row
          .detail-label(data-aos="fade-up") Host City
          .detail-value(data-aos="fade-up") Jakarta - Palembang

        .details-row
          .detail-label(data-aos="fade-up") Country
          .detail-value(data-aos="fade-up") Indonesia

        .details-row
          .detail-label(data-aos="fade-up") Nations Participating
          .detail-value(data-aos="fade-up") 46

        .details-row
          .detail-label(data-aos="fade-up") Athletes
          .detail-value(data-aos="fade-up") 11300

        .details-row
          .detail-label(data-aos="fade-up") Events
          .detail-value(data-aos="fade-up") 465

        .details-row
          .detail-label(data-aos="fade-up") Sports
          .detail-value(data-aos="fade-up") 40

        .details-row
          .detail-label(data-aos="fade-up") Sports / Disciplines
          .detail-value(data-aos="fade-up") 67

        .details-row
          .detail-label(data-aos="fade-up") Volunteers
          .detail-value(data-aos="fade-up") 13000

        .details-row
          .detail-label(data-aos="fade-up") Official website
          a(href="http://abg2016.com/" target="_blank").detail-value(data-aos="fade-up") http://abg2016.com

  .content.content--right-floated
    section
      h2.section-title News
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++

  .content.content--right-floated
    section
      h2.section-title Photos And Videos
      +gallerySlider

  .content
    section
      h1.section-title Participating NOCs

      +countriesList(3)

    section
      h1.section-title Invited NOCs

      +countriesList(3)

    section
      h1.section-title Sports / Disciplines

      - var disciplinesList = require('../../js/disciplines.json')
      .sports-list(data-aos="fade-up" data-aos-once="true")
        each disciplines, sportType in disciplinesList
          - var hasDiscipline = Object.keys(disciplines).length > 0
          .sport-type
            .sport__name
              - var short = sportType.slice(0, 2).toUpperCase();
              div(class=hasDiscipline ? 'discipline__short-name hidden' : 'discipline__short-name')
                span(data-aos="fade-left" data-aos-once="true")= short
              a(href="#")= sportType

            if hasDiscipline
              .sport__disciplines-list
                each discipline, shortName in disciplines
                  a(href="#").sport__discipline
                    .discipline__short-name
                      span(data-aos="fade-left" data-aos-once="true")= shortName
                    .discipline__name= discipline

    section
      h1.section-title Asian Marks

      include ../components/marks-list
    
    include ../components/download-files
