extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../components/gallery-slider
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.indexStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.index.entry}`)

block content
  include ../components/loader
  
  .content.content--fullwidth
    section
      include ../components/entry-slider

      .scroll-pointer
        .pointer__text Scroll
        .pointer__icon
          +longRightArrow
      
      .banner-slider__container
        .banner-slider__wrap
          .slider__item
            a(href="#").slider__item-wrap
              .slider__img
                +IMG('banner-slider.jpg').tns-lazy-img(data-src=require('../../images/banner-slider.jpg'))
              .slider__txt
                .slider__title Lorem Ipsum
                .slider__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          .slider__item
            a(href="#").slider__item-wrap
              .slider__img
                +IMG('banner-slider.jpg').tns-lazy-img(data-src=require('../../images/banner-slider.jpg'))
              .slider__txt
                .slider__title Lorem Ipsum
                .slider__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
          .slider__item
            a(href="#").slider__item-wrap
              .slider__img
                +IMG('banner-slider.jpg').tns-lazy-img(data-src=require('../../images/banner-slider.jpg'))
              .slider__txt
                .slider__title Lorem Ipsum
                .slider__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.

  .content.content--right-floated
    section
      .title-with-link
        h2.section-title News
        a(href="/games-timeline.html").section__title-link
          span Open the news
          +longRightArrow
          
      +newsPreview.news__preview--single
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++

      .section__bottom-link
        a(href="#") Open the news

  .content.content--right-floated
    .title-with-link
      h2.section-title Games
      a(href="/games-timeline.html").section__title-link
        span Open the timeline
        +longRightArrow
  .content
    section
      .game-timeline
        .timeline-slider
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-1.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-1.png'))
              .game-year 2014
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-2.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-2.png'))
              .game-year 2016
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-3.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-3.png'))
              .game-year 2018
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-4.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-4.png'))
              .game-year 2020
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-1.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-1.png'))
              .game-year 2022
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-2.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-2.png'))
              .game-year 2024
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-3.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-3.png'))
              .game-year 2026
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-4.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-4.png'))
              .game-year 2028

      .section__bottom-link
        a(href="#") Open the timeline
  
  .content.content--right-floated
    .title-with-link
      h2.section-title Events
      a(href="/calendar.html").section__title-link
        span Open the timeline
        +longRightArrow
  .content
    section
      .event-timeline
        .timeline-slider
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-1.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-1.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2014
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-2.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-2.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2016
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-3.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-3.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2018
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-4.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-4.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2020
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-1.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-1.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2022
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-2.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-2.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2024
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-3.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-3.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2026
          .slider-item
            a(href="#").item-wrap
              .game-emblem
                +IMG("game-timeline-item-4.png").tns-lazy-img(data-src=require('../../images/game-timeline-item-4.png'))
              .event-name IOS Winter Youth Olympic Games
              .event-place Lausenne
              .game-year.event-date 9 Apr 2028

      .section__bottom-link
        a(href="#") Open the timeline

  .content.content--right-floated
    section
      .title-with-link
        h2.section-title Gallery
        a(href="#").section__title-link
          span Open the gallery
          +longRightArrow
          
      +gallerySlider

      .section__bottom-link
        a(href="#") Open the gallery

  .content.content--right-floated
    section
      .title-with-link
        h2.section-title Sponsors

      .sponsors-row
        h3.sponsorf-of Asian Games

        .sponsors-list
          .slider__wrap
            .sopnsors-list__slider-1
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-1.png").tns-lazy-img(data-src=require('../../images/sponsor-1.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-2.png").tns-lazy-img(data-src=require('../../images/sponsor-2.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-3.png").tns-lazy-img(data-src=require('../../images/sponsor-3.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-4.png").tns-lazy-img(data-src=require('../../images/sponsor-4.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-5.png").tns-lazy-img(data-src=require('../../images/sponsor-5.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-3.png").tns-lazy-img(data-src=require('../../images/sponsor-3.png'))
                    
      .sponsors-row
        h3.sponsorf-of OCA CLub

        .sponsors-list
          .slider__wrap
            .sopnsors-list__slider-2
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-1.png").tns-lazy-img(data-src=require('../../images/sponsor-1.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-2.png").tns-lazy-img(data-src=require('../../images/sponsor-2.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-3.png").tns-lazy-img(data-src=require('../../images/sponsor-3.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-4.png").tns-lazy-img(data-src=require('../../images/sponsor-4.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-5.png").tns-lazy-img(data-src=require('../../images/sponsor-5.png'))
              .slider-item
                a(href="#" target="_blank").item-wrap
                  .sponsor-emblem
                    +IMG("sponsor-3.png").tns-lazy-img(data-src=require('../../images/sponsor-3.png'))