extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.marksStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.marks.entry}`)

block content
  +ContentTop('news-photo-2.png')
  .content
    section
      .page-emblem
        .page-emblem__wrap
          +IMG('mark-page-emblem.png')

      .mark-list__categories
        a(href="#").mark-list__category.mark-list__category-active Sport Mascot
        a(href="#").mark-list__category Emblem
        a(href="#").mark-list__category Mascot
        
      .mark-list
        each val in ['Alpine-Skiing', 'Biathlon', 'Cross-Country-Skiing', 'Curling', 'Figure-Skating', 'Freestyle-Skiing', 'Ice-Hockey', 'Short-Track-Speed-Skating', 'Ski-Jumping', 'Snowboard', 'Speed-Skating']
          a(
            href=require(`../../images/mark-${val}-Mascot-Sapporo.png`) 
            data-glightbox=`title: ${val}; description: .description-${val}`
          ).mark-wrap
            +IMG(`mark-${val}-Mascot-Sapporo.png`)
          .glightbox-desc(class=`description-${val}`)
            p Glightbox is a pure javascript lightbox. It can display images, iframes, inline content and videos with optional autoplay for youtube, vimeo and even self hosted videos.