extends ../components/layout
include ../components/helpers
include ../svg/medals

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.medalTableStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.medalTable.entry}`)

block content
  +ContentTop('text-info-top-bg.jpg')

  .content
    section
      h1.section-title Jakarta-Palembang 2018

      .medal-table__container
        .medal-table__header
          .medal-table__row
            .medal-table__col.col__rank
              span Rank
            .medal-table__col.col__label
              span NOC
            .medal-table__col.col__place
              .medal.belt
                +medalGoldBelt
            .medal-table__col.col__place
              .medal.belt
                +medalSilverBelt
            .medal-table__col.col__place
              .medal.belt
                +medalBronzeBelt
            .medal-table__col.col__total
              span Total
            .medal-table__col.col__total-rank
              span Rank by total
        .medal-table__body
          - var country = 0
          while country < 6
            - country++
            .medal-table__country
              .medal-table__country-totals
                .medal-table__row
                  .medal-table__col.col__rank
                    span= country
                  .medal-table__col.col__label
                    .country-flag(style=`background-image: url(${require('../../images/Kyrgyzstan_kg.png')})`)
                    .country-name Laos People's Democratic Republic
                  .medal-table__col.col__place
                    span 123
                  .medal-table__col.col__place
                    span 60
                  .medal-table__col.col__place
                    span 40
                  .medal-table__col.col__total
                    span 263
                  .medal-table__col.col__total-rank
                    span 1

              .medal-table__sports
                - var sport = 0
                while sport < 5
                  - sport++
                  .medal-table__sport-wrap
                    .medal-table__sport-wrap__totals
                      .medal-table__row
                        .medal-table__col.col__rank
                        .medal-table__col.col__label
                          .sport-name Athletics
                        .medal-table__col.col__place
                          span 123
                        .medal-table__col.col__place
                          span 60
                        .medal-table__col.col__place
                          span 40
                        .medal-table__col.col__total
                          span 263
                        .medal-table__col.col__total-rank

                    .medal-table__places
                      .medal-table__sports-places
                        .medal-table__row
                          .medal-table__col
                            .medal
                              +medalGold
                            span 45
                          .medal-table__col
                            .medal
                              +medalSilver
                            span 25
                          .medal-table__col
                            .medal
                              +medalBronze
                            span 15

                      .medal-table__place-wrap
                        .medal-table__row
                          .medal-table__col.col__rank
                          .medal-table__col.col__label
                            .place-of Abdalelah Hassan - Men's 400m
                          .medal-table__col.col__place.col--filled
                            .medal
                              +medalGold
                          .medal-table__col.col__place
                          .medal-table__col.col__place
                          .medal-table__col.col__total
                          .medal-table__col.col__total-rank
                      .medal-table__place-wrap
                        .medal-table__row
                          .medal-table__col.col__rank
                          .medal-table__col.col__label
                            .place-of Abdalelah Hassan - Men's 400m
                          .medal-table__col.col__place
                          .medal-table__col.col__place.col--filled
                            .medal
                              +medalSilver
                          .medal-table__col.col__place
                          .medal-table__col.col__total
                          .medal-table__col.col__total-rank
                      .medal-table__place-wrap
                        .medal-table__row
                          .medal-table__col.col__rank
                          .medal-table__col.col__label
                            .place-of Abdalelah Hassan - Men's 400m
                          .medal-table__col.col__place
                          .medal-table__col.col__place
                          .medal-table__col.col__place.col--filled
                            .medal
                              +medalBronze
                          .medal-table__col.col__total
                          .medal-table__col.col__total-rank

        .medal-table__footer
          .medal-table__row
            .medal-table__col.col__rank
            .medal-table__col.col__label
              .country-name Total
            .medal-table__col.col__place
              span 128
            .medal-table__col.col__place
              span 700
            .medal-table__col.col__place
              span 300
            .medal-table__col.col__total
              span 1000
            .medal-table__col.col__total-rank
