extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.memberExtendedStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content(data-aos='fade-up' data-aos-once='true')
    h1.section-title President
    article.member-extended
      p.member-extended__foreword Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus aliquid eaque ipsa, quidem sint atque voluptatem! Mollitia est excepturi soluta dolor porro nobis recusandae obcaecati.
      .member-extended__content
        .member-extended__photo
          +IMG('sheikh.png')
        .member-extended__meta
          h2.member-extended__name
            a(href="#") Sheikh Ahmad Al-Fahad AL-SABAH- (1991)
          span Kuwait
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, tempore quidem explicabo sint possimus dolores quaerat voluptates earum eius vero quasi quo sed alias enim. Possimus accusamus sint natus delectus facere quia at ab labore, aperiam nostrum nesciunt et ipsum similique dignissimos, magni nihil vel quis. Cumque tempora voluptates rem numquam illo facilis nesciunt! Quo, in voluptatem alias deleniti iste, iure aut id ducimus quidem officia officiis nobis a doloribus. Cumque tenetur illo voluptatum modi impedit excepturi non quas distinctio, nostrum corrupti numquam eos debitis magni vel incidunt libero, consequuntur a unde quod? Aliquam molestias aperiam dolores est laborum beatae!
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus corporis at corrupti rerum, vel nisi veritatis adipisci id iste nulla nemo explicabo, laboriosam quae error. A similique voluptates animi voluptatibus cupiditate excepturi et aliquam, odio provident corrupti totam error nisi cum nemo voluptas nihil eum quidem. Eum quas nostrum libero.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eligendi modi aspernatur a consequuntur error sapiente commodi vero, doloremque magnam magni ab minima odio ratione? Cum inventore vitae laboriosam commodi quod consequatur, velit laudantium at ipsa numquam reiciendis minima. Atque autem quae, beatae aperiam ex quo sequi incidunt blanditiis. Porro omnis veniam, odit laboriosam magnam nemo alias debitis ipsam eum! Accusantium, doloribus officia illum, explicabo vero quam temporibus quo asperiores, dolore amet molestias corporis id deleniti aliquam provident deserunt accusamus iure commodi pariatur ex expedita illo porro. Ea saepe dicta adipisci quibusdam? Tempora quam consectetur saepe. Harum veritatis, at impedit commodi corrupti, alias nihil explicabo exercitationem eveniet cumque nulla expedita adipisci ullam reiciendis. Harum incidunt pariatur laborum aspernatur repellat sequi earum vitae, ipsum id cum, omnis quas. Unde illum nulla neque commodi at laudantium, voluptatibus blanditiis optio. Eaque, accusamus voluptatum nobis dolores ad facilis consequatur dolor recusandae molestiae, iusto sequi illo eius id minus vel sit accusantium, reprehenderit iste dolorem enim maiores dolorum natus odit. Eos esse minima beatae neque voluptatem nulla repudiandae magnam assumenda voluptate delectus, sequi omnis, fuga earum vitae vel adipisci dolores consectetur aut sed? Pariatur quas aliquid assumenda suscipit debitis officia dolore. Dolores, optio? Maxime, deserunt?
