extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.memberStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content(data-aos="fade-up" data-aos-once="true")
    h1.section-title Member
    section.member
      .member__photo
        +IMG('oca-member.jpg')
      .member__info-block
        h2.member__title Mr Tsunekazu TAKEDA

        section.member__description-section
          h3.member__description-title ENTRY IN THE OCA
          .member__description-text 1/1/1999

        section.member__description-section
          h3.member__description-title SPORTS DESIGNATION
          .member__description-text VICE PRESIDENT - EXECUTIVE BOARD MEMBERS

        section.member__description-section
          h3.member__description-title DATE OF BIRTH
          .member__description-text 01 NOV 1947

        section.member__description-section
          h3.member__description-title PLACE OF BIRTH
          .member__description-text Japan / Tokyo

        section.member__description-section
          h3.member__description-title COUNTRY
          .member__description-text Japan

        section.member__description-section
          h3.member__description-title ADDRESS
          .member__description-text ---

        section.member__description-section
          h3.member__description-title MOBILE
          a(href="tel:+81 3 3481 2286").member__description-text +81 3 3481 2286
          a(href="tel:+81 3 3481 2286").member__description-text +81 3 3481 2286
          a(href="tel:+81 3 3481 2286").member__description-text +81 3 3481 2286

        section.member__description-section
          h3.member__description-title TELEPHONE
          a(href="tel:+81 3 3481 2286").member__description-text +81 3 3481 2286

        section.member__description-section
          h3.member__description-title FAX
          a(href="tel:+81 3 3481 2286").member__description-text +81 3 3481 2286

        section.member__description-section
          h3.member__description-title EMAIL
          a(href="mailto:kek@hmail.com").member__description-text kek@hmail.com



