extends ../components/layout
include ../components/helpers
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.multimediaInnerStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.multimedia.entry}`)

block content
  include ../components/loader
  
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title Multimedia

      .multimedia__tab-links
        a(href="#").tab-link Games
        span.tab-link.tab-link--active Events

      h2.album-title
        a(href="#") Jakarta - Palembang 2018
        
      h3.album-sections
        a(href="#").parent-link Parent Album:
        span Opening ceremony

    section
      .multimedia-main-slider__wrap
        .multimedia__gallery-slider.multimedia__photo-slider
          .slider__item
            div(data-type="image" data-src=require('../../images/multimedia-slider-image.png')).item__wrap
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="image" data-src=require('../../images/multimedia-slider-image.png')).item__wrap
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="image" data-src=require('../../images/multimedia-slider-image.png')).item__wrap
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="image" data-src=require('../../images/multimedia-slider-image.png')).item__wrap
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="image" data-src=require('../../images/multimedia-slider-image.png')).item__wrap
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))

      .slider__custom-nav.photo-slider__nav
        .custom-nav-wrap
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')

    section
      .multimedia-main-slider__wrap
        .multimedia__gallery-slider.multimedia__video-slider
          .slider__item
            div(data-type="video" data-src=require('../../videos/Pip - A Short Animated Film.mp4')).item__wrap.item__video
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="video" data-src=require('../../videos/Pip - A Short Animated Film.mp4')).item__wrap.item__video
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
          .slider__item
            div(data-type="youtube" data-src="https://www.youtube.com/embed/-utVHe0-yLo").item__wrap.item__video
              +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))

      .slider__custom-nav.video-slider__nav
        .custom-nav-wrap
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')
          .custom-nav__item
            +IMG('multimedia-slider-image.png')

    section 
      .multimedia__category-list
        a(href="#")(data-aos="fade-up").multimedia__category.multimedia__category--active
          .category__image(style=`background-image: url(${require('../../images/multimedia-slider-image.png')})`)
          .category__name Opening ceremony
        a(href="#")(data-aos="fade-up").multimedia__category
          .category__image(style=`background-image: url(${require('../../images/multimedia-slider-image.png')})`)
          .category__name Games
        a(href="#")(data-aos="fade-up").multimedia__category
          .category__image(style=`background-image: url(${require('../../images/multimedia-slider-image.png')})`)
          .category__name Closing ceremony