extends ../components/layout
include ../components/helpers
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.multimediaStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.multimedia.entry}`)

block content
  include ../components/loader
  
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title Multimedia

      .multimedia__tab-links
        a(href="#").tab-link Games
        span.tab-link.tab-link--active Events

  .content.content--fullwidth
    section
      .multimedia-slider__wrap
        .multimedia-slider
          .slider__item
            .item__wrap
              .item__image
                +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
              .item__content
                .item__text
                  a(href="/multimedia-inner.html").game__name Lorem ipsum dolor sit
                  a(href="/multimedia-inner.html").game__category Asian Summer Games
                  a(href="/multimedia-inner.html").game__description Lorem ipsum dolor sit amet, consectetur adipiscing
                a(href="/multimedia-inner.html").item__link 
                  span All multimedia
                  +longRightArrow
                  
          .slider__item
            .item__wrap
              .item__image
                +IMG('multimedia-slider-image.png').tns-lazy-img(data-src=require('../../images/multimedia-slider-image.png'))
              .item__content
                .item__text
                  a(href="/multimedia-inner.html").game__name Lorem ipsum dolor sit
                  a(href="/multimedia-inner.html").game__category Asian Summer Games
                  a(href="/multimedia-inner.html").game__description Lorem ipsum dolor sit amet, consectetur adipiscing
                a(href="/multimedia-inner.html").item__link 
                  span All multimedia
                  +longRightArrow

  .content
    section
      .multimedia-list
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-1.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-2.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-3.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-4.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-1.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-2.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-3.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games
        a(href="/multimedia-inner.html").multimedia__link-wrap(data-aos="fade-up")
          .multimedia__preview
            +IMG('game-timeline-item-4.png')
          .multimedia__text
            .multimedia__name Jakarta - Palembang 2018
            .multimedia__type Asian Summer Games