extends ../components/layout
include ../components/helpers
include ../components/news-preview

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.newsStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title
        a(href="#") News
        
      .news__category-list
        each val in ["Games", "Sports", "Olympic Games", "Fun Run", "NOC", "Council", "Standing Committee", "Sports Congress"]
          .category__link
            a(href="#")= `${val} News`

  .content.content--right-floated
    section
      +newsPreview.news__preview--single

      .news-list
        - var preview = 0
        while preview < 4
          +newsPreview.news__preview--group
          - preview++

    section
      include ../components/pagination