extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../svg/social-network-logos
include ../components/gallery-slider

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.newsInnerStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.news.entry}`)

block content
  //- include ../components/loader
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title.section-title--small RANIA RAHARDJA: PIONEERING WHEELCHAIR FENCING IN SINGAPORE THROUGH YCM+

      .page-content
        .content__img(data-aos="fade-left")
          +IMG('news-photo-1.png')
          .content__img-caption Caption for image above

        h2.section-title.section-title--mini.section-title--white WHAT WAS IT LIKE TO BE INVOLVED IN THE FIRST-EVER YOG?
        p “I qualified for the YOG only two years after taking up the sport and after just one year of competitive fencing, so 2010 was a fantastic but sometimes overwhelming experience. It was only after the Games that I truly understood what being part of the YOG meant. It gave me the confidence and motivation to continue fencing. Being chosen as one of the six YOG flagbearers for the Opening Ceremony is a moment I won’t forget.. It was nerve-racking but luckily it went smoothly and I still keep in touch with the other flagbearers.”
        
        h2.section-title.section-title--mini.section-title--white TELL US ABOUT YOUR RETURN TO THE OLYMPIC FAMILY AS A YCM IN BUENOS AIRES.
        p “It was a different experience because there was no pressure of competing and I could fully immerse myself in the activities on offer. I attended the Olympism in Action Forum, where I learned about legacy, sustainability and human rights, and gained a greater understanding of the planning required to stage the Games. I was inspired meeting the other YCMs from all over the world with our unique backgrounds and diverse experiences. We had a lot of fun exploring the Youth Olympic Village and the city.”

        .content__img(data-aos="fade-left")
          +IMG('news-photo-2.png')

        h2.section-title.section-title--mini.section-title--white WHAT WAS IT LIKE TO BE INVOLVED IN THE FIRST-EVER YOG?
        p “I qualified for the YOG only two years after taking up the sport and after just one year of competitive fencing, so 2010 was a fantastic but sometimes overwhelming experience. It was only after the Games that I truly understood what being part of the YOG meant. It gave me the confidence and motivation to continue fencing. Being chosen as one of the six YOG flagbearers for the Opening Ceremony is a moment I won’t forget.. It was nerve-racking but luckily it went smoothly and I still keep in touch with the other flagbearers.”

  .content.content--right-floated
    section
      h2.section-title Photos
      +gallerySlider

  .content
    section
      .share-on__links
        span Share on: 
        .share-on__button
          a(href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri() }}" target="_blank" title="Share on Facebook")
            +facebookLogo
        .share-on__button
          a(href="https://twitter.com/intent/tweet?url={{request.build_absolute_uri()}}&title={{ n.title }}&text={{ n.title }}" target="_blank" title="Share on Twitter")
            +twitterLogo
        .share-on__button
          a(href="http://service.weibo.com/share/share.php?url={{request.build_absolute_uri()}}&amp;appkey=&amp;title={{ n.title }}&amp;pic=&amp;ralateUid=&amp;language=" target="_blank" title="Share on Weibo")
            +weiboLogo
        .share-on__button
          a(href="https://social-plugins.line.me/lineit/share?url={{request.build_absolute_uri()}}" target="_blank" title="Share on Line")
            +lineLogo

  .content.content--right-floated
    section
      h2.section-title Realated News
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++