extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.nocInnerStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section.section__about
      h1.section-title United Arab Emirates
      p The United Arab Emirates meaning United Country in the Middle East and sharing borders with Oman and Saudi Arabia, the  U.A.E. is a federation consisting of seven emirates: Ajman, Dubai, Fujairah, Ras al-Khaimah, Sharjah, Umm al-Quwain and the largest Abu Dhabi which contains the capital city and accounts for 87% of the total U.A.E. landmass.
      p One of the most famous geographical features of the federation is the Palm Islands in Dubai.
      p They are the largest land reclamation projects in the world and are being created from sand dredged from the bottom of the Persian Gulf. Palm Jumeriah was the first to have residents located on the peninsula.
      p Palm Jebel Ali will likely become a large draw for the tourist industry in 2012 when Busch Entertainment Corporation opens the first of four theme parks including a SeaWorld and Busch Gardens.

    section.section__details
      h1.section-title.details-title About country

      .details-image
        +IMG('Kyrgyzstan_kg.png')

      .noc-country-details
        .details-row(data-aos="fade-up")
          .detail-label Short Name
          .detail-value(data-aos="fade-up") UAE

        .details-row(data-aos="fade-up")
          .detail-label Capital
          .detail-value Abu Dhabi

        .details-row(data-aos="fade-up")
          .detail-label Language
          .detail-value Arabic

        .details-row(data-aos="fade-up")
          .detail-label Population
          .detail-value 4,621,399

        .details-row(data-aos="fade-up")
          .detail-label Area
          .detail-value 83,600 km²

        .details-row(data-aos="fade-up")
          .detail-label Calling Code
          .detail-value +971

        .details-row(data-aos="fade-up")
          .detail-label Downloads
          .detail-value
            a(href="#" download) United Arab Emirates
            | , 
            a(href="#" download) National Anthem

    section.section__details
      h1.section-title.details-title Country Olympic Committee

      .details-image
        +IMG('Logo-National-Olympic-Committee-of-the-Republic-o_32215008427.jpg')

      .noc-country-details
        .details-row(data-aos="fade-up")
          .detail-label National Olympic Committee
          .detail-value United Arab Emirates National Olympic Committee

        .details-row(data-aos="fade-up")
          .detail-label President
          .detail-value
            a(href="#") Maj Gen Charouck ARIRACHAKARAN

        .details-row(data-aos="fade-up")
          .detail-label Contact Details
          .detail-value
            div
              a(href="tel: +971 4 268 7333") Tel: +971 4 268 7333
            div
              a(href="fax: +971 4 269 8886") Fax: +971 4 269 8886

        .details-row(data-aos="fade-up")
          .detail-label Web Address
          .detail-value
            a(href="http://www.uaeolympics.com" target="_blank") www.uaeolympics.com

        .details-row(data-aos="fade-up")
          .detail-label E-mail
          .detail-value 
            a(href="mailto: info@uaenoc.ae") info@uaenoc.ae

    section.section__culture
      h1.section-title Culture
      p Emiratis are known for their hospitality; they feel honored when receiving guests and socializing with friends and relatives. 
      p Guests are welcomed with coffee and fresh dates. Incense is passed around so that guests can catch the fragrance in their headwear.
      p Lunch is the main family meal and is eaten at home at around two o'clock. It usually consists of fish, rice, meat, and a vegetable dish. Many Emiratis prefer the traditional style of eating with the right hand. 
      p The inhabitants of the Persian Gulf states have enjoyed camel racing for many years as it is considered a traditional sport. 

    section.section__sports
      h1.section-title Sports
      +IMG('camels.png')(data-aos="fade-up")

      p One of the more traditional sports to be found the U.A.E. is camel racing which is much the same as horse racing. Football is a major sport in the federation, even though the United Arab Emirates Football Association was established in just 1971 it managed to have a team qualify for the FIFA World Cup in 1990.
      p In 2005 the team won the Kirin Cup after defeating the host country, Japan by one goal to nil. 
      p From 2009 Yas Island will be host to a race in the Formula One Championship Circuit. It will be setup similar to Monaco with street and marina sections throughout the track. Largely due to the big expatriate Indian population, cricket is an immensely popular sport in the U.A.E. which is home to the governing body of cricket; the ICC.

  .content.content--right-floated
    section
      header.title-with-link
        h2.section-title News
        a(href="/news.html").section__title-link
          span Go to news
          +longRightArrow
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++

      .section__bottom-link
        a(href="#") Open the news