extends ../components/layout
include ../components/helpers
include ../components/countries-list
include ../svg/map

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.nocStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.noc.entry}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title.text-center Noc
      p The National Olympic Committees (NOCs) promote the fundamental principles of Olympism at a national level within the framework of sports. NOCs are committed to the development of athletes and support the development of sport for all programs and high performance sport in their countries. They also participate in the training of sports administrators by organising educational programs.
      p National Olympic Committees also supervise the preliminary selection of potential bid cities. Before a candidate city can compete against those in other countries, it first must win the selection process by the NOC in its own country. The National Olympic Committee can then name that city to the OCA as a candidate to host the Asian Games.

  .content.content--right-floated
    section
      .country-info
        .country-info__map
          +MAP
        .country-info__item
  
  .content
    section
      +countriesList(2)