extends ../components/layout

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.notFoundStyle.css}`)

//- block scripts
//-   script(src=`${htmlWebpackPlugin.files.chunks.games.entry}`)

block content
  .not-found__wrapper
    .content
      .not-found__body
        .not-found__text-content
          .not-found__first-text Sorry...
          .not-found__second-text Page not found
          .not-found__links
            a(href="/").not-found__home Go home
            .not-found__back(onClick="javascript: window.history.back()") Back

        .not-found__img-content
          +IMG('not-found.png')