extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../components/gallery-slider
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.ocaInnerStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.oca.entry}`)

block content
  +ContentTop('text-info-top-bg.png')
  .content
    section
      h1.section-title STANDING COMMITTEE
      p OCA Standing Committees are created for the purpose of advising the OCA GA, OCA EB or the President as the case may be. The Council will have the following Committees; the Chairmen or Chairpersons will be elected by the GA and the EB will appoint the Members of the Committees:

    section
      h2.section-title.section-title--mini 45 NATIONAL OLYMPIC COMMITTEES (NOCS)
      - var committees = ["ADVISORY", "ATHLETES", "CULTURE", "COORDINATION", "EDUCATION", "ETHICS", "ENTOURAGE", "FINANCE", "INFORMATION AND STATISTICS", "INTERNATIONAL RELATIONS", "MEDIA", "MEDICAL", "PEACE THROUGH SPORT", "RULES", "SPORTS", "SPORTS FOR ALL", "SPORTS AND ENVIRONMENT", "WOMEN AND SPORTS"]
      .sports-committee__list(style=`grid-template-rows: repeat(${Math.ceil(committees.length / 2)}, 1fr)`)
        each val in committees
          .committee__link
            a(href="#" data-aos="fade-up")= `${val}`

    section
      h2.section-title.section-title--mini 45 NATIONAL OLYMPIC COMMITTEES (NOCS)
      - var committees = ["ADVISORY", "ATHLETES", "CULTURE", "COORDINATION", "EDUCATION", "ETHICS", "ENTOURAGE", "FINANCE", "INFORMATION AND STATISTICS", "INTERNATIONAL RELATIONS", "MEDIA", "MEDICAL", "PEACE THROUGH SPORT", "RULES", "SPORTS", "SPORTS FOR ALL", "SPORTS AND ENVIRONMENT", "WOMEN AND SPORTS"]
      .sports-committee__list(style=`grid-template-rows: repeat(${Math.ceil(committees.length / 2)}, 1fr)`)
        each val in committees
          .committee__link
            a(href="#" data-aos="fade-up")= `${val}`

    section
      h1.section-title OLYMPASIA PROJECTS

      .noc-countries-list
        each val in ["MALDIVES 2001", "JORDAN 2001", "YEMEN 2001", "MONGOLIA 2002", "THAILAND 2002", "BHUTAN 2002", "CAMBODIA 2002", "INDIA 2003", "TAJIKISTAN 2003", "NEPAL 2003", "AFGHANISTAN 2003", "DPR KOREA 2004", "LAOS 2004", "SRI LANKA 2004", "VIETNAM 2004", "TIMOR-LESTE 2005", "KYRGYZSTAN 2005", "TURKMENISTAN 2005", "AFGHANISTAN 2005", "BANGLADESH 2006", "PAKISTAN 2006", "UZBEKISTAN 2006", "BHUTAN 2007", "PHILIPPINES 2007", "CAMBODIA 2008", "BHUTAN 2009", "MALAYSIA 2009", "DPR KOREA 2009", "THAILAND 2010", "IRAN 2011",  "BAHRAIN 2010", "SYRIA 2010","TAJIKISTAN 2008", "YEMEN 2008", "TAJIKISTAN 2012", "CAMBODIA 2012", "BHUTAN 2011", "AFGHANISTAN 2010", "AFGHANISTAN 2010", "AFGHANISTAN 2012", "AFGHANISTAN 2011", "SRI LANKA 2013",  "NEPAL 2013", "KYRGYZSTAN 2014", "TIMOR-LESTE 2015", "UZBEKISTAN 2014"]
          .noc-country
            a(href="#")(data-aos="fade-up")= val

  .content
    section
      h1.section-title VICE PRESIDENTS

      .table__list
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col 2019
          .table__col
            a(href="#").table__link Qatar
        .table__row
          .table__col
            a(href="#").table__link Mr Umid Akhmatdjanov (Children of Asia Games) 
          .table__col 2019
          .table__col
            a(href="#").table__link Uzbekistan
        .table__row
          .table__col
            a(href="#").table__link Mr Timur Kulibayev (Central Asia)
          .table__col 2016
          .table__col
            a(href="#").table__link Kazakhstan
        .table__row
          .table__col
            a(href="#").table__link Mr Song LUZENG (6th ABG 2020 & 19th AG 2022) 
          .table__col 2015
          .table__col
            a(href="#").table__link People's Republic of China
        .table__row
          .table__col
            a(href="#").table__link Mr Yu ZAIQING (ANOC)
          .table__col 2007
          .table__col
            a(href="#").table__link People's Republic of China
        .table__row
          .table__col
            a(href="#").table__link Lt Gen Syed Arif HASAN (South Asia)
          .table__col 2007
          .table__col
            a(href="#").table__link Pakistan
        .table__row
          .table__col
            a(href="#").table__link Mr Timothy Tsun Ting FOK (East Asia)
          .table__col 1999
          .table__col
            a(href="#").table__link Hong Kong, China
        .table__row
          .table__col
            a(href="#").table__link Mr Tsunekazu TAKEDA (2026 Asian Games)
          .table__col 1999
          .table__col
            a(href="#").table__link Japan
        .table__row
          .table__col
            a(href="#").table__link Maj Gen Charouck ARIRACHAKARAN (South East Asia)
          .table__col 1991
          .table__col
            a(href="#").table__link People's Republic of China

  .content
    section
      h1.section-title HONORARY LIFE PRESIDENT
      .table__list
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col
            a(href="#").table__link Qatar
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col
            a(href="#").table__link Qatar
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col
            a(href="#").table__link Qatar
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col
            a(href="#").table__link Qatar
        .table__row
          .table__col
            a(href="#").table__link Dr Thani Abdulrahman Al Kuwari (West Asia)
          .table__col
            a(href="#").table__link Qatar

  .content.content--right-floated
    section
      h2.section-title Photos And Videos
      +gallerySlider

  .content.content--right-floated
    section
      header.title-with-link
        h2.section-title News
        a(href="/news.html").section__title-link
          span Go to news
          +longRightArrow
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++

      .section__bottom-link
        a(href="#") Open the news