extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.ocaMagazinesStyle.css}`)

block content
  +ContentTop('news-photo-2.png')
  .content
    section
      h1.section-title SPORTING ASIA
      .magazines-list
        - var n = 0
        while n < 8
          a(href="https://docs.google.com/viewerng/viewer?url=http://www.pdf995.com/samples/pdf.pdf" target="_blank").magazines-wrap
            .magazine-image(style=`background-image: url(${require('../../images/magazine.png')})`)
              +IMG('magazine-1.jpg')
            .magazine-title Sporting Asia - Edition 45 - June 2019
          - n++

      include ../components/pagination