extends ../components/layout
include ../components/helpers
include ../svg/oca-logo

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.ocaStyle.css}`)

block content
  +ContentTop('oca-top-bg.jpg')
  .content
    section.section--text-center
      h1.section-title.section-title--center.section-title--white OCA

      .oca__logo
        //- +OCALogo
        +IMG('oca-logo-text-bottom.png')

      p.section-description The Olympic Council of Asia (OCA) is the apex sporting body which controls all the sports in Asia. It is one of the five continental associations recognized by the IOC.
      p.section-description The OCA was formed in 1982 and has its permanent headquarters in Kuwait. The main objective of the OCA is to develop sport, culture and education of Asian youth as well as to promote international respect, friendship, goodwill & peace through sports.

      +IMG("trio.png")(data-aos="zoom-in")

    section
      h2.section-title.section-title--white.section-title--center ORGANISATION
      .organisation-list
        each val in ["CONSTITUTION RULES", "PRESIDENTS", "EXECUTIVE BOARD", "GENERAL ASSEMBLY", "HONORARY LIFE MEMBERS", "STANDING COMMITTEES", "ADMINISTRATION", "OCA DIRECTORY"]
          .organisation__link
            a(href="#")= val

    section
      .oca-detail
        - count = 0
        while count < 6
          .oca-detail__item(data-aos= count % 2 === 0 ? "fade-right" : "fade-left")
            h2.section-title OLYMPASIA PROJECTS
            .item__description Olympic Council of Asia (OCA) in its continued efforts to promote noble sports and Olympic principles in Asia started a project in collaboration with Olympic Solidarity and Daimler Chrysler at the beginning of 2001, called “Olympasia”.
            .item__link
              a(href="#") More
          - count++

    section
      h1.section-title.section-title--white.section-title--center Sports Committee
      p The Sports Committee shall consist of one Chairman and a minimum of five members. The Chairman, nominated by his NOC, will be elected by the GA, while the Members preferably representing the 5 zones of the OCA will be selected by the EB from the Candidates who have been nominated by their respective NOCs. 
      p The Chairman and Members will hold office for a term of four years. The Chairman will be a Member of the EB.

      - var committees = ["ADVISORY", "ATHLETES", "CULTURE", "COORDINATION", "EDUCATION", "ETHICS", "ENTOURAGE", "FINANCE", "INFORMATION AND STATISTICS", "INTERNATIONAL RELATIONS", "MEDIA", "MEDICAL", "PEACE THROUGH SPORT", "RULES", "SPORTS", "SPORTS FOR ALL", "SPORTS AND ENVIRONMENT", "WOMEN AND SPORTS"]
      .sports-committee__list(style=`grid-template-rows: repeat(${Math.ceil(committees.length / 2)}, 1fr)`)
        each val in committees
          .committee__link
            a(href="#" data-aos="fade-up")= `${val}`