extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.olympicGamesStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content
    section
      h1.section-title Olympic Games

      p The Olympic Games are a major international event featuring summer and winter sports, in which thousands of athletes participate in a variety of competitions.

      p The Olympic Games have come to be regarded as the world’s foremost sports competition.

      p The Games are currently held every two years, with Summer and Winter Olympic Games alternating

    section
      .games__categories-list
        - var n = 0
        while n < 5
          - n++
          .games__category
            a(href="#").games__img
              +IMG("games-running.png")
            .games__content
              a(href="#").games__title SUMMER OLYMPIC GAMES
              .games__description The Summer Olympic Games or the Games of the Olympiad are an international multi-sport event, occurring every four years, organized by the International Olympic Committee. Medals a....
              a(href="#").games__link Visit
