extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../svg/arrows
include ../components/gallery-slider

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.olympasiaProjectsStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.ocasiaProjects.entry}`)

block content
  +ContentTop('content-top-bg.jpg')
  .content
    section.section__about
      h1.section-title Maldives 2001
      p A mini stadium to accommodate 200 spectators, 2 changing rooms for teams with toilet and shower facilities, one Referee room and meeting area.

    section.section__details
      h1.section-title.details-title Details

      .noc-country-details
        .details-row(data-aos="fade-up")
          .detail-label Project number
          .detail-value(data-aos="fade-up") 1

        .details-row(data-aos="fade-up")
          .detail-label NOC
          .detail-value
            a(href="#") Maldives Olympic Committee

        .details-row(data-aos="fade-up")
          .detail-label Project description
          .detail-value K. Huraa Mini Stadium

    section
      h1.section-title.details-title Financial support

      .financial-details
        .financial-details__column
          .financial-details__title 1st Payment
          .details-row(data-aos="fade-up")
            .detail-label From
            .detail-value OCA

          .details-row(data-aos="fade-up")
            .detail-label Amount
            .detail-value 50000 USD

          .details-row(data-aos="fade-up")
            .detail-label Date
            .detail-value 20 Apr 2001
        
        .financial-details__column
          .financial-details__title 2nd Payment

          .details-row(data-aos="fade-up")
            .detail-label From
            .detail-value OCA

          .details-row(data-aos="fade-up")
            .detail-label Amount
            .detail-value 50000 USD

          .details-row(data-aos="fade-up")
            .detail-label Date
            .detail-value 20 Apr 2001

    section.section__details
      h1.section-title.details-title Dates

      .noc-country-details
        .details-row(data-aos="fade-up")
          .detail-label Contract Signed on
          .detail-value 16 Mar 2006

        .details-row(data-aos="fade-up")
          .detail-label Completion
          .detail-value 01 Nov 2008

    section
      h1.section-title.details-title Status
      p The Project has been completed and now is operational

  .content.content--right-floated
    section
      h2.section-title Gallery
      +gallerySlider