extends ../components/layout
include ../components/helpers
include ../svg/medals

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.olympicGamesDetailStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.olympicGames.entry}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content
    section
      h1.section-title Athens 2004

      .details-container
        .details-row(data-aos="fade-up")
          .detail-label OPENING CEREMONY
          .detail-value(data-aos="fade-up") 18 Aug 2018

        .details-row(data-aos="fade-up")
          .detail-label CLOSING CEREMONY
          .detail-value 02 Sep 2018

        .details-row(data-aos="fade-up")
          .detail-label HOST CITY
          .detail-value Jakarta - Palembang

        .details-row(data-aos="fade-up")
          .detail-label COUNTRY
          .detail-value Indonesia

        .details-row(data-aos="fade-up")
          .detail-label NATIONS PARTICIPATING
          .detail-value 46

        .details-row(data-aos="fade-up")
          .detail-label ATHLETES
          .detail-value 11300

        .details-row(data-aos="fade-up")
          .detail-label EVENTS
          .detail-value 465

        .details-row(data-aos="fade-up")
          .detail-label SPORTS
          .detail-value 40

        .details-row(data-aos="fade-up")
          .detail-label SPORTS/DISCIPLINES
          .detail-value 67

        .details-row(data-aos="fade-up")
          .detail-label VOLUNTEERS
          .detail-value 13000

    section
      .section-title.section-title--mini.section-title--white DESCRIPTION

      p A record 201 National Olympic Committees (NOCs) participated in the Olympic Games. The overall tally for events on the programme was 301 (one more than at the Sydney Games in 2000). The XXVII Games (Athens 2004) was held from 13 August to 29 August 2004, 201 National Olympic Committee where in Attendance with a total of 10,625 Athletes participated.

      p Popularity in the Games also soared, as 3.9 billion people had access to the television coverage compared to 3.6 billion for Sydney. This global audience enjoyed coverage of never-before seen sports such as women's wrestling, which was included in the programme for the first time.

      p A new medal design was presented at the Games to replace the old design which has been in use since 1928.

    section
      .section-title.section-title--mini.section-title--white ASIAN MEDAL STANDINGS

      .medal-table__container
        .medal-table__header
          .medal-table__row
            .medal-table__col.col__label
              .country-name Country
            .medal-table__col.col__place
              .medal.belt
                +medalGoldBelt
            .medal-table__col.col__place
              .medal.belt
                +medalSilverBelt
            .medal-table__col.col__place
              .medal.belt
                +medalBronzeBelt
            .medal-table__col.col__total
              span Total
            .medal-table__col.col__total-rank
              span Rank by total
        .medal-table__body
          - var country = 0
          while country < 6
            - country++
            .medal-table__country
              .medal-table__country-totals
                .medal-table__row
                  .medal-table__col.col__label
                    .country-flag(style=`background-image: url(${require('../../images/Kyrgyzstan_kg.png')})`)
                    .country-name Laos People's Democratic Republic
                  .medal-table__col.col__place
                    span 123
                  .medal-table__col.col__place
                    span 60
                  .medal-table__col.col__place
                    span 40
                  .medal-table__col.col__total
                    span 263
                  .medal-table__col.col__total-rank
                    span 1

        .medal-table__footer
          .medal-table__row
            .medal-table__col.col__label
              .country-name Total
            .medal-table__col.col__place
              span 128
            .medal-table__col.col__place
              span 700
            .medal-table__col.col__place
              span 300
            .medal-table__col.col__total
              span 1000
            .medal-table__col.col__total-rank

    section
      h1.section-title Asian Marks

      .mark__categories-list
        a(href="/marks.html" data-aos="zoom-in").mark__category
          .category__image
            +IMG('marks_2.png')
          .category__text
            .category__name Emblem

        a(href="/marks.html" data-aos="zoom-in").mark__category
          .category__image
            +IMG('marks_1.png')
          .category__text
            .category__name Mascot

        a(href="/marks.html" data-aos="zoom-in").mark__category
          .category__image
            +IMG('marks_2.png')
          .category__text
            .category__name Emblem

        a(href="/marks.html" data-aos="zoom-in").mark__category
          .category__image
            +IMG('marks_1.png')
          .category__text
            .category__name Mascot