extends ../components/layout
include ../components/helpers
include ../components/countries-list
include ../components/news-preview

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.olympicGamesListStyle.css}`)

block content
  +ContentTop('content-top-bg.jpg')

  .content
    section
      h1.section-title Summer Olympic Games

      p The Summer Olympic Games or the Games of the Olympiad are an international multi-sport event, occurring every four years, organized by the International Olympic Committee. Medals are awarded in each event, with gold medals for first place, silver for second and bronze for third, a tradition that started in 1904.
      p The olympics have increased from a 42-event competition with fewer than 250 male athletes to a 300-event sporting celebration with over 10,000 competitors from 205 nations.
      p The Winter Olympics were also created due to the success of the summer Olympics.

    section.games-list
      h2.section-title.section-title--white PAST AND FUTURE ASIAN GAMES

    section
      h3.section-title.section-title--mini FUTURE GAMES
      +countriesList(2, false)

      h3.section-title.section-title--mini PAST GAMES
      +countriesList(2, false)

  .content.content--right-floated
    section
      h2.section-title News
      .news-list
        - var preview = 0
        while preview < 2
          +newsPreview.news__preview--group
          - preview++