extends ../components/layout
include ../components/helpers

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.personInfoStyle.css}`)
  
block content
  +ContentTop('text-info-top-bg.png')
  .content
    section
      h1.section-title PRESIDENTS
      p Since its formation in 1982, the Olympic Council of Asia has had two Presidents. Sheikh Fahad Al-Sabah was the first president, from 1982 to 1990, and was succeeded in 1991 by Sheikh Ahmad Al-Fahad Al-Sabah

      .content-img.content-img--left-floated
        +IMG('sheikh.png')

      h2.section-title.section-title--white.section-title--mini Sheikh Ahmad Al-Fahad AL-SABAH (1991) Kuwait
      p Sheikh Ahmad Fahad Al-Sabah born in 1963 attended the Kuwait Military Academy and studied at Kuwait University where he received a bachelors degree in political science in 1985. This was the beginning of his educational road as since then he has received honorary doctorates in political science, international relations, and sports sciences from renowned institutions including Dong-A University in Bussan, South Korea, Taipei University in Chinese Taipei, and the American Academy.
      p From 1985 to 1990, he was an officer in the Kuwaiti Army, it was not until 1992 when he began his journey in the field of politics at the Public Authority for Youth and Sports, and he started as Deputy Chairman and later became Chairman. In 2000, he chaired the Board of Directors of the organization and was granted the rank of cabinet minister.
      p Sheikh Ahmad Al-Fahad has also served as Kuwaiti Minister of Information, chaired the National Council for Culture, Arts and Literature, been appointed as Acting Minister of Energy, named Minister of Energy and the Chairman of the Kuwait Petroleum Corporation and has become the Chairman of OPEC. He has been awarded numerous medals and decorations by the United States Army, Turkey, the Republic of Kazhakistan, as well as the Kingdom of Saudi Arabia Sports Medal.
      p Sheikh Ahmad Fahad Al-Ahmad is well reputed for his interest in sports, just like his father. He has undertaken numerous significant sporting positions globally and has been the President of the Olympic Council of Asia since 1991 a member of the IOC since 1992, was the president of the Kuwait Olympic committee, chairman of the Afro Asian Games council, vice president of the international handball federation, president of the Kuwait football association and Asian handball federation, senior vice president of the Islamic solidarity sports federation, honorary president of several Kuwaiti, Arab and Asian clubs and is also a valued member of international relations and Olympic solidarity commission of the IOC. While actively pursuing these roles he has also successfully headed the Kuwaiti Contingents, who have participated in various games globally since 1990.
      p Sheikh Ahmad was elected President of the Association of National Olympic Committees (ANOC) at the 18th ANOC General Assembly in Moscow, Russia, in April 2012.
      p He also became Chairman of the IOC’s Olympic Solidarity Commission, overseeing the distribution of broadcasting revenues from the Olympic Games to the world’s NOCs. This sum for the Olympic Solidarity Quadrennial Plan 2017-2020 amounted to USD 509 million for the 206 NOCs.

