extends ../components/layout
include ../components/helpers
include ../components/news-preview
include ../components/gallery-slider
include ../components/sports-slider
include ../components/sports-list-mobile
//- include ../components/sports-list-slider-mobile

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.sportsStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.sports.entry}`)

block content
  include ../components/loader

  +ContentTop('content-top-bg.jpg')
  .content
    section
      h1.section-title Sports
      .sports-content-wrapper
        .tabs
          .tabs__header
            .tab__toggles-list
              .tab__toggle(data-filter=".about") Football
              .tab__toggle.active-tab(data-filter=".disciplines") List of Disciplines
              .tab__toggle(data-filter=".news") News
              .tab__toggle(data-filter=".photos") Photos
              .tab__toggle(data-filter=".links") Related Links
              .tab__toggle(data-filter=".federations") Sports Federations

          .tabs__body
            .tab__content.about.mix
              .sports__image(style=`background-image: url(${require('../../images/karate.jpg')})`)
              h2.sports__title.football__title--mobile Football
              .about__content-wrap
                h2.sports__title.football__title Football
                div.tab__content-description
                  p One of the more traditional sports to be found the U.A.E. is camel racing which is much the same as horse racing. Football is a major sport in the federation, even though the United Arab Emirates Football Association was established in just 1971 it managed to have a team qualify for the FIFA World Cup in 1990.
                  p In 2005 the team won the Kirin Cup after defeating the host country, Japan by one goal to nil. 
                  p From 2009 Yas Island will be host to a race in the Formula One Championship Circuit. It will be setup similar to Monaco with street and marina sections throughout the track. Largely due to the big expatriate Indian population, cricket is an immensely popular sport in the U.A.E. which is home to the governing body of cricket; the ICC.
                  p From 2009 Yas Island will be host to a race in the Formula One Championship Circuit. It will be setup similar to Monaco with street and marina sections throughout the track. Largely due to the big expatriate Indian population, cricket is an immensely popular sport in the U.A.E. which is home to the governing body of cricket; the ICC.
                  p From 2009 Yas Island will be host to a race in the Formula One Championship Circuit. It will be setup similar to Monaco with street and marina sections throughout the track. Largely due to the big expatriate Indian population, cricket is an immensely popular sport in the U.A.E. which is home to the governing body of cricket; the ICC.

            .tab__content.disciplines.mix
              h2.sports__title.desktop-hidden List of disciplines
              ul.disciplines__list
                each val in [{"id": 123, "name": "Football"}, {"id": 124, "name": "Aquatics"}]
                  li.disciplines__list-item(data-filter=`.disciplines__item-content.id-${val.id}` class=`${val.id === 124 ? 'active-discipline' : ''}`)= val.name

              .disciplines__item-container
                .disciplines__item-content.id-123
                  p Football is one of the most widely played and oldest games in existence. The ancient Chinese, Greeks and Romans played something very similar to Football long before the English Kings in the 1300s and 1400s tried to outlaw what they described as a violent sport.
                  p In modern terms, Football began when the Football Association of England was founded in 1863. The game was spread throughout the world by English sailors who used to play it wherever they went.
                  p Men's Association football was an Asian Games sport since the 1951 edition. Women's football competition began on 1990.
                  p Since 2002 Asian Games, age limit for men teams is under-23, same as the age limit in football competitions at the Summer Olympics, while three over aged players are allowed among each squad.
                  p Men's Association football was an Asian Games sport since the 1951 edition. Women's football competition began on 1990.
                  p Since 2002 Asian Games, age limit for men teams is under-23, same as the age limit in football competitions at the Summer Olympics, while three over aged players are allowed among each squad.
                  p Football was incorporated into the Asian Games in 1951.

                  div
                    h2.disciplines__item-title List of events
                    ul.disciplines__item-events-list
                      li.disciplines__item-events-list-item
                        h2 MEN
                        ol
                          li Team
                          li Team
                          li Team
                      li.disciplines__item-events-list-item
                        h2 WOMEN
                        ol
                          li Team
                          li Team
                          li Team
                      li.disciplines__item-events-list-item
                        h2 BOYS
                        ol
                          li Team
                          li Team
                          li Team
                  div
                    include ../components/download-files

                .disciplines__item-content.id-124
                  p People have swum across lakes and rivers since prehistoric times, but the first organised races did not take place until the 19th century, when the National Swimming Society of Great Britain was created.
                  p None of the four Aquatics disciplines – Swimming, Diving, Synchronised Swimming and Water Polo – has been around for longer than 200 years as a competitive sport.
                  p There were still no official rules or standards when Aquatics featured in the programme for the first modern Olympic Games in Athens 1896, Paris 1900 and St Louis 1904.
                  p The Federation Internationale de Natation (FINA) was formed during the London 1908 Olympic Games competition to act as a governing body for the sport.

                  section
                    h2.disciplines__item-title List of events
                    ul.disciplines__item-events-list
                      li.disciplines__item-events-list-item
                        h2 MEN
                        ol
                          li Team
                          li Team
                          li Team
                      li.disciplines__item-events-list-item
                        h2 WOMEN
                        ol
                          li Team
                          li Team
                          li Team
                      li.disciplines__item-events-list-item
                        h2 BOYS
                        ol
                          li Team
                          li Team
                          li Team

                  section
                    h2.disciplines__item-title Mascots
                    include ../components/marks-list

                  section
                    include ../components/download-files

            .tab__content.news.mix
              section
                h2.sports__title.news-title News
                .news-list
                  - var preview = 0
                  while preview < 2
                    +newsPreview.news__preview--group.sports-news__preview
                    - preview++
            .tab__content.photos.mix
              h2.sports__title.photos-title Photos
              +gallerySlider
              +sportsSlider

            .tab__content.links.mix
              h2.sports__title.links-title Related links

              div.link__item
                h2.link__title
                  a(href="#") SPORTS COMMITTEE
                div.link__description
                  p The Sports Committee shall consist of one Chairman and a minimum of five members. The Chairman, nominated by his NOC, will be elected by the GA, while the Members preferably representing the 5 zones of the OCA will be selected by the EB from the Candidates who have been nominated by their respective NOCs

              div.link__item
                h2.link__title
                  a(href="#") SPORTS FOR ALL COMMITTEE
                div.link__description
                  p The Sports Committee shall consist of one Chairman and a minimum of five members. The Chairman, nominated by his NOC, will be elected by the GA, while the Members preferably representing the 5 zones of the OCA will be selected by the EB from the Candidates who have been nominated by their respective NOCs

            .tab__content.federations.mix
              - var federationsList = require('../../js/sports-federations.json')
              - var federations = federationsList.federations
              h2.sports__title.federation-title Sports Federations
              ul.federation-list
                each federation in federations
                  li
                    +IMG(federation.image)
                    div
                      .federation__title
                        a(href="#")=federation.title
                      .federation__excerpt
                        p= federation.descr

        include ../components/sports-list
        +sportsListMobile
