extends ../components/layout
include ../components/helpers
include ../svg/arrows

block styles
  link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.timelineGamesStyle.css}`)

block scripts
  script(src=`${htmlWebpackPlugin.files.chunks.timelineGames.entry}`)

block content
  - var gameList = require('../../js/timeline-games-data.json')
  .content.content--fullwidth
    .timeline__header
      .games__categories
        .games__categories-wrap
          a(href="#").games__category-link
            span HISTORY - FAR EASTERN CHAMPIONSHIP
          a(href="#").games__category-link 
            span Asian Summer Games
          a(href="#").games__category-link 
            span Asian Winter Games
          a(href="#").games__category-link.games__category-link--parent-category
            span Asian Indoor & Martial Arts Games
          a(href="#").games__category-link 
            span Asian Indoor Games
          a(href="#").games__category-link
            span Asian Martial Arts Games
          a(href="#").games__category-link 
            span Asian Youth Games
          a(href="#").games__category-link.games__category-link--active 
            span Asian Beach Games
          a(href="#").games__category-link.games__category-link--parent-category
            span Asian Regional Games
          a(href="#").games__category-link
            span East Asian Games
          a(href="#").games__category-link
            span Central Asian Games
          a(href="#").games__category-link
            span South Asian Games
          a(href="#").games__category-link
            span South East Asian Games
          a(href="#").games__category-link
            span West Asian Games
          a(href="#").games__category-link
            span South Asian Beach Games

    .timeline__body
      .timeline__main-slider
        .glide__track(data-glide-el="track")
          .glide__slides
            each val, index in gameList
              .glide__slide(slide-index=index)
                .slide__content
                  .slide__bg(style=`background-image: url(../../images/${val.bgPhoto}-nav-bg.jpg)`)
                  .slide__text
                    .text__game-year= val.year
                    .text__game-type= val.gameType
                    .text__game-place= val.gamePlace
                    .text__game-description= val.gameDescription
                    a(href="#").text__game-link More
                  .slide__img
                    +IMG(val.contentPhoto || 'tennis-player.png')
                    
    .timeline__footer
      .timeline__nav-slider
        .glide__track(data-glide-el="track")
          .glide__slides
            each val, index in gameList
              .glide__slide
                .slide__content(slide-index=index)
                  .slide__dot
                  .slide__year= val.year
                  .slide__place= val.gamePlace