@import '../helpers/variables'
$m-small: 425px
$m-medium: 768px
$item-size: 60px
$item-radius: 5px

@mixin tooltip
  opacity: 0
  left: 50%
  transform: translate(-50%, 0) scale(0)
  transform-origin: center bottom
  transition: opacity 200ms, transform 200ms

@mixin tooltip-active
  opacity: 1
  transform: translate(-50%, 0) scale(1)

.sports-list-mobile__container
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background-color: #000E26
  z-index: 1

.sports-list-mobile
  padding: 10px 20px 40px
  white-space: nowrap
  overflow: visible !important
  user-select: none
  & .os-scrollbar.os-scrollbar-horizontal
    height: 72px
    padding: 0 16px
    transform: translateY(50%)
  & .os-scrollbar-handle
    min-width: 72px!important
    min-height: 72px!important
    &::before
      top: 12px !important
      bottom: 12px !important
      left: 12px !important
      right: 12px !important
    &:hover:before
      transform: none !important

.sports-list-mobile__item-wrapper
  position: relative
  display: inline-flex
  flex-direction: column
  align-items: center
  width: $item-size
  margin-right: 16px
  transition: transform 200ms
  &.selected
    transform: translateY(-5px) scale(1.05)
    .sports-list-mobile__item-title
      font-size: 12px
  & .sports-list-mobile__item
    margin-bottom: 8px

.sports-list-mobile__item
  display: flex
  width: $item-size
  height: $item-size
  align-items: center
  justify-content: center
  border-radius: $item-radius
  position: relative
  background: rgba(255, 255, 255, 0.25)
  svg,
  img
    width: 50%
    height: 50%
    fill: white

.sports-list-mobile__item-title
  font-size: 8px
  line-height: 1.25
  font-weight: 700
  width: 100%
  transition: all .26s
  text-align: center
  margin: 0
  white-space: normal

.sports-list-mobile__tooltip
  position: absolute
  top: -($item-size + 10)
  display: flex
  justify-content: center
  align-items: center
  width: $item-size
  height: $item-size
  background: white
  color: $red
  font-size: 24px
  font-weight: bold
  border-radius: $item-radius
  @include tooltip

  &::after
    content: ''
    position: absolute
    bottom: -10px
    left: 50%
    width: 0
    height: 0
    border-style: solid
    border-width: 10px 10px 0 10px
    border-color: #ffffff transparent transparent transparent
    transform: translateX(-50%)

  &.visible
    @include tooltip-active

@media screen and (min-width: $m-medium + 1)
  .sports-list-mobile__container
    display: none

@media screen and (min-width: $m-small) and (orientation: portrait)
  .sports-list-mobile__item-wrapper
    margin-right: 50px

  .sports-list-mobile
    width: 100%

  .sports-list-mobile__item
    width: 90px
    height: 90px

  .sports-list-mobile__item-wrapper.selected
    .sports-list-mobile__item-title
      font-size: 11px

  .sports-list-mobile__item-title
    font-size: 10px
    bottom: -24px

html.ios
  height: 100%

  &.overflow-scroll
    & #wrapper
      -webkit-overflow-scrolling: touch
  & #wrapper
    height: 100%
    overflow: scroll

  & body
    height: 100%
    overflow: hidden

  & .header
    position: static
  & .content
    margin-top: 16px !important
  & .sports-list-mobile__container
    & .os-scrollbar.os-scrollbar-horizontal
      padding: 0 40px
      margin-bottom: 0
