@import '~tiny-slider/src/tiny-slider'

.sports-list-mobile-slider__wrap
  display: none
  .tns-nav
    display: none
  .sports-list-mobile-slider
    margin-top: 10px
    margin-bottom: 25px
    .tns-item
      padding: 15px 10px
      position: relative
      text-align: center
      margin-right: 25px
      background: rgba(255, 255, 255, 0.25)
      border-radius: 5px
      transition: all .26s
      cursor: pointer

      span
        display: inline-block
        margin-top: 10px
        font-weight: 700
        width: 100%
        text-align: left
        margin-left: -11px
        transition: all .26s

      &:hover
        transform: translateY(-5px)
        
        span
          transform: translateY(10px) scale(1.1)
          margin-top: 5px

      > svg
        width: 100%
        height: 100%

    .tns-item.tns-nav-active
      opacity: 1

      


@media (max-width: 768px)
  .sports-list-mobile-slider__wrap
    display: block
    padding-top: 10px
    & > .tns-outer
      padding-top: 15px
      padding-bottom: 15px