@import '../helpers/variables'

.country-list
  margin-bottom: 100px

  &__columns-2
    column-count: 2

  &__columns-3
    column-count: 3

  &__item
    padding-right: 20px
    margin-bottom: 15px
    cursor: pointer
    break-inside: avoid

    &.highlighted
      .country-list__item-link
        color: $red

    &-link
      font-size: 1.375rem
      color: #fff
      text-decoration: none
      transition: all .5s ease-out
      display: flex
      // align-items: center

      &:hover
        color: $red

    &-flag
      display: inline-block
      width: 30px
      height: 30px
      margin-right: 10px
      border-radius: 50%
      overflow: hidden
      text-align: center
      vertical-align: text-bottom
      background-repeat: no-repeat
      background-size: cover
      background-position: center

    &-name
      flex: 1
      width: 100%

@media (max-width: 768px)
  .country-list
    &__columns-3
      column-count: 2

@media (max-width: 425px)
  .country-list
    &__columns-2, &__columns-3
      column-count: 1