@import "../helpers/variables"
@import '~tiny-slider/src/tiny-slider'
@import '../components/os-theme-round-light'

.desktop-photo-slider
  position: relative
  &__image
    width: 100%
    height: 460px
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(white, .5)
    & img
      max-width: 100%
      max-height: 100%
  &__thumbnails
    padding-bottom: 25px
    margin-top: 30px
    white-space: nowrap
  &__thumbnail
    width: 140px
    height: 100px
    border: 3px solid rgba(white, 0)
    outline: none
    display: inline-flex
    align-items: center
    justify-content: center
    opacity: 0.5
    overflow: hidden
    &.tns-nav-active
      opacity: 1
    img
      height: 100%
      width: auto

  .tns-controls
    button
      position: absolute
      top: 50%
      z-index: 1
      transform: translateY(-50%)
      background-color: rgba(white, .5)
      border: none
      width: 30px
      height: 30px
      border-radius: 50%
      content: '' !important
      display: flex
      align-items: center
      justify-content: center
      outline: none

      &:first-child
        left: 0
        transform: translateX(-200%)

      &:last-child
        right: 0
        transform: translateX(200%)

      svg
        max-width: 50%
        max-height: 50%

// Categories Styles
.multimedia__category-list
  display: flex
  flex-wrap: wrap
  margin-bottom: 100px

.multimedia__category
  text-decoration: none
  width: calc((100% - 1px) / 3 - 30px)
  text-align: center
  margin: 0 15px 50px

  &:hover
    .category__image
      opacity: .75

    .category__name
      color: $red

.multimedia__category--active
  .category__name
    color: $red

.category__image
  transition: opacity .25s ease-out

  img
    max-width: 100%

.category__name
  color: white
  font-size: 1.5rem
  font-weight: 900
  transition: color .25s ease-out

@media (max-width: 768px)
  .multimedia-main-slider__wrap
    .tns-controls
      button
        &:first-child
          transform: translateX(-125%)

        &:last-child
          transform: translateX(125%)

  .multimedia__category
    width: calc(100% / 2 - 30px)

@media (max-width: 425px)
  .multimedia-main-slider__wrap
    .tns-controls
      display: none

  .item__image
    height: 200px

  .custom-nav__item
    width: 100px
    height: 80px

  .multimedia__category
    width: 100%
    margin: 0 0 50px