@import '../helpers/variables'
@import '../components/os-theme-round-light'

.timeline__header
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  z-index: 2
  display: flex
  align-items: center
  overflow: hidden
  padding: 0 40px
  mask-image: linear-gradient(rgba(white, 0) 0%, black 25%, black 75%, rgba(white, 0) 100%)

  .games__categories
    width: 100%
    height: 40vh

  .games__category-link
    text-decoration: none
    color: white
    text-align: center
    font-size: 1.25rem
    font-weight: 900
    opacity: .5
    transition: opacity .25s linear
    width: calc(100vw / 6)
    display: block
    text-align: right
    margin: 15px 30px 15px

    &:not(&--active):hover
      opacity: 1

    &--active
      color: $red
      opacity: 1

    &--parent-category
      color: $red
      font-size: .875rem
      font-weight: 400

@media (max-width: 1024px)
  .timeline__header
    max-width: 100%
    height: auto
    border-bottom: 1px solid rgba(white, .5)
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%)
    transform: translateY(0)
    position: static

    .games__categories
      width: 100%
      height: auto

    .games__categories-wrap
      white-space: nowrap

    .games__category-link
      min-width: auto
      width: auto
      text-align: center
      display: inline-flex
      white-space: normal

      span
        display: inline-flex

    .os-scrollbar
      display: none

@media (max-width: 425px)
  .timeline__header
    padding: 0

    .games__category-link
      font-size: .75rem
      margin: 5px 10px

      span
        max-width: 45vw