@import '../helpers/variables'
@import '../components/os-theme-round-light'

.directories-list__wrapper
  display: flex
  justify-content: center
  max-width: 280px
  width: 100%
  margin: 0 50px
  position: fixed
  right: 0
  top: 50%
  transform: translateY(-50%)

.directories-list
  opacity: 0
  height: 60vh
  position: relative
  padding-right: 20px
  width: 100%
  mask-image: linear-gradient(transparent 0%, black 25%, black 75%, transparent 100%)
  transform: translateX(50%)
  transition: opacity 200ms, transform 200ms

  &.visible
    opacity: 1
    transform: translateX(0)

.list__item
  margin: 10px 0
  padding-right: 15px
  text-align: right

.list-item__link
  font-size: 1.125rem
  font-weight: 900
  color: white
  text-decoration: none
  transition: opacity .25s ease-out

  &:not(.list-item__link--active):hover
    opacity: .5

.list-item__link--active
  color: $red

@media (max-width: 1024px)
  .sport-list__wrapper
    margin: 0 30px

@media (max-width: 768px)
  .sport-list__wrapper
    display: none