.downloads
  &__list
    columns: 2
    column-gap: 30px

  &__item
    a
      text-decoration: none
      display: inline-flex
      align-items: center
      margin-bottom: 20px

    a:hover &-name
      color: $red

    &-icon
      margin-right: 15px
      width: 30px
      height: 30px

      svg, img
        max-width: 100%
        max-height: 100%

    &-name
      color: #fff
      flex: 1

@media (max-width: 425px)
  .downloads
    &__list
      columns: 1