@import "~@glidejs/glide/src/assets/sass/glide.core"
@import '../helpers/variables'

.entry-slider
  position: relative

  .slide__content
    height: 100vh
    width: 100%
    overflow: hidden
    position: relative

  .slide__bg
    height: 110%
    width: 110%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    transform: translate(0, -5%)
    position: relative

    &:after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(rgba($darkBlue, .9), rgba($darkBlue, .9), rgba($darkBlue, .9), rgba($darkBlue, .97), $darkBlue)

  .slide__text
    position: absolute
    left: calc(100vw / 6)
    top: 50%
    transform: translateY(-50%)
    width: calc(100vw / 6 * 2)
    overflow: hidden
    text-decoration: none
    color: white

    &:hover
      .slide__title
        transition: color .25s ease-out
        color: $red

  .slide__title
    font-size: 3rem
    font-weight: 900
    line-height: 1
    margin-bottom: 20px
    transform: translateX(-100%)

  .slide__description
    font-size: 1.125rem
    transform: translateX(-100%)

  .lottie__area
    position: absolute
    right: calc(100vw / 12)
    top: 50%
    transform: translate(130%, -50%)
    width: calc(100vw / 6 * 2.5)
    height: 100vh
    display: flex
    align-items: center
    opacity: 0
    transition: all .35s ease-out

  .lottie__content
    max-width: 90%
    max-height: 100%
    width: 100%
    height: 100%

    svg
      width: 100%

  .glide__slide--active
    &:hover
      .slide__bg
        transition: transform .5s ease-out

    .slide__bg
      transition: transform 2s ease-out
      transform: translate(-7.5%, -5%)

    .slide__title, .slide__description
      transition: all 1s ease-out
      transform: translateX(0%)
      opacity: 1

    .lottie__area
      transform: translate(0, -50%)
      opacity: 1

  .glide__bullets
    position: absolute
    top: calc(50% + 130px)
    left: calc(100vw / 6)
    width: calc(100vw / 6 * 2)
    z-index: 1
    display: flex

  .glide__bullet
    width: calc( 20% - 10px )
    border: none
    outline: none
    padding: 2px 0
    margin-right: 10px
    cursor: pointer
    background-color: rgba(#fff, 0)

  .dot-wrap
    height: 2px
    background-color: white
    position: relative
    overflow: hidden

  .glide__bullet--active
    .dot-progress
      right: auto
      left: 0
      background: $red
      transition: width 0.1s linear

  .dot-progress
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    left: auto
    height: 100%
    width: 0
    transition: all .35s linear
    background: linear-gradient(to right, rgba($red, 0), $red)

@media (max-width: 1024px)
  .entry-slider
    .slide__text
      left: 100px

    .glide__bullets
      top: calc(50% + 140px)
      left: 100px

    .lottie__area
      right: 0
      width: calc(100vw / 6 * 4 + 100px)

@media (max-width: 768px)
  .entry-slider
    .slide__text
      left: 50px

    .slide__title
      font-size: 2rem

    .glide__bullets
      top: calc(50% + 130px)
      left: 50px

    .lottie__area
      right: 0
      width: calc(100vw / 6 * 3 + 100px)

@media (max-width: 425px)
  .entry-slider
    .slide__content
      display: flex
      flex-direction: column
      padding: 20vh 15px 15px

    .slide__bg
      position: absolute
      top: 0
      left: 0

    .slide__text
      position: static
      width: 100%
      transform: translateY(0)
      overflow: visible
      height: 120px
      margin-bottom: 22px

    .slide__title
      font-size: 1.25rem
      margin-bottom: 10px

    .slide__description
      font-size: .875rem

    .lottie__area
      position: static
      width: 100%
      transform: translate(130%, 0)
      height: auto
      display: flex
      align-items: center
      justify-content: center
      flex: 1

    .lottie__content
      width: auto
      height: auto
      max-height: 90%

      svg
        max-height: 90%
        max-width: 90%

    .glide__slide--active
      .lottie__area
        transform: translate(0, 0)

    .glide__bullets
      top: calc(20vh + 130px)
      left: 15px
      width: 70%

    .glide__bullet
      width: calc( 25% - 10px )

      &:last-child
        margin-right: 0