@import "../helpers/_variables"
@import '~tiny-slider/src/tiny-slider'
@import '~glightbox/dist/css/glightbox.css'

.photo-slider__wrap
  .tns-item
    transition: opacity .26s easy-out

    & img
      height: 70vh
      opacity: .5

  .tns-slide-current
    & img
      opacity: 1

    .item__text
      display: flex

.item__wrap
  position: relative
  width: 40vw
  overflow: hidden
  display: block
  text-align: center
  background-color: black
  text-decoration: none

.item__text
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  padding: 20px 40px
  font-weight: 900
  background: linear-gradient(rgba(white, 0) 60%, rgba(black, .85))
  display: none
  text-align: left
  flex-direction: column
  justify-content: flex-end
  text-decoration: none

.game__type
  color: white
  font-size: 2rem
  display: block

.game__address
  color: $red
  font-size: 1.5rem

@media (max-width: 1024px)
  .photo-slider__wrap
    .tns-item
      & img
        height: 45vh

  .item__wrap
    width: 50vw

@media (max-width: 425px)
  .photo-slider__wrap
    .tns-item
      & img
        height: 40vh

  .item__wrap
    width: 60vw

  .item__text
    padding: 10px 20px

  .game__type
    font-size: 1.125rem

  .game__address
    font-size: 1rem
    font-weight: 300
