@import 'navigation'

.header
  position: absolute
  top: 0
  left: 0
  z-index: 1
  max-width: 100%
  width: 100%
  padding: 30px 40px
  display: flex
  align-items: center
  justify-content: space-between

// Logo Styles
.header__logo
  display: flex
  align-items: center
  text-decoration: none
  outline: none

  & svg, & img
    max-height: 80px

// .logo__text
//   color: white
//   display: flex
//   flex-direction: column
//   font-size: 1rem
//   font-weight: 500
//   margin-left: 10px

//   & span
//     display: block
//     line-height: 1.2

// Navigation Toggle Styles
.nav-toggle
  display: flex
  align-items: center
  cursor: pointer

.nav-toggle__text
  color: white
  margin-right: 15px
  font-size: 1rem

.nav-toggle__icon
  width: 30px
  height: 15px
  position: relative
  transform: rotate(0deg)
  transition: .5s ease-in-out

  & span
    height: 1px
    width: calc(100% - 5px)
    display: block
    position: absolute
    background-color: white
    opacity: 1
    right: 0
    transform: rotate(0deg)
    transition: all .3s ease-in-out

    &:nth-child(1)
      top: 0

    &:nth-child(2)
      top: 7px
      left: 0
      width: 100%

    &:nth-child(3)
      top: 14px

.nav-toggle--active
  display: none
  .nav-toggle__text
    display: none

  .nav-toggle__icon
    & span
      background-color: $red

      &:nth-child(1)
        top: 7px
        transform: rotate(135deg)

      &:nth-child(2)
        opacity: 0
        left: -20px
        right: auto
        width: 0
        z-index: -1

      &:nth-child(3)
        top: 7px
        transform: rotate(-135deg)

@media (max-width: 768px)
  .vertical-lines
    display: none

  .header
    padding: 20px 30px

  .nav-toggle__text
    display: none

@media (max-width: 425px)
  .header
    padding: 10px 15px

  .header__logo
    & svg, & img
      max-height: 60px

  // .logo__text
  //   font-size: .875rem
  //   margin-left: 5px