@import '~aos/dist/aos.css'
@import '../helpers/variables'
@import '../components/loader'
@import '../components/pagination'
@import 'social-network-links'
@import 'header'

* body
  min-width: 320px
  font-family: AvenirLTStd, sans-serif !important
  font-size: 1rem
  font-weight: 100
  line-height: 1.5
  color: white
  background-color: $darkBlue

.block-scroll
  overflow: hidden !important
  height: 100vh

#wrapper
  overflow-x: hidden

* main
  transition: opacity .5s easy-out
  overflow: hidden

.content-top
  position: absolute
  top: 0
  left: 0
  z-index: -1
  width: 100%
  height: 100vh
  background-size: cover
  background-position: center
  background-attachment: fixed
  opacity: .2

  &:after
    content: ''
    display: block
    position: absolute
    bottom: 0
    left: 0
    height: 200px
    width: 100%
    background: linear-gradient(rgba(0, 0, 0, 0), $darkBlue)

  & + div
    margin-top: 150px

.content
  max-width: $maxContentWidth
  width: calc(100% / 6 * 4)
  margin: 0 auto

.content--fullwidth
  max-width: 100%
  width: 100%

.content--right-floated
  max-width: calc(#{$maxContentWidth} + ((100% - #{$maxContentWidth}) / 2))
  width: calc(100% / 6 * 5)
  margin-right: 0

* section
  margin-bottom: 80px

  &:after
    content: ''
    display: block
    clear: both

.section--text-center
  text-align: center

.section-subtitle
  margin-bottom: 25px
  color: $red
  font-size: 4rem
  font-weight: 900
  line-height: 1.2

.section-title
  margin-bottom: 20px
  color: $red
  font-size: 3.5rem
  font-weight: 900
  line-height: 1.2

  a
    text-decoration: none
    color: inherit
    transition: opacity .25s ease-out

    &:hover
      opacity: .75

.section-title--white
  color: white

.section-title--center
  text-align: center

.section-title--small
  font-size: 2.5rem

.section-title--mini
  font-size: 1.5rem

p
  font-size: 1rem
  font-weight: 100
  margin-bottom: 20px

.section__bottom-link
  display: none

.page-content
  margin-top: 20px

  h2
    font-size: 1.5rem
    font-weight: 900
    line-height: 1.2
    color: white
    margin-top: 50px
    margin-bottom: 20px

  img
    max-width: 100%

  p, p *
    color: inherit !important
    font-family: AvenirLTStd, sans-serif !important

.content-img
  display: inline-block

  img
    max-width: 100%
    max-height: 100%

.content-img--left-floated
  float: left
  margin-right: 20px

.content-img--right-floated
  float: right
  margin-left: 20px

.text-content
  width: 100%

@media (max-width: 1024px)
  .vertical-lines
    width: calc(100% - 200px)

  .section-title
    font-size: 3rem

  .section-title--mini
    font-size: 1.125rem

  .content
    width: calc(100% - 200px)

  .content--fullwidth
    max-width: 100%
    width: 100%

  .content--right-floated
    width: calc(100% - 100px)

@media (max-width: 768px)
  .vertical-lines
    display: none

  .content
    max-width: 768px
    width: calc(100% - 100px)

  .content--fullwidth
    max-width: 100%
    width: 100%

  .content--right-floated
    width: calc(100% - 40px)

  .content-top
    & + div
      margin-top: 120px

  .section-subtitle
    font-size: 3.5rem

  * section
    margin-bottom: 80px

  .section__bottom-link
    display: block
    margin-top: 50px
    text-align: center

    & a
      text-decoration: none
      color: white
      font-weight: 900

@media (max-width: 500px)
  .section-subtitle
    font-size: 3rem

@media (max-width: 425px)
  .content
    width: calc(100% - 40px)

  .content--fullwidth
    max-width: 100%
    width: 100%

  .content--right-floated
    width: calc(100% - 20px)

  .content-top
    & + div
      margin-top: 100px

  * section
    margin-bottom: 50px

  .section-title
    font-size: 2rem
    margin-bottom: 20px

  .section-title--small
    font-size: 1.5rem

  .section-title--mini
    font-size: 1rem

  .section-subtitle
    font-size: 2.2rem

  .page-content
    h2
      font-size: 1.25rem
      margin-top: 30px

  .content-img
    margin-bottom: 20px
    float: none

  .content-img--left-floated
    margin-right: 0

  .content-img--right-floated
    margin-left: 0
