@import '../helpers/variables'

@keyframes rotateCenter
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.loader
  &__wrap
    position: fixed
    top: 0
    left: 0
    z-index: 5
    width: 100%
    height: 100%
    background-color: rgba($darkBlue, .98)
    display: flex
    align-items: center
    justify-content: center
    transition: .5s linear

  &__hidden
    opacity: 0
    visibility: hidden
    z-index: -10

  &__content
    position: relative
    max-width: 50%
    display: inline-flex
    align-items: center
    justify-content: center

  &__bg-img
    max-width: 100px
    transition: .5s linear

    img
      max-width: 100%

  &__hidden &__bg-img
    opacity: 0
    visibility: hidden
    transform: scale(5)

  &__center
    position: absolute
    top: 0%
    left: 0%
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

    img
      max-width: 40%
      width: 100%
      animation: rotateCenter 3s linear infinite
