.mark__categories-list
  display: flex

.mark__category
  display: flex
  flex-direction: column
  align-items: center
  text-decoration: none
  padding: 15px  10px
  border-radius: 20px
  width: 25%

  &:hover
    background-color: rgba(white, .15)

.category__image
  margin-bottom: 20px
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%

  & img
    max-width: 80%
    max-height: 200px

.category__text
  margin-top: auto

.category__name
  color: white
  font-size: 1.375rem

  &:after
    content: 'details...'
    color: $red
    font-size: .875rem
    font-weight: 900
    display: block

@media (max-width: 768px)
  .mark__categories-list
    flex-wrap: wrap

  .mark__category
    width: 33.333%

  .category__image
    & img
      max-width: 90%

@media (max-width: 425px)
  .mark__category
    width: 50%

  .category__image
    & img
      max-width: 100%