@import '../helpers/variables'

.members-list
  display: flex
  justify-content: space-between
  flex-wrap: wrap

a.member:hover
  color: $red

.member
  text-decoration: none
  display: flex
  align-items: center
  color: white
  width: calc(50% - 15px)
  margin-bottom: 30px

  &__avatar
    margin-right: 15px
    width: 40px
    height: 40px
    border-radius: 20px
    overflow: hidden
    background-size: cover
    background-position: center

  &__info
    flex: 1

  &__name
    font-size: 1.125rem
    font-weight: 900

  &__role
    font-size: .875rem
    text-transform: uppercase

@media (max-width: 768px)
  .member
    align-items: flex-start

@media (max-width: 425px)
  .members-list
    flex-direction: column

  .member
    width: 100%