@mixin fixed
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0

.navigation
  @include fixed
  z-index: 10
  visibility: hidden
  &__drawer
    width: calc(100% - 106px)
    height: 100%
    padding: 40px
    background-color: white
    visibility: hidden
    transform: translateX(120%)
    transition: all .35s ease-out
  &__drawer-content
    position: relative
    height: 100%
    overflow: hidden

  &__close
    position: absolute
    top: 40px
    right: 30px
    display: flex
    justify-content: center
    align-items: center
    width: 48px
    height: 48px
    opacity: 0
    cursor: pointer
    & .nav-toggle
      display: block

  &__backdrop
    @include fixed
    background-color: rgba(black, 0.5)
    visibility: hidden
    opacity: 0
    transition: opacity .35s ease-out
    z-index: -1

  &__background
    position: absolute
    top: 0
    left: 0
    z-index: 0
    background-size: cover
    background-position: center
    width: 100%
    height: 100%
    opacity: .1
    transform: scale(1.25)
    transition: transform .25s ease-out
    &--hovered
      transform: scale(1)

  &--active
    visibility: visible
    & .navigation__drawer
      transform: translateX(0)

    & .navigation__drawer,
    & .navigation__close,
    & .navigation__backdrop,
    & .nav__item
      opacity: 1
      visibility: visible

.nav
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  position: relative
  overflow: hidden
  @media screen and (max-width: 768px) and (orientation: landscape)
    display: block
    overflow-y: auto
  &--hovered
    transform: scale(1)

  &__list
    list-style: none
    line-height: 1.2
    margin-left: 80px
    position: relative
    z-index: 1
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center

  &__item
    margin-bottom: 8px
    opacity: 0
    visibility: hidden
    transition: all .25s ease-in

  &__link
    text-decoration: none
    color: black
    font-size: 2.875rem
    font-weight: 900
    line-height: 1
    transition: transform .2s ease-out
    display: inline-block
    &--hovered
      color: $red
      transform: translateX(20px)

  &__footer
    padding: 20px 80px

.copyright-text
  font-size: .875rem
  font-weight: 300
  color: black

@media (max-width: 768px)
  .navigation__drawer
    width: calc(100% - 85px)

  .navigation__close
    top: 40px
    right: 20px

  .nav__list
    margin-left: 40px

  .nav__footer
    padding: 20px 40px

    & svg
      width: 18px
      height: 18px
      transition: opacity .25s ease-out
      fill: $darkBlue

@media (max-width: 425px)
  .navigation
    &__drawer
      width: calc(100% - 58px)
      padding: 20px
    &__close
      top: 20px
      right: 8px

  .nav
    justify-content: flex-start

  .nav__list
    margin-left: 20px

  .nav__link
    font-size: 1.75rem

  .nav__footer
    padding: 10px 20px

  .copyright-text
    font-size: .75rem

    & span
      display: block
      opacity: 0
      height: 5px

@media (max-width: 350px)
  .nav__link
    font-size: 1.25rem