.news-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start

.news__preview
  display: flex
  margin-bottom: 40px

  &:last-child, &:nth-last-child(2)
    margin-bottom: 0

.news__preview--group
  width: calc(50% - 10px)

  .preview__left
    width: 35%

.preview__left
  margin-right: 15px

.news__image
  display: flex
  align-items: center
  justify-content: center
  height: 200px
  overflow: hidden
  outline: none
  transition: opacity .25s ease-out
  background-size: cover
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: 100%
    height: 100%
    background-color: rgba($darkBlue, .85)

  img
    width: auto !important
    height: auto !important
    max-width: 100%
    max-height: 100%
    position: relative
    z-index: 1

.preview__right
  position: relative
  display: flex
  flex: 1
  flex-direction: column
  padding-right: 10px

.news__title
  margin-bottom: 20px
  font-size: 1.5rem
  font-weight: 900
  line-height: 1.2

  & a
    color: white
    text-decoration: none
    transition: color .15s ease-out

    &:hover
      color: $red

.news__excerpt
  font-weight: 300
  margin-bottom: 20px

  & p
    margin: 0

.news__date
  margin-top: auto
  color: $red
  font-size: 1.25rem
  font-weight: 700
  line-height: .4

// Single News Preview
.news__preview--single
  width: 100%
  margin-bottom: 40px !important

  .preview__left
    overflow: hidden
    width: 60%
    margin-right: 20px

  .news__image
    height: 350px

  .news__title
    font-size: 2rem

@media (max-width: 1024px)
  .news__preview
    margin-bottom: 40px

    &:nth-last-child(2)
      margin-bottom: 40px

  .news__preview--group
    width: 100%

    .preview__left
      width: 50%

  .news__image
    height: 260px

  // Single News Preview
  .news__preview--single
    .preview__left
      width: 50%

    .news__image
      height: 260px

    .news__title
      font-size: 1.5rem

@media (max-width: 425px)
  .news__preview
    display: block !important

  .news__preview--group
    &:nth-child(odd), &:nth-child(even)
      .preview__left
        width: 100%
        margin-right: 0

  .news__image
    height: 200px

  .news__preview--single
    .preview__left
      width: 100%
      margin-right: 0

    .news__image
      height: 200px

  .news__date
    font-size: 1.25rem

  .preview__left
    margin-bottom: 30px
    margin-right: 0
