@import '~overlayscrollbars/css/OverlayScrollbars.css'

// os-theme-round-light
.os-theme-round-light
  .os-scrollbar
    padding: 0

  .os-scrollbar-horizontal
    right: 20px
    height: 20px

    .os-scrollbar-track
      &:before
        content: ""
        display: block
        position: absolute
        background: white
        left: 3px
        right: 3px
        height: 1px
        top: 50%

      .os-scrollbar-handle
        height: 100%
        min-width: 20px
        max-width: 20px

  .os-scrollbar-vertical
    bottom: 20px
    width: 20px

    .os-scrollbar-track
      &:before
        content: ""
        display: block
        position: absolute
        background: white
        top: 3px
        bottom: 3px
        width: 1px
        left: 50%

      .os-scrollbar-handle
        width: 100%
        min-height: 20px
        max-height: 20px

  &.os-host-rtl
    .os-scrollbar-horizontal
      left: 20px
      right: 0

  .os-scrollbar-corner
    height: 20px
    width: 20px
    background-color: transparent

  .os-scrollbar
    .os-scrollbar-track
      background: transparent

      .os-scrollbar-handle
        background: transparent

        &:before
          content: ""
          display: block
          position: absolute
          background: white
          border-radius: 100%
          top: 3px
          bottom: 3px
          left: 3px
          right: 3px
          transform: scale(1)

        &.active, &:hover
          &:before
            transform: scale(1.3)

  &.os-host-transition
    .os-scrollbar
      .os-scrollbar-track
        .os-scrollbar-handle
          &:before
            transition: transform 0.3s