@import '../helpers/variables'

.pagination
  &__links, &__numerics
    display: flex
    align-items: center
    flex-wrap: wrap

  &__numerics
    order: 2

  &__link
    text-decoration: none
    color: white
    line-height: 1
    border-radius: 24px
    margin: 0 3px
    transition: all .25s linear

    &:not(.pagination__active):hover
      background-color: rgba(white, .5)
      color: $darkBlue

  &__active
    background-color: white
    color: $darkBlue

  &__dots
    margin: 0 3px

  &__element
    display: flex
    align-items: center
    justify-content: center
    width: 44px
    height: 44px
    font-size: .875rem

  &__prev, &__next
    width: 64px

  &__prev-wrap
    order: 1

  &__next-wrap
    order: 3

@media screen and ( max-width: 425px )
  .pagination
    &__links, &__numerics
      justify-content: center
      width: 100%
      order: 1
      margin-bottom: 20px

    &__prev-wrap
      order: 2

    &__next-wrap
      order: 3
