.social-networks__links
  position: fixed
  left: 40px
  bottom: 100px
  z-index: 2

.social-networks__links.inside-nav
  display: none

.social-network__link
  margin-top: 40px

  & a
    text-decoration: none

    &:hover
      & svg
        opacity: .5

  & svg
    width: 16px
    height: 16px
    transition: opacity .25s ease-out
    fill: white

@media (max-width: 768px)
  .social-networks__links.left-fixed
    display: none

  .social-networks__links.inside-nav
    position: static
    display: flex

  .social-networks__links
    margin-bottom: 50px

  .social-network__link
    margin-right: 40px

    & a
      text-decoration: none

      &:hover
        & svg
          opacity: .5

    & svg
      width: 18px
      height: 18px
      transition: opacity .25s ease-out
      fill: $darkBlue

@media (max-width: 425px)
  .social-networks__links
    margin-bottom: 20px

  .social-network__link
    margin-right: 30px