@import '../helpers/variables'
@import '../components/os-theme-round-light'

.sport-list__wrapper
  display: flex
  justify-content: center
  max-width: 220px
  width: 100%
  margin: 0 100px
  position: fixed
  right: 0
  &.fixed
    top: 50%
    transform: translateY(-50%)

.sports-list
  opacity: 0
  min-height: 60vh
  position: relative
  padding-right: 20px
  width: 100%
  mask-image: linear-gradient(transparent 0%, black 25%, black 75%, transparent 100%)
  transform: translateX(50%)
  transition: opacity 200ms, transform 200ms
  &.visible
    opacity: 1
    transform: translateX(0)

.list__group
  margin-top: 30px

  &:first-child
    margin-top: 0

.group__letter
  text-transform: uppercase
  color: $red
  font-size: 2rem
  font-weight: 900
  line-height: 1

.list__item
  margin-top: 10px

.list-item__link
  font-size: 1.125rem
  font-weight: 100
  color: white
  text-decoration: none
  transition: opacity .25s ease-out

  &:not(.list-item__link--active):hover
    opacity: .5

.list-item__link--active
  color: $red

@media (max-width: 1024px)
  .sport-list__wrapper
    margin: 0 30px
@media (max-width: 768px)
  .sport-list__wrapper
    display: none