.title-with-link
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 30px

  .section-title
    margin-bottom: 0
    line-height: 1
    flex: 1

.section__title-link
  display: flex
  align-items: center
  text-decoration: none
  outline: none
  color: white
  font-size: 1.5rem
  font-weight: 900
  transition: opacity .25s ease-out

  &:hover
    opacity: .75

  & svg
    width: 49px
    margin: 0 20px

@media (max-width: 768px)
  .section__title-link
    display: none