mixin leftArrow
  <svg width="16" height="26" viewBox="0 0 16 26" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.5 24.4999L3 12.9999L14.5 1.3999" stroke-width="3" stroke-miterlimit="10"/>
  </svg>

mixin rightArrow
  <svg width="16" height="27" viewBox="0 0 16 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.90002 1.9L13.4 13.4L1.90002 25" stroke-width="3" stroke-miterlimit="10"/>
  </svg>

mixin longRightArrow
  <svg width="49" height="9" viewBox="0 0 49 9" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1 4.09998L47.9 4.09997" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M44.6 8.19995L43.9 7.49995L47.5 4.09995L43.9 0.699951L44.6 -4.96217e-05L49 4.09995L44.6 8.19995Z" fill="white"/>
  </svg>
  