mixin pdfIcon
  <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g clip-path="url(#clip0)">
  <path d="M46.0004 38.5081C46.0004 42.4556 42.8003 45.6557 38.8528 45.6557H7.49239C3.54483 45.6557 0.344727 42.4556 0.344727 38.5081V9.29197L9.63669 0H38.8528C42.8003 0 46.0004 3.2001 46.0004 7.14767V38.5081Z" fill="#E24C3F"/>
  <path opacity="0.2" d="M0.344727 14.2715V9.29199H5.30047L0.344727 14.2715Z" fill="#5D5D5D"/>
  <path d="M0.344727 9.29197H6.53943C8.2429 9.29197 9.63669 7.92194 9.63669 6.21847V0L0.344727 9.29197Z" fill="#FF7063"/>
  <path d="M7.99805 30.7097V15.7603H15.3975C16.0998 15.7603 16.7237 15.8752 17.2688 16.1044C17.8137 16.3339 18.2654 16.653 18.624 17.0617C18.9823 17.4703 19.2549 17.958 19.4414 18.5243C19.6276 19.091 19.7209 19.7181 19.7209 20.4064C19.7209 21.0947 19.6312 21.7401 19.452 22.3423C19.2726 22.9446 19.0073 23.4645 18.6563 23.9018C18.3046 24.3393 17.8567 24.6836 17.3119 24.9343C16.7667 25.1854 16.1288 25.3107 15.3974 25.3107H10.4286V30.7098H7.99805V30.7097ZM10.4287 17.9973V23.0306H14.5587C15.5051 23.0306 16.1968 22.8192 16.6344 22.3961C17.0716 21.9733 17.2904 21.3098 17.2904 20.4063C17.2904 19.5459 17.0573 18.9295 16.5913 18.5564C16.1252 18.1838 15.4476 17.9972 14.5587 17.9972H10.4287V17.9973Z" fill="#FF7063"/>
  <path d="M28.4751 16.1473L30.8197 15.502V28.2359C30.8197 28.5085 30.8337 28.7521 30.8626 28.9673C30.8912 29.1823 30.9272 29.3833 30.9701 29.5695C31.0274 29.7416 31.0919 29.9245 31.1638 30.118C31.2354 30.3116 31.3284 30.5089 31.4434 30.7096H28.9698C28.8837 30.5664 28.7977 30.3728 28.7116 30.1288C28.654 29.8706 28.6111 29.6415 28.5825 29.4405C28.1524 29.8706 27.661 30.233 27.109 30.5268C26.5569 30.8205 25.9653 30.9677 25.3345 30.9677C24.5887 30.9677 23.9328 30.8458 23.3663 30.602C22.7997 30.3584 22.3231 30.0213 21.9359 29.5912C21.5489 29.161 21.2585 28.6484 21.0648 28.0532C20.8713 27.4583 20.7744 26.8163 20.7744 26.1279V25.0955C20.7744 23.2745 21.2546 21.9049 22.2157 20.9871C23.1761 20.0695 24.5744 19.6104 26.41 19.6104C27.1125 19.6104 27.8008 19.7469 28.475 20.0191L28.4751 16.1473ZM28.4751 22.1916C28.1595 22.0054 27.7975 21.8764 27.3889 21.8044C26.9802 21.7328 26.5963 21.6969 26.238 21.6969C25.6644 21.6969 25.1803 21.7759 24.7861 21.9334C24.3916 22.0915 24.069 22.3136 23.8182 22.6003C23.567 22.8873 23.388 23.2314 23.2803 23.6328C23.1728 24.0344 23.119 24.4717 23.119 24.9449V25.7408C23.119 26.1424 23.1476 26.5333 23.2051 26.9131C23.2622 27.2932 23.3735 27.6266 23.5385 27.9132C23.7031 28.2003 23.929 28.4332 24.2159 28.6123C24.5026 28.7918 24.8754 28.8812 25.3345 28.8812C25.6357 28.8812 25.9331 28.8311 26.2273 28.7306C26.521 28.6304 26.8044 28.4978 27.077 28.3327C27.3492 28.168 27.6039 27.9852 27.8404 27.7841C28.077 27.5835 28.2886 27.3755 28.4751 27.1604V22.1916Z" fill="#FF7063"/>
  <path d="M33.8089 18.6639C33.8089 18.2627 33.8627 17.8718 33.9704 17.4916C34.0779 17.1119 34.2463 16.7748 34.4757 16.4806C34.705 16.187 35.0063 15.9503 35.3791 15.7709C35.7518 15.5917 36.1964 15.502 36.7129 15.502C36.9565 15.502 37.2323 15.5271 37.5409 15.5773C37.8492 15.6277 38.118 15.6885 38.3476 15.7602V17.61H37.4871C37.0424 17.61 36.7092 17.7319 36.4871 17.9757C36.2646 18.2197 36.1536 18.5564 36.1536 18.9866V19.8686H38.2402L37.6164 21.8044H36.1537V30.7096H33.8091V21.8044H32.4541V19.8686H33.8091V18.6639H33.8089Z" fill="#FF7063"/>
  <path d="M7.99805 30.1736V15.2241H15.3975C16.0998 15.2241 16.7237 15.339 17.2688 15.5683C17.8137 15.7978 18.2654 16.1169 18.624 16.5255C18.9823 16.9342 19.2549 17.4218 19.4414 17.9882C19.6276 18.5548 19.7209 19.182 19.7209 19.8703C19.7209 20.5586 19.6312 21.2039 19.452 21.8061C19.2726 22.4084 19.0073 22.9284 18.6563 23.3657C18.3046 23.8032 17.8567 24.1474 17.3119 24.3981C16.7667 24.6493 16.1288 24.7746 15.3974 24.7746H10.4286V30.1736H7.99805V30.1736ZM10.4287 17.4612V22.4945H14.5587C15.5051 22.4945 16.1968 22.2831 16.6344 21.8599C17.0716 21.4371 17.2904 20.7737 17.2904 19.8702C17.2904 19.0098 17.0573 18.3934 16.5913 18.0203C16.1252 17.6476 15.4476 17.4611 14.5587 17.4611H10.4287V17.4612Z" fill="white"/>
  <path d="M28.4751 15.6112L30.8197 14.9658V27.6997C30.8197 27.9723 30.8337 28.216 30.8626 28.4311C30.8912 28.6462 30.9272 28.8472 30.9701 29.0334C31.0274 29.2055 31.0919 29.3884 31.1638 29.5819C31.2354 29.7755 31.3284 29.9728 31.4434 30.1735H28.9698C28.8837 30.0302 28.7977 29.8366 28.7116 29.5927C28.654 29.3345 28.6111 29.1053 28.5825 28.9044C28.1524 29.3345 27.661 29.6969 27.109 29.9907C26.5569 30.2843 25.9653 30.4316 25.3345 30.4316C24.5887 30.4316 23.9328 30.3096 23.3663 30.0659C22.7997 29.8222 22.3231 29.4851 21.9359 29.055C21.5489 28.6248 21.2585 28.1123 21.0648 27.517C20.8713 26.9222 20.7744 26.2801 20.7744 25.5918V24.5593C20.7744 22.7384 21.2546 21.3688 22.2157 20.4509C23.1761 19.5334 24.5744 19.0743 26.41 19.0743C27.1125 19.0743 27.8008 19.2107 28.475 19.483L28.4751 15.6112ZM28.4751 21.6555C28.1595 21.4693 27.7975 21.3403 27.3889 21.2683C26.9802 21.1967 26.5963 21.1608 26.238 21.1608C25.6644 21.1608 25.1803 21.2398 24.7861 21.3973C24.3916 21.5553 24.069 21.7775 23.8182 22.0642C23.567 22.3511 23.388 22.6953 23.2803 23.0966C23.1728 23.4983 23.119 23.9356 23.119 24.4088V25.2047C23.119 25.6063 23.1476 25.9972 23.2051 26.377C23.2622 26.7571 23.3735 27.0905 23.5385 27.3771C23.7031 27.6642 23.929 27.897 24.2159 28.0762C24.5026 28.2557 24.8754 28.3451 25.3345 28.3451C25.6357 28.3451 25.9331 28.295 26.2273 28.1945C26.521 28.0943 26.8044 27.9616 27.077 27.7966C27.3492 27.6318 27.6039 27.449 27.8404 27.248C28.077 27.0473 28.2886 26.8393 28.4751 26.6243V21.6555Z" fill="white"/>
  <path d="M33.8089 18.1278C33.8089 17.7265 33.8627 17.3356 33.9704 16.9555C34.0779 16.5757 34.2463 16.2386 34.4757 15.9445C34.705 15.6508 35.0063 15.4142 35.3791 15.2348C35.7518 15.0556 36.1964 14.9658 36.7129 14.9658C36.9565 14.9658 37.2323 14.991 37.5409 15.0411C37.8492 15.0915 38.118 15.1524 38.3476 15.224V17.0738H37.4871C37.0424 17.0738 36.7092 17.1958 36.4871 17.4395C36.2646 17.6835 36.1536 18.0203 36.1536 18.4505V19.3324H38.2402L37.6164 21.2683H36.1537V30.1735H33.8091V21.2683H32.4541V19.3324H33.8091V18.1278H33.8089Z" fill="white"/>
  </g>
  <defs>
  <clipPath id="clip0">
  <rect x="0.344727" width="45.6557" height="45.6557" fill="white"/>
  </clipPath>
  </defs>
  </svg>

mixin docIcon
  <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M48.1726 40.4042H26.4172C25.5595 40.4042 24.8633 39.7112 24.8633 38.8503C24.8633 37.9894 24.8633 8.62902 24.8633 7.77124C24.8633 6.91346 25.5595 6.21729 26.4172 6.21729H48.1726C49.0303 6.21729 49.7265 6.91346 49.7265 7.77124V38.8503C49.7265 39.7112 49.0303 40.4042 48.1726 40.4042Z" fill="#ECEFF1"/>
  <path d="M41.9558 15.541H26.4163C25.5585 15.541 24.8623 14.8479 24.8623 13.9871C24.8623 13.1262 25.5585 12.4331 26.4163 12.4331H41.9558C42.8136 12.4331 43.5097 13.1293 43.5097 13.9871C43.5097 14.8448 42.8136 15.541 41.9558 15.541Z" fill="#1976D2"/>
  <path d="M41.9548 21.7568H26.4153C25.5575 21.7568 24.8613 21.0638 24.8613 20.2029C24.8613 19.342 25.5575 18.6489 26.4153 18.6489H41.9548C42.8126 18.6489 43.5087 19.3451 43.5087 20.2029C43.5087 21.0607 42.8126 21.7568 41.9548 21.7568Z" fill="#1976D2"/>
  <path d="M41.9548 27.9726H26.4153C25.5575 27.9726 24.8613 27.2796 24.8613 26.4187C24.8613 25.5578 25.5575 24.8647 26.4153 24.8647H41.9548C42.8126 24.8647 43.5087 25.5609 43.5087 26.4187C43.5087 27.2765 42.8126 27.9726 41.9548 27.9726Z" fill="#1976D2"/>
  <path d="M41.9548 34.1885H26.4153C25.5575 34.1885 24.8613 33.4954 24.8613 32.6345C24.8613 31.7736 25.5575 31.0806 26.4153 31.0806H41.9548C42.8126 31.0806 43.5087 31.7767 43.5087 32.6345C43.5087 33.4923 42.8126 34.1885 41.9548 34.1885Z" fill="#1976D2"/>
  <path d="M27.4086 0.361342C27.0543 0.0629837 26.5788 -0.0613323 26.1312 0.0287968L1.26802 4.69065C0.534559 4.8274 0 5.47073 0 6.21663V40.4036C0 41.1495 0.531451 41.7928 1.26802 41.9295L26.1312 46.5914C26.2276 46.61 26.3208 46.6194 26.4172 46.6194C26.7777 46.6194 27.1289 46.495 27.4086 46.262C27.766 45.9667 27.9711 45.5285 27.9711 45.0654V1.55478C27.9711 1.0917 27.766 0.656593 27.4086 0.361342Z" fill="#1565C0"/>
  <path d="M20.1933 31.2547C20.1125 31.9664 19.553 32.5352 18.8413 32.6222C18.7761 32.6315 18.7139 32.6346 18.6486 32.6346C18.0084 32.6346 17.4241 32.2368 17.1941 31.6277L13.9868 23.0747L10.7794 31.6277C10.5308 32.2928 9.87814 32.6999 9.15711 32.6253C8.45161 32.5507 7.88598 32.0037 7.78652 31.2982L6.23257 20.4206C6.11136 19.5752 6.70186 18.7858 7.55032 18.6646C8.40189 18.5403 9.18819 19.1339 9.30939 19.9824L10.0025 24.8431L12.5292 18.1021C12.9829 16.89 14.9844 16.89 15.4413 18.1021L17.8219 24.4484L18.658 16.9211C18.7543 16.0695 19.5437 15.4572 20.3735 15.5474C21.2282 15.6468 21.8405 16.4145 21.7472 17.266L20.1933 31.2547Z" fill="#FAFAFA"/>
  </svg>

mixin pptIcon
  <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M48.1726 6.21826H26.4172C25.5595 6.21826 24.8633 6.91443 24.8633 7.77221V38.8512C24.8633 39.709 25.5595 40.4052 26.4172 40.4052H48.1726C49.0303 40.4052 49.7265 39.709 49.7265 38.8512V7.77221C49.7265 6.91443 49.0303 6.21826 48.1726 6.21826Z" fill="#ECEFF1"/>
  <path d="M41.9567 34.189H26.4172C25.5595 34.189 24.8633 33.4928 24.8633 32.635C24.8633 31.7772 25.5595 31.0811 26.4172 31.0811H41.9567C42.8145 31.0811 43.5107 31.7772 43.5107 32.635C43.5107 33.4928 42.8145 34.189 41.9567 34.189Z" fill="#F57C00"/>
  <path d="M34.1877 12.4341C29.8957 12.4341 26.418 15.9118 26.418 20.2038C26.418 24.4959 29.8957 27.9736 34.1877 27.9736C38.4797 27.9736 41.9575 24.4959 41.9575 20.2038H34.1877V12.4341Z" fill="#F57C00"/>
  <path d="M37.2939 9.32568V17.0954H45.0637C45.0637 12.8034 41.586 9.32568 37.2939 9.32568Z" fill="#F57C00"/>
  <path d="M27.4086 0.359503C27.0543 0.064252 26.5788 -0.063172 26.1312 0.0300651L1.26802 4.69192C0.531451 4.82867 0 5.46889 0 6.2179V40.4048C0 41.1507 0.531451 41.7941 1.26802 41.9308L26.1312 46.5927C26.2245 46.6113 26.3208 46.6206 26.4172 46.6206C26.7777 46.6206 27.1289 46.4963 27.4086 46.2632C27.766 45.968 27.9711 45.5266 27.9711 45.0667V1.55605C27.9711 1.09297 27.766 0.654754 27.4086 0.359503Z" fill="#EF6C00"/>
  <path d="M10.8772 34.1889C10.0194 34.1889 9.32324 33.4927 9.32324 32.635V17.0955C9.32324 16.2377 10.0194 15.5415 10.8772 15.5415H15.539C18.9671 15.5415 21.7549 18.3293 21.7549 21.7573C21.7549 25.1853 18.9671 27.9731 15.539 27.9731H12.4311V32.635C12.4311 33.4927 11.735 34.1889 10.8772 34.1889ZM12.4311 24.8652H15.539C17.2515 24.8652 18.647 23.4698 18.647 21.7573C18.647 20.0449 17.2515 18.6494 15.539 18.6494H12.4311V24.8652Z" fill="#FAFAFA"/>
  </svg>

mixin xlsIcon
  <svg width="50" height="47" viewBox="0 0 50 47" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M48.1726 40.4052H26.4172C25.5595 40.4052 24.8633 39.709 24.8633 38.8512C24.8633 37.9935 24.8633 8.62999 24.8633 7.77221C24.8633 6.91443 25.5595 6.21826 26.4172 6.21826H48.1726C49.0303 6.21826 49.7265 6.91443 49.7265 7.77221V38.8512C49.7265 39.709 49.0303 40.4052 48.1726 40.4052Z" fill="#ECEFF1"/>
  <path d="M32.633 15.5425H26.4172C25.5595 15.5425 24.8633 14.8463 24.8633 13.9885C24.8633 13.1307 25.5595 12.4346 26.4172 12.4346H32.633C33.4908 12.4346 34.187 13.1307 34.187 13.9885C34.187 14.8463 33.4908 15.5425 32.633 15.5425Z" fill="#388E3C"/>
  <path d="M32.633 21.7573H26.4172C25.5595 21.7573 24.8633 21.0611 24.8633 20.2034C24.8633 19.3456 25.5595 18.6494 26.4172 18.6494H32.633C33.4908 18.6494 34.187 19.3456 34.187 20.2034C34.187 21.0611 33.4908 21.7573 32.633 21.7573Z" fill="#388E3C"/>
  <path d="M32.633 27.9736H26.4172C25.5595 27.9736 24.8633 27.2775 24.8633 26.4197C24.8633 25.5619 25.5595 24.8657 26.4172 24.8657H32.633C33.4908 24.8657 34.187 25.5619 34.187 26.4197C34.187 27.2775 33.4908 27.9736 32.633 27.9736Z" fill="#388E3C"/>
  <path d="M32.633 34.1894H26.4172C25.5595 34.1894 24.8633 33.4933 24.8633 32.6355C24.8633 31.7777 25.5595 31.0815 26.4172 31.0815H32.633C33.4908 31.0815 34.187 31.7777 34.187 32.6355C34.187 33.4933 33.4908 34.1894 32.633 34.1894Z" fill="#388E3C"/>
  <path d="M41.9568 15.542H38.8489C37.9911 15.542 37.2949 14.8458 37.2949 13.988C37.2949 13.1303 37.9911 12.4341 38.8489 12.4341H41.9568C42.8146 12.4341 43.5107 13.1303 43.5107 13.988C43.5107 14.8458 42.8146 15.542 41.9568 15.542Z" fill="#388E3C"/>
  <path d="M41.9568 21.7573H38.8489C37.9911 21.7573 37.2949 21.0611 37.2949 20.2034C37.2949 19.3456 37.9911 18.6494 38.8489 18.6494H41.9568C42.8146 18.6494 43.5107 19.3456 43.5107 20.2034C43.5107 21.0611 42.8146 21.7573 41.9568 21.7573Z" fill="#388E3C"/>
  <path d="M41.9568 27.9736H38.8489C37.9911 27.9736 37.2949 27.2775 37.2949 26.4197C37.2949 25.5619 37.9911 24.8657 38.8489 24.8657H41.9568C42.8146 24.8657 43.5107 25.5619 43.5107 26.4197C43.5107 27.2775 42.8146 27.9736 41.9568 27.9736Z" fill="#388E3C"/>
  <path d="M41.9568 34.1894H38.8489C37.9911 34.1894 37.2949 33.4933 37.2949 32.6355C37.2949 31.7777 37.9911 31.0815 38.8489 31.0815H41.9568C42.8146 31.0815 43.5107 31.7777 43.5107 32.6355C43.5107 33.4933 42.8146 34.1894 41.9568 34.1894Z" fill="#388E3C"/>
  <path d="M27.4086 0.359503C27.0543 0.064252 26.5788 -0.063172 26.1312 0.0300651L1.26802 4.69192C0.531451 4.82867 0 5.46889 0 6.2179V40.4048C0 41.1507 0.531451 41.7941 1.26802 41.9308L26.1312 46.5927C26.2245 46.6113 26.3208 46.6206 26.4172 46.6206C26.7777 46.6206 27.1289 46.4963 27.4086 46.2632C27.766 45.968 27.9711 45.5266 27.9711 45.0667V1.55605C27.9711 1.09297 27.766 0.654754 27.4086 0.359503Z" fill="#2E7D32"/>
  <path d="M21.3694 28.5048L16.4558 22.8888L21.4253 16.4989C21.9536 15.8214 21.8293 14.8455 21.1549 14.3172C20.4805 13.7888 19.5046 13.9132 18.9732 14.5876L14.3704 20.505L10.4917 16.0732C9.92295 15.4205 8.94086 15.3614 8.30063 15.9271C7.65418 16.4927 7.58892 17.4748 8.15456 18.1182L12.4279 23.0038L8.09551 28.5731C7.56716 29.2507 7.69148 30.2265 8.36589 30.7549C8.65182 30.9755 8.99058 31.0812 9.32313 31.0812C9.78621 31.0812 10.2431 30.8761 10.5507 30.4814L14.5133 25.3844L19.0322 30.5467C19.3399 30.901 19.7688 31.0812 20.2008 31.0812C20.5644 31.0812 20.928 30.9538 21.2233 30.6958C21.8697 30.1302 21.935 29.1481 21.3694 28.5048Z" fill="#FAFAFA"/>
  </svg>

