mixin medalGoldBelt
  <svg width="42" height="52" viewBox="0 0 42 52" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M25.8007 0H41.3186L28.4182 16.4641H12.9004L25.8007 0Z" fill="#0E6A8E"/>
  <path d="M25.8007 0H32.3589L19.4586 16.4641H12.9004L25.8007 0Z" fill="#E52E40"/>
  <path d="M30.8164 0H36.3027L23.4023 16.4641H17.916L30.8164 0Z" fill="#EAEAE4"/>
  <path d="M20.6583 51.5548C29.5348 51.5548 36.7306 44.359 36.7306 35.4825C36.7306 26.606 29.5348 19.4102 20.6583 19.4102C11.7818 19.4102 4.58594 26.606 4.58594 35.4825C4.58594 44.359 11.7818 51.5548 20.6583 51.5548Z" fill="#F9AC30"/>
  <path d="M12.8979 21.4041V16.4644H28.4157V21.4041L31.0459 23.219V15.1491C31.0459 14.4231 30.4578 13.834 29.7308 13.834H11.5827C10.8567 13.834 10.2676 14.4231 10.2676 15.1491V23.22L12.8979 21.4041Z" fill="#F9AC30"/>
  <path d="M20.6591 47.5145C27.3043 47.5145 32.6913 42.1276 32.6913 35.4824C32.6913 28.8372 27.3043 23.4502 20.6591 23.4502C14.0139 23.4502 8.62695 28.8372 8.62695 35.4824C8.62695 42.1276 14.0139 47.5145 20.6591 47.5145Z" fill="#DD8D19"/>
  <path d="M15.5178 0H0L12.9003 16.4641H28.4182L15.5178 0Z" fill="#E52E40"/>
  <path d="M15.5172 0H8.95898L21.8594 16.4641H28.4176L15.5172 0Z" fill="#0E6A8E"/>
  <path d="M10.5019 0H5.01562L17.916 16.4641H23.4023L10.5019 0Z" fill="#EAEAE4"/>
  <path d="M19.9096 30.1705L19.099 31.1895C18.9369 31.3516 18.7284 31.4211 18.5896 31.4211C18.1031 31.4211 17.7559 30.9117 17.7559 30.4253C17.7559 30.078 17.9411 29.6843 18.2423 29.4758L20.6507 27.16C20.8129 26.998 20.9981 26.9053 21.276 26.9053C21.7854 26.9053 22.3644 27.2062 22.3644 27.7158V43.0465C22.3644 43.5791 21.7391 43.857 21.137 43.857C20.5117 43.857 19.9096 43.579 19.9096 43.0465V30.1705Z" fill="#F9AC30"/>
  </svg>

mixin medalSilverBelt
  <svg width="42" height="52" viewBox="0 0 42 52" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M25.8007 0H41.3186L28.4182 16.4641H12.9004L25.8007 0Z" fill="#0E6A8E"/>
  <path d="M25.8007 0H32.3589L19.4586 16.4641H12.9004L25.8007 0Z" fill="#E52E40"/>
  <path d="M30.8164 0H36.3027L23.4023 16.4641H17.916L30.8164 0Z" fill="#EAEAE4"/>
  <path d="M20.6583 51.5548C29.5348 51.5548 36.7306 44.359 36.7306 35.4825C36.7306 26.606 29.5348 19.4102 20.6583 19.4102C11.7818 19.4102 4.58594 26.606 4.58594 35.4825C4.58594 44.359 11.7818 51.5548 20.6583 51.5548Z" fill="#C4C4C4"/>
  <path d="M12.8979 21.4041V16.4644H28.4157V21.4041L31.0459 23.219V15.1491C31.0459 14.4231 30.4578 13.834 29.7308 13.834H11.5827C10.8567 13.834 10.2676 14.4231 10.2676 15.1491V23.22L12.8979 21.4041Z" fill="#C4C4C4"/>
  <path d="M20.6591 47.5145C27.3043 47.5145 32.6913 42.1276 32.6913 35.4824C32.6913 28.8372 27.3043 23.4502 20.6591 23.4502C14.0139 23.4502 8.62695 28.8372 8.62695 35.4824C8.62695 42.1276 14.0139 47.5145 20.6591 47.5145Z" fill="#A9A9A9"/>
  <path d="M15.5178 0H0L12.9003 16.4641H28.4182L15.5178 0Z" fill="#E52E40"/>
  <path d="M15.5172 0H8.95898L21.8594 16.4641H28.4176L15.5172 0Z" fill="#0E6A8E"/>
  <path d="M10.5019 0H5.01562L17.916 16.4641H23.4023L10.5019 0Z" fill="#EAEAE4"/>
  <path d="M20.9896 26.4473C23.6759 26.4473 25.9455 28.2768 25.9455 31.0558C25.9455 36.0348 18.4422 37.6559 18.4422 40.3191V41.1991H25.2506C25.6675 41.1991 26.0612 41.6855 26.0612 42.2644C26.0612 42.8434 25.6675 43.376 25.2506 43.376H17.0063C16.5432 43.376 15.918 43.0519 15.918 42.5654V40.319C15.918 36.5674 23.4908 34.6917 23.4908 31.1252C23.4908 29.9905 22.7498 28.6936 20.9898 28.6936C19.693 28.6936 18.6508 29.4114 18.6508 30.9863C18.6508 31.4494 18.1644 31.9126 17.354 31.9126C16.7056 31.9126 16.2425 31.5884 16.2425 30.5463C16.2421 28.0684 18.4654 26.4473 20.9896 26.4473Z" fill="#C4C4C4"/>
  </svg>


mixin medalBronzeBelt
  <svg width="42" height="52" viewBox="0 0 42 52" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M25.8007 0H41.3186L28.4182 16.4641H12.9004L25.8007 0Z" fill="#0E6A8E"/>
  <path d="M25.8007 0H32.3589L19.4586 16.4641H12.9004L25.8007 0Z" fill="#E52E40"/>
  <path d="M30.8164 0H36.3027L23.4023 16.4641H17.916L30.8164 0Z" fill="#EAEAE4"/>
  <path d="M20.6583 51.5548C29.5348 51.5548 36.7306 44.359 36.7306 35.4825C36.7306 26.606 29.5348 19.4102 20.6583 19.4102C11.7818 19.4102 4.58594 26.606 4.58594 35.4825C4.58594 44.359 11.7818 51.5548 20.6583 51.5548Z" fill="#B5724D"/>
  <path d="M12.8979 21.4041V16.4644H28.4157V21.4041L31.0459 23.219V15.1491C31.0459 14.4231 30.4578 13.834 29.7308 13.834H11.5827C10.8567 13.834 10.2676 14.4231 10.2676 15.1491V23.22L12.8979 21.4041Z" fill="#B5724D"/>
  <path d="M20.6591 47.5145C27.3043 47.5145 32.6913 42.1276 32.6913 35.4824C32.6913 28.8372 27.3043 23.4502 20.6591 23.4502C14.0139 23.4502 8.62695 28.8372 8.62695 35.4824C8.62695 42.1276 14.0139 47.5145 20.6591 47.5145Z" fill="#915737"/>
  <path d="M15.5178 0H0L12.9003 16.4641H28.4182L15.5178 0Z" fill="#E52E40"/>
  <path d="M15.5172 0H8.95898L21.8594 16.4641H28.4176L15.5172 0Z" fill="#0E6A8E"/>
  <path d="M10.5019 0H5.01562L17.916 16.4641H23.4023L10.5019 0Z" fill="#EAEAE4"/>
  <path d="M23.7538 38.7867V38.3466C23.7538 36.494 22.6191 35.8224 20.9285 35.8224C20.3496 35.8224 20.1412 35.3361 20.1412 34.8498C20.1412 34.3403 20.3496 33.854 20.9285 33.854C22.3411 33.854 23.337 33.4139 23.337 31.3066C23.337 29.6161 22.5264 28.9213 21.0212 28.9213C19.1455 28.9213 18.6127 29.8707 18.6127 30.8202C18.6127 31.4224 18.3348 31.8161 17.4548 31.8161C16.3665 31.8161 16.1811 31.5612 16.1811 30.6813C16.1811 29.176 17.2233 26.7676 21.0443 26.7676C23.7537 26.7676 25.6991 27.8329 25.6991 30.8898C25.6991 32.8119 24.958 34.2245 23.8465 34.7572C25.2127 35.2898 26.2086 36.3783 26.2086 38.3467V38.7868C26.2086 42.4689 23.8465 43.8351 20.9285 43.8351C17.3159 43.8351 15.8105 41.5887 15.8105 39.7594C15.8105 38.9489 16.1115 38.7173 16.9452 38.7173C17.9642 38.7173 18.219 39.0183 18.219 39.6436C18.219 40.6627 19.0759 41.6584 20.9517 41.6584C22.8506 41.6583 23.7538 40.8015 23.7538 38.7867Z" fill="#B5724D"/>
  </svg>

mixin medalGold
  <svg width="33" height="38" viewBox="0 0 33 38" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M16.6583 37.7208C25.5348 37.7208 32.7306 30.525 32.7306 21.6485C32.7306 12.772 25.5348 5.57617 16.6583 5.57617C7.78177 5.57617 0.585938 12.772 0.585938 21.6485C0.585938 30.525 7.78177 37.7208 16.6583 37.7208Z" fill="#F9AC30"/>
  <path d="M8.89785 7.57011V2.63037H24.4157V7.57011L27.0459 9.38498V1.31514C27.0459 0.589148 26.4578 0 25.7308 0H7.58271C6.85673 0 6.26758 0.589148 6.26758 1.31514V9.38599L8.89785 7.57011Z" fill="#F9AC30"/>
  <path d="M16.6591 33.6806C23.3043 33.6806 28.6913 28.2936 28.6913 21.6484C28.6913 15.0032 23.3043 9.61621 16.6591 9.61621C10.0139 9.61621 4.62695 15.0032 4.62695 21.6484C4.62695 28.2936 10.0139 33.6806 16.6591 33.6806Z" fill="#DD8D19"/>
  <path d="M15.9096 16.3365L15.099 17.3555C14.9369 17.5176 14.7284 17.5871 14.5896 17.5871C14.1031 17.5871 13.7559 17.0777 13.7559 16.5913C13.7559 16.244 13.9411 15.8503 14.2423 15.6419L16.6507 13.326C16.8129 13.164 16.9981 13.0713 17.276 13.0713C17.7854 13.0713 18.3644 13.3723 18.3644 13.8819V29.2125C18.3644 29.7452 17.7391 30.0231 17.137 30.0231C16.5117 30.0231 15.9096 29.7451 15.9096 29.2125V16.3365Z" fill="#F9AC30"/>
  </svg>


mixin medalSilver
  <svg width="33" height="38" viewBox="0 0 33 38" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M16.0723 37.7208C24.9488 37.7208 32.1447 30.525 32.1447 21.6485C32.1447 12.772 24.9488 5.57617 16.0723 5.57617C7.19583 5.57617 0 12.772 0 21.6485C0 30.525 7.19583 37.7208 16.0723 37.7208Z" fill="#C4C4C4"/>
  <path d="M8.31191 7.57011V2.63037H23.8297V7.57011L26.46 9.38498V1.31514C26.46 0.589148 25.8719 0 25.1449 0H6.99678C6.27079 0 5.68164 0.589148 5.68164 1.31514V9.38599L8.31191 7.57011Z" fill="#C4C4C4"/>
  <path d="M16.0732 33.6806C22.7184 33.6806 28.1054 28.2936 28.1054 21.6484C28.1054 15.0032 22.7184 9.61621 16.0732 9.61621C9.428 9.61621 4.04102 15.0032 4.04102 21.6484C4.04102 28.2936 9.428 33.6806 16.0732 33.6806Z" fill="#A9A9A9"/>
  <path d="M16.4037 12.6133C19.0899 12.6133 21.3595 14.4429 21.3595 17.2218C21.3595 22.2009 13.8563 23.8219 13.8563 26.4851V27.3651H20.6647C21.0815 27.3651 21.4752 27.8515 21.4752 28.4305C21.4752 29.0094 21.0815 29.542 20.6647 29.542H12.4204C11.9572 29.542 11.332 29.2179 11.332 28.7314V26.485C11.332 22.7334 18.9049 20.8577 18.9049 17.2912C18.9049 16.1565 18.1639 14.8596 16.4039 14.8596C15.1071 14.8596 14.0649 15.5774 14.0649 17.1523C14.0649 17.6155 13.5785 18.0786 12.7681 18.0786C12.1196 18.0786 11.6566 17.7544 11.6566 16.7123C11.6562 14.2344 13.8794 12.6133 16.4037 12.6133Z" fill="#C4C4C4"/>
  </svg>


mixin medalBronze
  <svg width="33" height="38" viewBox="0 0 33 38" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M16.0723 37.7208C24.9488 37.7208 32.1447 30.525 32.1447 21.6485C32.1447 12.772 24.9488 5.57617 16.0723 5.57617C7.19583 5.57617 0 12.772 0 21.6485C0 30.525 7.19583 37.7208 16.0723 37.7208Z" fill="#B5724D"/>
  <path d="M8.31191 7.57011V2.63037H23.8297V7.57011L26.46 9.38498V1.31514C26.46 0.589148 25.8719 0 25.1449 0H6.99678C6.27079 0 5.68164 0.589148 5.68164 1.31514V9.38599L8.31191 7.57011Z" fill="#B5724D"/>
  <path d="M16.0732 33.6815C22.7184 33.6815 28.1054 28.2945 28.1054 21.6494C28.1054 15.0042 22.7184 9.61719 16.0732 9.61719C9.428 9.61719 4.04102 15.0042 4.04102 21.6494C4.04102 28.2945 9.428 33.6815 16.0732 33.6815Z" fill="#915737"/>
  <path d="M19.1679 24.9527V24.5127C19.1679 22.66 18.0332 21.9884 16.3426 21.9884C15.7637 21.9884 15.5553 21.5021 15.5553 21.0158C15.5553 20.5063 15.7637 20.02 16.3426 20.02C17.7552 20.02 18.751 19.58 18.751 17.4726C18.751 15.7821 17.9405 15.0873 16.4353 15.0873C14.5595 15.0873 14.0268 16.0367 14.0268 16.9862C14.0268 17.5884 13.7489 17.9821 12.8689 17.9821C11.7805 17.9821 11.5952 17.7272 11.5952 16.8473C11.5952 15.342 12.6373 12.9336 16.4584 12.9336C19.1678 12.9336 21.1132 13.9989 21.1132 17.0558C21.1132 18.9779 20.3721 20.3905 19.2605 20.9232C20.6268 21.4559 21.6227 22.5443 21.6227 24.5128V24.9528C21.6227 28.6349 19.2605 30.0012 16.3426 30.0012C12.73 30.0012 11.2246 27.7547 11.2246 25.9255C11.2246 25.1149 11.5256 24.8833 12.3593 24.8833C13.3783 24.8833 13.6331 25.1843 13.6331 25.8097C13.6331 26.8287 14.4899 27.8244 16.3657 27.8244C18.2647 27.8243 19.1679 26.9675 19.1679 24.9527Z" fill="#B5724D"/>
  </svg>
