mixin OCALogo
  <svg width="124" height="124" viewBox="0 0 124 124" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M66.8 65.3C67.7 64.2 67.1 63.2 67.5 62.5C67.5 62.5 66.7 63.4 66.3 63.9C66 64.4 66.8 65.3 66.8 65.3Z" fill="#FF281D"/>
  <path d="M73.3 43.9C70.9 42.4 68.3 41.4 65.5 40.9C62.8 40.5 60.1 40.5 57.5 41.2C54.8 41.8 52.4 42.9 50.1 44.4C47.8 46 45.9 48 44.4 50.4C42.9 52.8 41.9 55.4 41.4 58.2C41 60.9 41 63.6 41.7 66.2C42.3 68.9 43.4 71.3 44.9 73.6C46.5 75.9 48.5 77.8 50.9 79.3C53.3 80.8 55.9 81.8 58.7 82.3C61.4 82.7 64.1 82.7 66.7 82C69.4 81.4 71.8 80.3 74.1 78.8C76.4 77.2 78.3 75.2 79.8 72.8C81.3 70.4 82.3 67.8 82.8 65C83.2 62.3 83.2 59.6 82.5 57C81.9 54.3 80.8 51.9 79.3 49.6C77.7 47.4 75.7 45.4 73.3 43.9ZM72.5 45.2C67.4 44.8 64.2 48.2 64 48.5C64.6 47.2 65.4 46.3 66.3 45.6C68 44.1 70.5 44 72.5 45.2ZM67.1 42.9C67.2 42.9 67.2 42.9 67.1 42.9C67.4 43 67.6 43 67.9 43.1C68 43.1 68.2 43.2 68.3 43.2C60.3 44.7 58.6 51.7 58.6 51.7C57.7 49.6 58.5 47.5 59.6 45.7C61.3 43.3 64.3 42.2 67.1 42.9ZM59.2 58.6C59.2 58.6 58.6 59.3 58.2 59.5C58.2 59.5 57.9 59.2 57.9 58.8C57.9 57.6 59.4 57 59.5 56.3C59.5 56.3 59.6 57.4 59.5 58C59.6 58.1 59.4 58.4 59.2 58.6ZM70.1 66C70.1 66.2 70.1 66.4 70 66.6C70 66.7 69.9 66.9 69.9 67C69.2 70.4 67.5 72.4 67.5 73.6C67.5 73.6 67.4 73.5 67.3 73.2C65.4 75.8 65.7 80 66.1 80.5C61.3 81.5 56.2 80.7 51.8 77.9C42.7 72.2 40 60.2 45.7 51.1C49.4 45.3 55.6 42.1 62 42C55 45.6 55.5 52.8 56.2 59C56.3 60.4 56.5 61.8 56.4 62.9C56.3 63.5 56.2 64.1 56 64.7C56 64.8 56 64.8 55.9 64.9C55.5 65.8 54.9 66.7 54 67.7C54 67.7 54 67.7 54.1 67.7C55.1 69.1 56.3 69 57.9 68.4C56 71.5 59.3 72 59.5 71.7C57.3 71.6 58.5 68.6 59.9 67.2C60.1 67 60.3 66.9 60.3 66.9C60.5 66 61 65 61.3 64.6C62 63.6 62.9 62.6 63.7 62.2C64.8 62 65.8 61.2 66.2 60.2C66.5 59.5 66.5 58.8 66.2 58.3C66.7 58.4 67.3 58.6 67.8 59.4C68.1 60 68.3 60.5 68.3 60.5C70.3 62.3 70.1 66 70.1 66ZM77.6 49.9C77.8 50.1 78 50.4 78.1 50.7C78.1 50.7 78.1 50.7 78 50.7C77.8 50.6 77.7 50.5 77.5 50.5C74.6 48.9 71.9 48.1 69.4 47.9C69.3 47.9 69.2 47.9 69 47.9C69.6 47.5 70.2 47.2 70.8 47C72.5 46.3 74.4 46.7 75.7 48C76.1 48.4 76.5 48.8 76.9 49.3C77.2 49.5 77.5 49.7 77.6 49.9Z" fill="#FF281D"/>
  <path d="M122.6 61.4C122.7 61.4 122.7 61.5 122.8 61.5C122.7 61.4 122.7 61.4 122.6 61.4C111.8 59.9 101 58.4 89.9 56.9C90.7 56.4 91.3 56.2 91.8 55.9C94.6 54.3 97.3 52.6 99.3 50.1C100.8 48.3 102.7 47.1 105 46.6C106.7 46.2 108.4 45.8 110.3 45.4C106.9 42.7 103.4 41.6 99.4 43.4C97.8 44.1 96.3 45 94.7 45.8C93.1 46.6 91.4 47.5 89.7 47.9C87.4 48.5 85.1 48.6 82.6 48C90.5 38.6 98.2 29.3 106 20C105.9 19.9 105.8 19.8 105.7 19.7C97 26.4 88.4 33.1 79.7 39.8C80.5 36.7 80.9 33.7 80.7 30.6C80.5 26.8 81.7 23.4 83.9 20.3C84.5 19.4 85.1 18.6 85.9 17.5C81.7 18.3 78.6 20 76.7 23.7C75.8 25.5 75.2 27.4 74.5 29.3C73.3 32.6 71.4 35.3 68.3 37.1C67.6 37.5 67.3 37.5 67.2 36.6C65.8 26.2 64.4 15.9 63 5.5C62.8 3.8 62.5 2.2 62.3 0.5C62.2 0.5 62.1 0.5 62 0.5C60.3 12.5 58.7 24.4 57 36.7C56.6 35.9 56.3 35.4 56 34.8C54.4 31.8 52.5 28.9 49.9 26.7C47.5 24.7 46.3 22 45.7 19.1C45.5 17.9 45.2 16.7 45 15.2C42.8 19.2 42.4 23.1 44 27.1C44.9 29.4 46.1 31.7 46.8 34.1C47.4 36.3 47.7 38.6 47.2 41C37.5 33.5 27.9 26.2 18.3 18.8C18.3 18.9 18.3 19 18.2 19C25.5 27.7 32.8 36.4 40.1 45.2C39.5 45.4 39.1 45.1 38.7 45C35.6 44.1 32.5 43.8 29.3 44.1C26.6 44.4 24 43.8 21.6 42.5C20 41.6 18.6 40.5 17 39.5C16.9 40 17 40.3 17.1 40.6C18.2 45.2 21.2 47.9 25.5 49.4C27.7 50.1 29.9 50.8 31.9 52C33.7 53.1 35.2 54.4 36.3 56.4C33.2 56.8 30.3 57.2 27.4 57.6C18.8 58.8 10.1 60 1.5 61.2C1.5 61.3 1.4 61.3 1.3 61.3C1.4 61.3 1.4 61.2 1.5 61.2C1 61.1 0.5 61.2 0 61.6C0.3 61.6 0.500001 61.6 0.700001 61.6C11.9 63.1 23.2 64.7 34.5 66.2C34.3 66.4 34.3 66.5 34.3 66.6C33.9 66.8 33.5 67 33 67.3C29.9 69 26.9 70.8 24.5 73.6C23 75.4 21.1 76.4 18.8 76.9C17.1 77.3 15.4 77.6 13.5 78C16.6 80.5 19.8 81.7 23.5 80.5C24.9 80 26.2 79.4 27.5 78.7C29.4 77.7 31.3 76.7 33.3 76.1C35.8 75.3 38.4 75.2 41.1 75.9C33.1 85.3 25.3 94.6 17.4 103.8C17.5 103.9 17.6 104 17.6 104.1C26.4 97.4 35.3 90.7 44.3 84C44.3 84.5 44.3 84.7 44.2 85C43.4 87.7 43.1 90.4 43.2 93.1C43.4 96.8 42.2 100.1 40.1 103.1C39.5 104 38.8 104.9 38.1 106C42.4 105.2 45.7 103.3 47.4 99.4C48 98.1 48.5 96.7 49 95.4C49.7 93.6 50.4 91.7 51.5 90.1C52.8 88.3 54.4 87 56.4 86.1C57.3 92.5 58.2 98.8 59.1 105.1C59.9 111 60.7 116.8 61.5 122.7C61.5 123 61.2 123.6 61.8 123.6C62.1 123.6 62 123.1 62 122.7C62 122.4 62 122 62.1 121.7C63.3 113.7 64.5 105.7 65.7 97.7C66.2 94.4 66.7 91.1 67.3 87.6C67.6 88 67.7 88.2 67.8 88.3C69.6 91.8 71.9 95 74.9 97.6C76.4 98.9 77.3 100.7 77.8 102.6C78.3 104.4 78.6 106.3 79 108.4C81.2 104.3 81.6 100.5 80 96.4C79.1 94.1 77.9 91.9 77.2 89.5C76.5 87.2 76.2 84.9 76.8 82.4C86.6 89.9 96.3 97.4 105.9 104.8C106 104.7 106 104.7 106.1 104.6C98.8 95.9 91.5 87.1 84 78.2C84.6 78.4 85 78.4 85.3 78.5C88.3 79.4 91.4 79.6 94.5 79.2C97.4 78.9 100 79.4 102.6 80.8C104.2 81.6 105.6 82.7 107.2 83.8C106.4 79.7 104.5 76.5 100.8 74.7C98.7 73.7 96.5 73.1 94.3 72.3C91.9 71.4 89.7 70 88.1 67.9C87.2 66.7 87.3 66.7 88.6 66.5C91.4 66.1 94.2 65.7 97 65.3C105.7 64.1 114.3 62.9 123 61.7C123.2 61.7 123.4 61.8 123.6 61.6C123.6 61.3 123.2 61.3 122.6 61.4ZM61.9 84.3C49.4 84.2 39.4 74 39.5 61.3C39.6 48.9 49.6 39 62.1 39C74.7 39 84.7 49.1 84.7 61.7C84.6 74.3 74.4 84.4 61.9 84.3Z" fill="#FF281D"/>
  </svg>