mixin facebookLogo
  <svg width="17" height="18" viewBox="0 0 17 18" xmlns="http://www.w3.org/2000/svg">
  <path d="M14.4 0.700012H2.2C1 0.700012 0 1.70001 0 2.90001V15.1C0 16.3 1 17.3 2.2 17.3H8.2V11.3H6.7C6.5 11.3 6.3 11.1 6.3 10.9V9.00001C6.3 8.80001 6.5 8.60001 6.7 8.60001H8.2V6.70001C8.2 4.50001 9.5 3.40001 11.4 3.40001H13C13.2 3.40001 13.4 3.60001 13.4 3.80001V5.40001C13.4 5.60001 13.2 5.80001 13 5.80001H12C11 5.80001 10.8 6.30001 10.8 7.00001V8.60001H13.1C13.3 8.60001 13.5 8.80001 13.5 9.00001L13.3 10.9C13.3 11.1 13.1 11.2 12.9 11.2H10.8V17.2H14.4C15.6 17.2 16.6 16.2 16.6 15V2.90001C16.6 1.70001 15.6 0.700012 14.4 0.700012Z"/>
  </svg>

mixin twitterLogo
  <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
  <path d="M20.3 2C19.6 2.3 18.7 2.6 17.9 2.7C18.7 2.1 19.4 1.3 19.7 0.3C18.9 0.8 18 1.1 17 1.3C16.2 0.5 15.2 0 13.9 0C11.6 0 9.7 1.9 9.7 4.2C9.7 4.5 9.7 4.8 9.8 5.2C6.3 5 3.2 3.4 1.2 0.8C1 1.4 0.8 2.1 0.8 2.9C0.8 4.3 1.5 5.6 2.7 6.4C2 6.4 1.4 6.2 0.8 5.9V6C0.8 8 2.2 9.7 4.2 10.1C3.8 10.2 3.5 10.2 3.1 10.2C2.8 10.2 2.6 10.2 2.3 10.1C2.8 11.8 4.4 13 6.2 13C4.8 14.1 3 14.8 1 14.8C0.7 14.8 0.3 14.8 0 14.7C1.8 15.9 4 16.6 6.4 16.6C14.1 16.6 18.3 10.2 18.3 4.7V4.2C19 3.6 19.7 2.8 20.3 2Z" />
  </svg>

mixin instagramLogo
  <svg width="19" height="19" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
  <path d="M13 0H5.9C2.6 0 0 2.6 0 5.9V13C0 16.3 2.6 18.9 5.9 18.9H13C16.3 18.9 18.9 16.3 18.9 13V5.9C18.9 2.6 16.3 0 13 0ZM17.2 12.9C17.2 15.2 15.3 17 13.1 17H6C3.7 17 1.9 15.1 1.9 12.9V5.8C1.9 3.5 3.8 1.7 6 1.7H13.1C15.4 1.7 17.2 3.6 17.2 5.8V12.9Z" />
  <path d="M9.49999 4.70001C6.89999 4.70001 4.79999 6.80001 4.79999 9.40001C4.79999 12 6.89999 14.1 9.49999 14.1C12.1 14.1 14.2 12 14.2 9.40001C14.2 6.80001 12.1 4.70001 9.49999 4.70001ZM9.49999 12.3C7.89999 12.3 6.59999 11 6.59999 9.40001C6.59999 7.80001 7.89999 6.50001 9.49999 6.50001C11.1 6.50001 12.4 7.80001 12.4 9.40001C12.4 11 11.1 12.3 9.49999 12.3Z" />
  <path d="M14.6 4.90001C14.9314 4.90001 15.2 4.63138 15.2 4.30001C15.2 3.96864 14.9314 3.70001 14.6 3.70001C14.2686 3.70001 14 3.96864 14 4.30001C14 4.63138 14.2686 4.90001 14.6 4.90001Z"/>
  </svg>

mixin youtubeLogo
  <svg width="22" height="15" viewBox="0 0 22 15" xmlns="http://www.w3.org/2000/svg">
  <path d="M20.2 1.3C19.4 0.4 18 0 15.3 0H5.5C2.9 0.1 1.4 0.5 0.7 1.4C-1.78814e-07 2.3 0 3.7 0 5.6V9.3C0 13 0.9 14.9 5.7 14.9H15.5C17.8 14.9 19.1 14.6 20 13.8C20.9 13 21.2 11.6 21.2 9.3V5.6C21.1 3.6 21 2.3 20.2 1.3ZM13.5 8L9.1 10.3C9 10.4 8.9 10.4 8.8 10.4C8.7 10.4 8.6 10.4 8.4 10.3C8.2 10.2 8.1 10 8.1 9.7V5.1C8.1 4.9 8.2 4.6 8.4 4.5C8.6 4.4 8.9 4.4 9.1 4.5L13.5 6.8C13.7 6.9 13.9 7.1 13.9 7.4C13.9 7.7 13.7 7.9 13.5 8Z" />
  </svg>

mixin weiboLogo
  <svg width="511.794" height="511.795" viewBox="0 0 511.794 511.795" xmlns="http://www.w3.org/2000/svg">
  <path d="M413.691,261.553c-8.747-5.522-18.555-9.995-29.403-13.42c-2.286-0.765-3.907-1.333-4.859-1.715 c-0.951-0.381-2.098-1.093-3.425-2.141c-1.335-1.049-1.767-2.24-1.284-3.571c0.479-1.332,0.903-3.234,1.284-5.708 c8.559-21.888,8.559-38.828,0-50.819c-8.762-11.61-23.315-17.417-43.688-17.417c-20.365,0-43.776,5.617-70.229,16.845 l-1.718,0.572c-1.135,0.381-2.422,0.71-3.847,0.998c-1.431,0.288-2.812,0.333-4.143,0.144c-1.328-0.188-2.281-0.854-2.853-1.997 c-0.572-1.143-0.474-3.046,0.287-5.711c8.561-27.6,6.661-47.488-5.713-59.672c-14.083-14.084-37.541-14.75-70.377-1.997 c-32.827,12.756-65.326,35.214-97.496,67.384c-24.362,24.362-43.159,48.916-56.387,73.66C6.611,281.736,0,305.045,0,326.939 c0,20.554,6.186,39.54,18.555,56.959c12.375,17.419,28.693,31.788,48.966,43.112c20.268,11.32,43.158,20.177,68.662,26.553 c25.505,6.372,51.678,9.562,78.515,9.562c26.838,0,52.58-2.947,77.226-8.847c24.646-5.903,46.158-13.798,64.521-23.698 c18.371-9.894,34.407-21.077,48.109-33.548c13.709-12.467,24.078-25.498,31.124-39.115c7.043-13.606,10.568-26.885,10.568-39.823 c0-12.18-3.23-23.274-9.709-33.264C430.07,274.827,422.452,267.072,413.691,261.553z M320.482,392.474 c-27.884,22.553-63.05,36.019-105.493,40.396c-27.79,2.666-53.915,0.667-78.371-5.995c-24.457-6.667-44.302-17.036-59.527-31.121 c-15.227-14.09-23.697-30.27-25.41-48.544c-2.667-27.788,9.945-52.958,37.829-75.513c27.884-22.56,63.05-36.025,105.494-40.402 c27.79-2.668,53.913-0.666,78.365,5.996c24.455,6.661,44.304,17.034,59.532,31.118c15.229,14.089,23.695,30.269,25.406,48.54 C360.969,344.742,348.366,369.912,320.482,392.474z"/>
  <path d="M223.269,274.126c-20.174-5.141-40.208-3.327-60.098,5.427c-19.892,8.754-34.307,21.978-43.254,39.684 c-8.946,18.076-9.567,35.923-1.857,53.529c7.71,17.607,21.745,29.644,42.112,36.121c21.126,6.848,42.447,5.708,63.953-3.433 c21.508-9.137,36.542-23.414,45.115-42.824c8.559-19.038,8.322-37.165-0.719-54.393 C259.475,291.018,244.395,279.646,223.269,274.126z M192.719,366.63c-4.188,6.468-10.135,10.992-17.848,13.559 c-7.708,2.573-14.803,2.334-21.271-0.712c-6.47-3.046-10.562-7.851-12.275-14.421c-1.714-6.561-0.477-13.076,3.71-19.551 c3.995-6.286,9.707-10.66,17.129-13.131c7.426-2.475,14.372-2.382,20.844,0.284c6.662,2.851,10.948,7.614,12.851,14.273 C197.761,353.592,196.716,360.155,192.719,366.63z M219.554,332.076c-1.331,2.478-3.427,4.24-6.28,5.287 c-2.855,1.048-5.617,1.092-8.28,0.144c-5.708-2.669-6.945-6.946-3.711-12.847c1.332-2.478,3.378-4.236,6.136-5.287 c2.758-1.047,5.47-1.092,8.136-0.14c2.474,0.947,4.139,2.713,4.998,5.283C221.409,327.08,221.078,329.609,219.554,332.076z"/>
  <path d="M407.983,206.884c2.102,4.093,5.332,6.899,9.712,8.423c4.381,1.332,8.61,0.953,12.703-1.143 c4.093-2.091,6.902-5.327,8.426-9.707c3.613-10.656,4.236-21.842,1.848-33.545c-2.375-11.704-7.562-22.032-15.55-30.978 c-7.994-8.947-17.614-15.181-28.839-18.704c-11.231-3.521-22.556-4.043-33.972-1.569c-4.575,0.953-8.094,3.381-10.571,7.282 c-2.471,3.9-3.23,8.136-2.275,12.703c0.76,4.569,3.135,8.09,7.128,10.564c4.001,2.474,8.282,3.235,12.854,2.286 c11.995-2.475,22.169,0.857,30.55,9.992c8.378,9.134,10.656,19.698,6.852,31.691C405.505,198.556,405.892,202.792,407.983,206.884 z"/>
  <path d="M508.917,156.918c-4.859-24.075-15.561-45.251-32.121-63.522c-16.562-18.46-36.356-31.261-59.395-38.403 c-23.028-7.139-46.243-8.232-69.661-3.284c-5.332,1.143-9.473,3.949-12.423,8.424c-2.95,4.476-3.854,9.375-2.707,14.705 c1.14,5.33,3.99,9.469,8.565,12.419c4.562,2.95,9.514,3.855,14.839,2.712c16.563-3.424,33.03-2.614,49.396,2.428 c16.371,5.044,30.457,14.13,42.26,27.264c11.797,12.944,19.418,27.978,22.844,45.111c3.429,17.128,2.478,33.498-2.854,49.105 c-1.52,5.142-1.047,10.09,1.431,14.849c2.471,4.758,6.276,7.992,11.416,9.707c5.141,1.709,10.089,1.331,14.846-1.143 c4.76-2.474,7.997-6.28,9.712-11.42C512.486,203.981,513.769,180.997,508.917,156.918z"/>
  </svg>

mixin lineLogo
  <svg width="22" height="15" viewBox="0 0 455.731 455.731" xmlns="http://www.w3.org/2000/svg">
  <path d="M188.729,165.175h-3.73c-3.68,0-6.66,2.99-6.66,6.67v68.14c0,3.68,2.98,6.67,6.66,6.67h3.73c3.68,0,6.67-2.99,6.67-6.67 v-68.14C195.399,168.165,192.409,165.175,188.729,165.175z"/>
  <path d="M266.209,165.175c-2.36,0-4.49,0.96-6.03,2.5c-1.55,1.54-2.5,3.68-2.5,6.03v39.35c0,0-34.07-44.44-34.59-45.02 c-1.63-1.83-4.03-2.95-6.69-2.85c-4.64,0.17-8.2,4.23-8.2,8.87v64.07c0,4.71,3.82,8.53,8.53,8.53c2.36,0,4.49-0.96,6.03-2.5 c1.55-1.54,2.5-3.68,2.5-6.03v-39.12c0,0,34.59,44.83,35.1,45.31c1.51,1.43,3.54,2.32,5.77,2.34c4.74,0.04,8.61-4.15,8.61-8.89 v-64.06C274.739,168.994,270.919,165.175,266.209,165.175z"/>
  <path d="M161.699,229.584h-25.6v-55.88c0-4.71-3.82-8.53-8.53-8.53c-2.36,0-4.49,0.96-6.03,2.5c-1.55,1.54-2.5,3.68-2.5,6.03v64.42 c0,4.71,3.82,8.53,8.53,8.53h34.13c4.71,0,8.53-3.82,8.53-8.53c0-2.36-0.96-4.49-2.5-6.04 C166.189,230.534,164.049,229.584,161.699,229.584z"/>
  <path d="M330.199,182.235c4.71,0,8.53-3.82,8.53-8.53c0-4.71-3.82-8.53-8.53-8.53h-34.13c-4.71,0-8.53,3.82-8.53,8.53v64.42 c0,4.71,3.82,8.53,8.53,8.53h34.13c4.71,0,8.53-3.82,8.53-8.53c0-2.36-0.96-4.49-2.5-6.04c-1.54-1.55-3.68-2.5-6.03-2.5h-25.6 v-15.14h25.6c4.71,0,8.53-3.82,8.53-8.53c0-2.36-0.96-4.49-2.5-6.03c-1.54-1.55-3.68-2.5-6.03-2.5h-25.6v-15.15H330.199z"/>
  <path d="M0,0v455.731h455.731V0H0z M394.589,209.514c-0.17,2.66-0.55,6.06-1.32,10.09c-2.05,12.85-6.41,25.12-12.75,36.55 c-2.98,5.39-17.61,25.89-22.1,31.29c-24.66,29.71-65.95,63.99-135,97.32c-6.45,3.11-13.8-2.07-13.01-9.18l3.48-31.32 c0.56-4.99-3.05-9.5-8.04-10.03c-81.74-8.55-144.82-64.18-144.82-131.52c0-73.27,74.67-132.67,166.79-132.67 c89.52,0,162.57,56.1,166.62,126.51C394.549,198.594,394.879,205.115,394.589,209.514z"/>
  </svg>
