mixin veloIcon
  <svg width="52" height="64" viewBox="0 0 60 52" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.1007 46.6518C15.6265 47.6918 13.8575 48.4346 11.941 48.4346C7.37097 48.4346 3.53804 44.5718 3.53804 39.9661C3.53804 35.2118 7.37097 31.4975 11.941 31.4975C15.4791 31.4975 18.4275 33.7261 19.7543 36.6975L22.4078 33.8746C20.3439 30.1603 16.511 27.7832 11.941 27.7832C5.30709 27.7832 -0.147461 33.2803 -0.147461 39.9661C-4.07845e-05 46.6518 5.4545 52.0003 12.0884 52.0003C15.1842 52.0003 17.9852 50.8118 20.1965 48.7318C19.312 48.4346 18.5749 47.9889 17.9852 47.3946C17.543 47.2461 17.3955 46.9489 17.1007 46.6518Z" />
    <path d="M35.3807 27.7834L29.0417 24.0691C31.8426 22.2862 30.8107 22.8805 33.6117 21.0977L33.4643 21.9891C33.3168 23.4748 34.4962 24.9605 35.823 25.2577C35.823 25.2577 47.0269 27.1891 47.4692 27.1891C48.9434 27.1891 50.2702 26.1491 50.4176 24.6634C50.7124 23.0291 49.5331 21.3948 47.9114 21.0977L39.6559 19.7605L40.0982 15.7491C40.5404 13.2234 40.6878 12.4805 39.6559 10.9948L38.4765 9.06337C37.0023 6.68623 33.7591 5.7948 31.253 7.42908L18.4274 15.6005C15.3316 17.5319 13.71 21.8405 16.3635 24.9605C17.3955 26.1491 27.1252 32.2405 27.1252 32.2405L19.1645 40.5605C17.8377 42.0462 17.8377 44.2748 19.3119 45.7605C20.049 46.5034 20.9336 46.8005 21.8181 46.8005C22.7026 46.8005 23.7345 46.3548 24.4716 45.6119L35.9704 33.5777C37.8869 31.7948 37.4446 28.9719 35.3807 27.7834Z" />
    <path d="M48.9434 11.2916C51.7444 9.50876 52.6289 5.79448 50.8598 2.97162C49.0908 0.148763 45.4053 -0.742666 42.6043 1.04019C39.8033 2.82305 38.9188 6.53734 40.6878 9.36019C42.4569 12.1831 46.1424 13.0745 48.9434 11.2916Z" />
    <path d="M48.0589 27.7832C41.2776 27.7832 35.9705 33.4289 35.9705 39.9661C35.9705 46.6518 41.425 52.1489 48.0589 52.1489C54.6928 52.1489 60.1474 46.6518 60.1474 39.9661C59.9999 33.1318 54.6928 27.7832 48.0589 27.7832ZM48.0589 48.4346C43.3415 48.4346 39.656 44.5718 39.656 39.9661C39.656 35.2118 43.4889 31.4975 48.0589 31.4975C52.7764 31.4975 56.4619 35.3603 56.4619 39.9661C56.4619 44.5718 52.6289 48.4346 48.0589 48.4346Z" />
  </svg>

mixin volleyballIcon
  <svg width="52" height="64" viewBox="0 0 41 70" xmlns="http://www.w3.org/2000/svg">
    <path d="M16.5625 29.5316C17.1875 29.5316 17.6562 29.3753 18.2812 29.2191C21.4062 28.1253 22.9688 24.6878 21.875 21.5628C20.7812 18.4378 17.3438 16.8753 14.2188 17.9691C12.6563 18.5941 11.4062 19.8441 10.7812 21.2503L11.875 25.4691L16.5625 29.5316Z"/>
    <path d="M40.1562 63.5946C39.0625 61.8758 34.0625 54.5321 32.9687 52.8133C32.9687 52.8133 27.1875 38.5946 26.7187 36.8758L30.7812 36.2508C31.7187 36.0946 32.6562 35.6258 33.125 34.6883L39.2187 25.3133C40.3125 23.7508 39.8437 21.5633 38.2812 20.6258C36.7187 19.5321 34.5312 20.0008 33.5937 21.5633L28.2812 29.6883L16.875 32.1883L10.1562 26.5633L6.71873 13.9071C6.24998 12.0321 4.37498 10.9383 2.49998 11.4071C0.781231 12.0321 -0.312519 13.7508 0.156231 15.6258L3.74998 29.3758C3.90623 30.0008 4.37498 30.6258 4.84373 31.0946L14.2187 39.0633C16.4062 45.1571 15.4687 42.6571 19.6875 53.9071L16.4062 59.5321L10.9375 55.0008C9.21873 53.5946 6.56248 53.7508 5.15623 55.4696C3.74998 57.1883 3.90623 59.8446 5.62498 61.2508L14.6875 68.9071C15.625 69.6883 16.875 70.0008 17.9687 69.8446C19.2187 69.6883 20.1562 68.9071 20.7812 67.9696L27.1875 57.1883L31.25 55.7821L24.2187 67.5008L35.625 70.1571C37.1875 70.4696 38.9062 69.8446 39.8437 68.4383C41.0937 66.8758 41.0937 65.0008 40.1562 63.5946Z"/>
    <path d="M21.8748 11.5628C24.9998 10.4691 26.5623 7.03158 25.4686 3.90658C24.3748 0.781579 20.9373 -0.780921 17.8123 0.312829C14.6873 1.40658 13.1248 4.84408 14.2186 7.96908C15.3123 11.0941 18.7498 12.6566 21.8748 11.5628Z"/>
  </svg>